.icon-da,
.icon-da-arrow-down,
.icon-da-arrow-up,
.icon-da-arrow,
.icon-da-face-0,
.icon-da-face-1,
.icon-da-face-2,
.icon-da-heart-0,
.icon-da-heart-1,
.icon-da-heart-2,
.icon-da-heart2-0,
.icon-da-heart2-1,
.icon-da-heart2-2,
.icon-da-mark-qq,
.icon-da-mark-wx,
.icon-da-menu-1-highlight,
.icon-da-menu-1,
.icon-da-menu-2-highlight,
.icon-da-menu-2,
.icon-da-menu-3-highlight,
.icon-da-menu-3,
.icon-da-menu-4-highlight,
.icon-da-menu-4,
.icon-da-menu-5-highlight,
.icon-da-menu-5,
.icon-da-menu-6-highlight,
.icon-da-menu-6,
.icon-da-menu-7-highlight,
.icon-da-menu-7,
.icon-da-menu-8-highlight,
.icon-da-menu-8,
.icon-da-menu-9-highlight,
.icon-da-menu-9,
.icon-da-menu-all,
.icon-da-menu-basic-highlight,
.icon-da-menu-basic,
.icon-da-menu-content-highlight,
.icon-da-menu-content,
.icon-da-menu-crowd-highlight,
.icon-da-menu-crowd,
.icon-da-menu-imgtxt-highlight,
.icon-da-menu-imgtxt,
.icon-da-menu-interaction-highlight,
.icon-da-menu-interaction,
.icon-da-menu-me,
.icon-da-menu-message-highlight,
.icon-da-menu-message,
.icon-da-menu-operation-highlight,
.icon-da-menu-operation,
.icon-da-menu-property-highlight,
.icon-da-menu-property,
.icon-da-menu-rank-highlight,
.icon-da-menu-rank,
.icon-da-menu-rival-highlight,
.icon-da-menu-rival,
.icon-da-menu-user-highlight,
.icon-da-menu-user,
.icon-da-no-rival,
.icon-da-panel-info,
.icon-da-sex-female,
.icon-da-sex-male,
.icon-da-sex-unknown {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  background: url("../common/images/icons.png?201662") no-repeat;
  background-size: 100px auto;
}
.icon-da-arrow-down {
  width: 12px;
  height: 12px;
  background-position: 0px -16px;
}
.icon-da-arrow-up {
  width: 12px;
  height: 12px;
  background-position: 0px -38px;
}
.icon-da-arrow {
  width: 10px;
  height: 6px;
  background-position: 0px 0px;
}
.icon-da-face-0 {
  width: 100px;
  height: 100px;
  background-position: 0px -1733px;
}
.icon-da-face-1 {
  width: 100px;
  height: 100px;
  background-position: 0px -1623px;
}
.icon-da-face-2 {
  width: 100px;
  height: 100px;
  background-position: 0px -1513px;
}
.icon-da-heart-0 {
  width: 16px;
  height: 14px;
  background-position: 0px -108px;
}
.icon-da-heart-1 {
  width: 16px;
  height: 14px;
  background-position: 0px -60px;
}
.icon-da-heart-2 {
  width: 16px;
  height: 14px;
  background-position: 0px -84px;
}
.icon-da-heart2-0 {
  width: 16px;
  height: 14px;
  background-position: 0px -228px;
}
.icon-da-heart2-1 {
  width: 16px;
  height: 14px;
  background-position: 0px -132px;
}
.icon-da-heart2-2 {
  width: 16px;
  height: 14px;
  background-position: 0px -156px;
}
.icon-da-mark-qq {
  width: 14px;
  height: 14px;
  background-position: 0px -180px;
}
.icon-da-mark-wx {
  width: 14px;
  height: 14px;
  background-position: 0px -204px;
}
.icon-da-menu-1-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-1,
a:hover .icon-da-menu-1,
a:hover .icon-da-menu-1-highlight,
.highlight:hover .icon-da-menu-1,
.icon-da-menu-1-highlight:hover,
.icon-da-menu-1-highlight {
  background-position: 0px -330px;
}
.icon-da-menu-1 {
  width: 16px;
  height: 16px;
  background-position: 0px -356px;
}
.icon-da-menu-2-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-2,
a:hover .icon-da-menu-2,
a:hover .icon-da-menu-2-highlight,
.highlight:hover .icon-da-menu-2,
.icon-da-menu-2-highlight:hover,
.icon-da-menu-2-highlight {
  background-position: 0px -382px;
}
.icon-da-menu-2 {
  width: 16px;
  height: 16px;
  background-position: 0px -408px;
}
.icon-da-menu-3-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-3,
a:hover .icon-da-menu-3,
a:hover .icon-da-menu-3-highlight,
.highlight:hover .icon-da-menu-3,
.icon-da-menu-3-highlight:hover,
.icon-da-menu-3-highlight {
  background-position: 0px -434px;
}
.icon-da-menu-3 {
  width: 16px;
  height: 16px;
  background-position: 0px -460px;
}
.icon-da-menu-4-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-4,
a:hover .icon-da-menu-4,
a:hover .icon-da-menu-4-highlight,
.highlight:hover .icon-da-menu-4,
.icon-da-menu-4-highlight:hover,
.icon-da-menu-4-highlight {
  background-position: 0px -486px;
}
.icon-da-menu-4 {
  width: 16px;
  height: 16px;
  background-position: 0px -512px;
}
.icon-da-menu-5-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-5,
a:hover .icon-da-menu-5,
a:hover .icon-da-menu-5-highlight,
.highlight:hover .icon-da-menu-5,
.icon-da-menu-5-highlight:hover,
.icon-da-menu-5-highlight {
  background-position: 0px -538px;
}
.icon-da-menu-5 {
  width: 16px;
  height: 16px;
  background-position: 0px -564px;
}
.icon-da-menu-6-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-6,
a:hover .icon-da-menu-6,
a:hover .icon-da-menu-6-highlight,
.highlight:hover .icon-da-menu-6,
.icon-da-menu-6-highlight:hover,
.icon-da-menu-6-highlight {
  background-position: 0px -590px;
}
.icon-da-menu-6 {
  width: 16px;
  height: 16px;
  background-position: 0px -616px;
}
.icon-da-menu-7-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-7,
a:hover .icon-da-menu-7,
a:hover .icon-da-menu-7-highlight,
.highlight:hover .icon-da-menu-7,
.icon-da-menu-7-highlight:hover,
.icon-da-menu-7-highlight {
  background-position: 0px -642px;
}
.icon-da-menu-7 {
  width: 16px;
  height: 16px;
  background-position: 0px -668px;
}
.icon-da-menu-8-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-8,
a:hover .icon-da-menu-8,
a:hover .icon-da-menu-8-highlight,
.highlight:hover .icon-da-menu-8,
.icon-da-menu-8-highlight:hover,
.icon-da-menu-8-highlight {
  background-position: 0px -694px;
}
.icon-da-menu-8 {
  width: 16px;
  height: 16px;
  background-position: 0px -720px;
}
.icon-da-menu-9-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-9,
a:hover .icon-da-menu-9,
a:hover .icon-da-menu-9-highlight,
.highlight:hover .icon-da-menu-9,
.icon-da-menu-9-highlight:hover,
.icon-da-menu-9-highlight {
  background-position: 0px -746px;
}
.icon-da-menu-9 {
  width: 16px;
  height: 16px;
  background-position: 0px -772px;
}
.icon-da-menu-all {
  width: 16px;
  height: 16px;
  background-position: 0px -798px;
}
.icon-da-menu-basic-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-basic,
a:hover .icon-da-menu-basic,
a:hover .icon-da-menu-basic-highlight,
.highlight:hover .icon-da-menu-basic,
.icon-da-menu-basic-highlight:hover,
.icon-da-menu-basic-highlight {
  background-position: 0px -824px;
}
.icon-da-menu-basic {
  width: 16px;
  height: 16px;
  background-position: 0px -850px;
}
.icon-da-menu-content-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-content,
a:hover .icon-da-menu-content,
a:hover .icon-da-menu-content-highlight,
.highlight:hover .icon-da-menu-content,
.icon-da-menu-content-highlight:hover,
.icon-da-menu-content-highlight {
  background-position: 0px -876px;
}
.icon-da-menu-content {
  width: 16px;
  height: 16px;
  background-position: 0px -902px;
}
.icon-da-menu-crowd-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-crowd,
a:hover .icon-da-menu-crowd,
a:hover .icon-da-menu-crowd-highlight,
.highlight:hover .icon-da-menu-crowd,
.icon-da-menu-crowd-highlight:hover,
.icon-da-menu-crowd-highlight {
  background-position: 0px -928px;
}
.icon-da-menu-crowd {
  width: 16px;
  height: 16px;
  background-position: 0px -954px;
}
.icon-da-menu-imgtxt-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-imgtxt,
a:hover .icon-da-menu-imgtxt,
a:hover .icon-da-menu-imgtxt-highlight,
.highlight:hover .icon-da-menu-imgtxt,
.icon-da-menu-imgtxt-highlight:hover,
.icon-da-menu-imgtxt-highlight {
  background-position: 0px -980px;
}
.icon-da-menu-imgtxt {
  width: 16px;
  height: 16px;
  background-position: 0px -1006px;
}
.icon-da-menu-interaction-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-interaction,
a:hover .icon-da-menu-interaction,
a:hover .icon-da-menu-interaction-highlight,
.highlight:hover .icon-da-menu-interaction,
.icon-da-menu-interaction-highlight:hover,
.icon-da-menu-interaction-highlight {
  background-position: 0px -1032px;
}
.icon-da-menu-interaction {
  width: 16px;
  height: 16px;
  background-position: 0px -1058px;
}
.icon-da-menu-me {
  width: 16px;
  height: 16px;
  background-position: 0px -1084px;
}
.icon-da-menu-message-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-message,
a:hover .icon-da-menu-message,
a:hover .icon-da-menu-message-highlight,
.highlight:hover .icon-da-menu-message,
.icon-da-menu-message-highlight:hover,
.icon-da-menu-message-highlight {
  background-position: 0px -1110px;
}
.icon-da-menu-message {
  width: 16px;
  height: 16px;
  background-position: 0px -1136px;
}
.icon-da-menu-operation-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-operation,
a:hover .icon-da-menu-operation,
a:hover .icon-da-menu-operation-highlight,
.highlight:hover .icon-da-menu-operation,
.icon-da-menu-operation-highlight:hover,
.icon-da-menu-operation-highlight {
  background-position: 0px -1162px;
}
.icon-da-menu-operation {
  width: 16px;
  height: 16px;
  background-position: 0px -1188px;
}
.icon-da-menu-property-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-property,
a:hover .icon-da-menu-property,
a:hover .icon-da-menu-property-highlight,
.highlight:hover .icon-da-menu-property,
.icon-da-menu-property-highlight:hover,
.icon-da-menu-property-highlight {
  background-position: 0px -1214px;
}
.icon-da-menu-property {
  width: 16px;
  height: 16px;
  background-position: 0px -1240px;
}
.icon-da-menu-rank-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-rank,
a:hover .icon-da-menu-rank,
a:hover .icon-da-menu-rank-highlight,
.highlight:hover .icon-da-menu-rank,
.icon-da-menu-rank-highlight:hover,
.icon-da-menu-rank-highlight {
  background-position: 0px -1266px;
}
.icon-da-menu-rank {
  width: 16px;
  height: 16px;
  background-position: 0px -1292px;
}
.icon-da-menu-rival-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-rival,
a:hover .icon-da-menu-rival,
a:hover .icon-da-menu-rival-highlight,
.highlight:hover .icon-da-menu-rival,
.icon-da-menu-rival-highlight:hover,
.icon-da-menu-rival-highlight {
  background-position: 0px -1318px;
}
.icon-da-menu-rival {
  width: 16px;
  height: 16px;
  background-position: 0px -304px;
}
.icon-da-menu-user-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-da-menu-user,
a:hover .icon-da-menu-user,
a:hover .icon-da-menu-user-highlight,
.highlight:hover .icon-da-menu-user,
.icon-da-menu-user-highlight:hover,
.icon-da-menu-user-highlight {
  background-position: 0px -278px;
}
.icon-da-menu-user {
  width: 16px;
  height: 16px;
  background-position: 0px -252px;
}
.icon-da-no-rival {
  width: 100px;
  height: 100px;
  background-position: 0px -1843px;
}
.icon-da-panel-info {
  width: 24px;
  height: 24px;
  background-position: 0px -1344px;
}
.icon-da-sex-female {
  width: 35px;
  height: 35px;
  background-position: 0px -1378px;
}
.icon-da-sex-male {
  width: 35px;
  height: 35px;
  background-position: 0px -1423px;
}
.icon-da-sex-unknown {
  width: 35px;
  height: 35px;
  background-position: 0px -1468px;
}
