.p-da-all-basic {
    .main-area,
    .main-average {
        padding: 20px 30px;
    }

    .main-area-chart {
        margin: 45px 10px 15px;
    }

    .main-average {
        padding: 20px 30px;

        table {
            margin: 40px 0 20px;
            width: 100%;
            table-layout: fixed;
            border-spacing: 0;
            border-collapse: collapse\9;

            th {
                text-align: center;
                font-weight: normal;
                font-size: 14px;
            }
            td {
                text-align: center;
                font-size: 40px;
                font-weight: 100;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #00a1f2;
            }
        }
    }
}
