@import "ranking.less";

.p-da-all-leaderboard {
    .content-title {
        border-bottom: none;
    }
    .content-main {
    }
    .main-hd {
        padding: 20px 30px;

        &-label {
            margin-left: 40px;

            &:first-child {
                margin-left: 0;
            }
        }

        .main-hd-region,
        .da-industry {
            margin-left: 20px;
            width: 180px;

            .lbf-combobox-label {
                width: 126px;
            }
            .lbf-combobox-panel {
                width: 180px !important;
                box-sizing: border-box;
            }
        }
    }
    .main-bd {
        margin-bottom: 50px;
    }
    .main-board {
        padding: 30px;
        margin-bottom: 0;
        border-top: 1px solid #EDEDED;

        &-bd {
            margin-top: 10px;
            padding: 20px;
        }
    }
}

