<% 
    include('../widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['static_proxy/themes/blue/homepage.css','static_proxy/themes/blue/homepage/homepage-sprite.css','static_proxy/themes/blue/news/homepage.css']   
    }); 
%>
<div id="p_homepage" class="news_homepage">
	<div class="header">
		<div class="nav">
			<div class="logo">
				滴滴校园平台
			</div>
			<a class="header-logout" href="javascript:void(0);" title="退出登录">
				<i class="icon-logout">退出登录</i>
			</a>
			<div class="userinfo">
				<img src="/public/avatars/profile.jpg" class="avatar"/><span class="user-name">刘慈文</span>
			</div>
			<ul class="menu">
				<li>
					<a href="/index">首页</a>
				</li>
				<li>
					<a href="/express/">e速递</a>
				</li>
				<li>
					<a href="/ereader/">e图书</a>
				</li>
				<li>
					<a href="/express/" class="active">e资讯</a>
				</li>
				<li>
					<a href="/usercenter/">个人中心</a>
				</li>
			</ul>		
		</div>		
	</div>
	<div class="module_tabs">
		<div class="notice">
			<div class="icon-clock"></div>
			<div class="notice_msg">适度休息，注意天气
			</div>
			<div class="date">
				<span class="day">
					2016年10月23日
				</span>
				<span class="weekday">
					星期三
				</span>
			</div>
		</div>

		<div class="fr">
			<div class="lbf-search-input lbf-text-input search-box">
                <a href="javascript:">
                    <i class="icon icon-search">搜索</i>
                </a>
                <input id="searchInput" placeholder="任意关键词" value=""/>
            </div>
		</div>
	</div>
	<div class="main_area">
		<div class="left_side">
			<ul class="tab-nav">
				<li class="selected"><a class="current" href="javascript:void(0);">同济快讯</a></li>
				<li><a href="javascript:void(0);">今日要闻</a></li>
				<li><a href="javascript:void(0);">校内公告</a></li>
				<li><a href="javascript:void(0);">学术公告</a></li>
			</ul>
			<div class="news-list-wrapper">
				<div class="news-wrapper">
					<div class="news-content">
						<h3><a href="javascript:void(0);">弘扬伟大长征精神 走好学校发展的新长征路</a></h3>
						<div class="datetime"><a href="javascript: void(0);">2016年10月28日 11:37</a></div>
						<p>
							<a href="javascript: void(0);">
								<img src="/public/images/news_photo_2.jpg" alt=""/>10月21日上午10时，纪念红军长征胜利80周年大会在北京人民大会堂隆重举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。同济大学师生通过多种形式，在会议室、学生社区中心、学生宿舍等地观看了大会直播，并交流观看感想，畅谈学习体会...
							</a>
						</p>
					</div>
				</div>
				<div class="news-wrapper">
					<div class="news-content">
						<h3><a href="javascript:void(0);">校党委常委会专题学习十八届六中全会精神</a></h3>
						<div class="datetime"><a href="javascript: void(0);">2016年10月28日 11:37</a></div>
						<p>
							<a href="javascript: void(0);">
								<img src="/public/images/news_photo_1.jpg" alt=""/>10月28日上午，校党委常委会举行扩大学习会，专题传达学习十八届六中全会精神。校党委书记杨贤金介绍了列席会议的有关情况，传达了全会精神。校长钟志华等中心组成员出席。杨贤金说，十八届六中全会是在中国共产党成立95周年、红军长征胜利80周年的重要历史节点...
							</a>
						</p>
					</div>
				</div>
				<div class="news-wrapper">
					<div class="news-content">
						<h3><a href="javascript:void(0);">我校顺利完成区人大代表换届选举选民登记工作</a></h3>
						<div class="datetime"><a href="javascript: void(0);">2016年10月28日 11:37</a></div>
						<p>
							<a href="javascript: void(0);">
								<img src="/public/images/news_photo_1.jpg" alt=""/>按照杨浦区人大的统一部署，9月14日同济大学正式启动了区人大代表换届选举工作。经过摸底、校对、审核、录入、补正、分组多个环节，10月25日全校选民登记工作顺利完成...
							</a>
						</p>
					</div>
				</div>
				<div class="news-wrapper">
					<div class="news-content">
						<h3><a href="javascript:void(0);">雅马哈亚洲音乐奖学金钢琴比赛奏响序曲</a></h3>
						<div class="datetime"><a href="javascript: void(0);">2016年10月28日 11:37</a></div>
						<p>
							<a href="javascript: void(0);">
								<img src="/public/images/news_photo_4.jpg" alt=""/> 10月27日晚，雅马哈亚洲音乐奖学金钢琴初赛于艺术与传媒学院音乐与表演系拉开序幕。来自不同背景的学生分为“专业”与“业余”两个组别，同台切磋，各展才情，共同奉献了一场听觉盛宴...
							</a>
						</p>
					</div>
				</div>
				<div class="news-wrapper">
					<div class="news-content">
						<h3><a href="javascript:void(0);">学校党委制定校领导班子成员行为要求</a></h3>
						<div class="datetime"><a href="javascript: void(0);">2016年10月28日 11:37</a></div>
						<p>
							<a href="javascript: void(0);">
								<img src="/public/images/news_photo_3.jpg" alt=""/>10月16日，中共同济大学第十届委员会第七十一次常委会讨论通过了《同济大学领导班子成员行为要求》，这是学校党委贯彻落实中央全面从严治党要求，加强学校领导班子建设的一项新举措...
							</a>
						</p>
					</div>
				</div>
			</div>
			<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="news4" data-title="xinwen" data-url="http://local.school.express.com:3000/news/3"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"express"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
		</div>
		<div class="right_side">
			<div class="news_area">
				<h2>新闻点击排行榜</h2>
				<hr/>
				<ul class="news_list">
					<li class="news_item">
						<span class="newsitem_num">1</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">2</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								我校与上海国际问题研究院签署合作协议，双方将重点在智库研究领域开展合作
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">3</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								同济课题组成功获得漫反射率仅为0.19%的超级黑材料
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">4</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								为无人机再添一双“千里眼”，
								我校成功研发“无人机机载低空观测多光谱传感器”
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">5</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">6</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								2017届沪高校首份就业协议书签约：同济学子加盟华为，今年华为招录同济毕业生破百。
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">7</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								地质工程专业通过中国工程教育认证专家组现场考查
							</a>
						</span>
					</li>
				</ul>
			</div>
			<div class="ad">
				<a href="">
					<img src="/public/images/news_photo_5.jpg" alt="" />
				</a>
			</div>
		</div>
	</div>
	<div class="home_footer">
        <p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    </div>
</div>
<%
	include('../widget/bottom', {
		locals: local
	});
%>
