<% 
    include('../widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['/static_proxy/themes/blue/homepage.css','/static_proxy/themes/blue/homepage/homepage-sprite.css','/static_proxy/themes/blue/news/homepage.css','/static_proxy/themes/blue/news/itemdetail.css']   
    }); 
%>
<div id="p_homepage" class="news_homepage news_detail">
	<div class="header">
		<div class="nav">
			<div class="logo">
				滴滴校园平台
			</div>
			<a class="header-logout" href="javascript:void(0);" title="退出登录">
				<i class="icon-logout">退出登录</i>
			</a>
			<div class="userinfo">
				<img src="/public/avatars/profile.jpg" class="avatar"/><span class="user-name">刘慈文</span>
			</div>
			<ul class="menu">
				<li>
					<a href="/index">首页</a>
				</li>
				<li>
					<a href="/express/">e速递</a>
				</li>
				<li>
					<a href="/ereader/">e图书</a>
				</li>
				<li>
					<a href="/express/" class="active">e资讯</a>
				</li>
				<li>
					<a href="/usercenter/">个人中心</a>
				</li>
			</ul>		
		</div>		
	</div>
	<div class="module_tabs">
		<div class="notice">
			<div class="icon-clock"></div>
			<div class="notice_msg">适度休息，注意天气
			</div>
			<div class="date">
				<span class="day">
					2016年10月23日
				</span>
				<span class="weekday">
					星期三
				</span>
			</div>
		</div>

		<div class="fr">
			<div class="lbf-search-input lbf-text-input search-box">
                <a href="javascript:">
                    <i class="icon icon-search">搜索</i>
                </a>
                <input id="searchInput" placeholder="任意关键词" value=""/>
            </div>
		</div>
	</div>
	<div class="main_area">
		<div class="left_side">
			<div class="current_pos">
				当前位置: 新闻首页>>新闻详情
			</div>
			<hr />
			<div class="news_content_title">
				<h2>校党委常委会专题学习十八届六中全会精神</h2>
				<div class="news_info">发表时间10/28/2016            <span class="click_num">阅读次数: 914</span> </div>
				<div class="news_content_detail">
					<p>
						10月28日上午，校党委常委会举行扩大学习会，专题传达学习十八届六中全会精神。校党委书记杨贤金介绍了列席会议的有关情况，传达了全会精神。校长钟志华等中心组成员出席。
					</p>
					<p>
						 杨贤金说，十八届六中全会是在中国共产党成立95周年、红军长征胜利80周年的重要历史节点，召开的一次十分重要的会议。会议开创了全面从严治党新局面，具有历史性意义。会议确立了习近平同志的核心地位，号召全党同志紧密团结在以习近平同志为核心的党中央周围，全面深入贯彻本次全会精神，牢固树立政治意识、大局意识、核心意识、看齐意识，坚定不移维护党中央权威和党中央集中统一领导，继续推进全面从严治党，共同营造风清气正的政治生态，确保党团结带领人民不断开创中国特色社会主义事业新局面。
					</p>
					<p>
						杨贤金表示，学校党委将深入学习、宣传和贯彻落实十八届六中全会精神。一是加强党员思想教育，坚定理想信念，补足精神上的钙。坚定理想信念不仅要通过加强理论学习，还要落实在行动上。学校领导班子要坚决贯彻执行《同济大学领导班子成员行为要求》里的六项要求，让党员和群众感受到理想信念的强大力量。二是严明党的纪律，增强政治意识。在党的纪律中，政治纪律是第一位的，我们要在思想上政治上行动上同党中央保持高度一致，把中央提出的各项要求贯彻落实到学校各项工作中去。三是坚定不移推进全面从严治党。全会审议通过了《关于新形势下党内政治生活的若干准则》和《中国共产党党内监督条例》，准则条例公布之后，我们不仅要组织学习讨论，还要贯彻执行到日常的党建工作中去。
					</p>
					<p>
						杨贤金要求，在会议其它文件公布之前，大家要认真学习十八届六中全会公报，以后还要再次组织专题学习。
					</p>
				</div>
			</div>
			
			<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="news4" data-title="xinwen" data-url="http://local.school.express.com:3000/news/3"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"express"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
		</div>
		<div class="right_side">
			<div class="news_area">
				<h2>新闻点击排行榜</h2>
				<hr/>
				<ul class="news_list">
					<li class="news_item">
						<span class="newsitem_num">1</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">2</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								我校与上海国际问题研究院签署合作协议，双方将重点在智库研究领域开展合作
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">3</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								同济课题组成功获得漫反射率仅为0.19%的超级黑材料
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">4</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								为无人机再添一双“千里眼”，
								我校成功研发“无人机机载低空观测多光谱传感器”
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">5</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">6</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								2017届沪高校首份就业协议书签约：同济学子加盟华为，今年华为招录同济毕业生破百。
							</a>
						</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">7</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								地质工程专业通过中国工程教育认证专家组现场考查
							</a>
						</span>
					</li>
				</ul>
			</div>
			<div class="ad">
				<a href="">
					<img src="/public/images/news_photo_5.jpg" alt="" />
				</a>
			</div>
		</div>
	</div>
	<div class="home_footer">
        <p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    </div>
</div>
<%
	include('../widget/bottom', {
		locals: local
	});
%>