/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.overlay.overlay-white {
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  *zoom: 1;
}
.global-loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  background-color: #00a1f2;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  z-index: 1000;
}
.global-loading-content .loading {
  width: 20px;
  height: 20px;
  margin: 20px auto 15px auto;
  font-size: 0;
}
