/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #1a1d1f;
  opacity: 0.9;
  filter: alpha(opacity=90);
  *zoom: 1;
  /*
	-o-transition: @transitionTime;
	-opera-transition: @transitionTime;
	-webkit-transition: .@transitionTime;
	transition: @transitionTime;
*/
}
.overlay-content {
  text-align: center;
}
