.p-shuttle {
	.main {
		background: url('images/full_bg.jpg') no-repeat 0 -60px #fff;
		border-bottom: 1px solid #c8c8c8;
		height: 75px;
		line-height: 76px;
		text-align: center;
		padding: 35px 0 0  328px;
		width: 696px;
		margin: 0 auto;
	}
	.shuttle_bus {
		width: 1000px;
		margin: 20px auto;
		#buildingMenu {
			height: 52px;
			margin: 15px auto 0;
			overflow: hidden;
			position: relative;
			width: 100%;
			a {
				display: block;
				color: #515151;
			}
			.building_tab {
				position: absolute;
				left: 20px;
				width: 100%;
				z-index: 2;
				li.current {
					background-color: #d4e5ef;
					border: 1px solid #AAA;
					border-radius: 3px;
					a {
						color: #313131;
						font-weight: bold;
					}
				}
				li {
					float: left;
					font-size: 14px;
					height: 52px;
					line-height: 52px;
					overflow: hidden;
					text-align: center;
					width: 108px;
				}
			}
			#split_nav {
				background-color: #AAA;
				height: 1px;
				overflow: hidden;
				position: absolute;
				top: 51px;
				width: 100%;
			}
		}
		#search_result {
			li {
				border-bottom: 1px solid #D4D4D4;
				overflow: hidden;
			}
			.building_name {
				float: left;
				padding: 16px 0;
				margin-left: 8px;
				width: 140px;
			}
			.shuttle_to {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				padding-left: 27px;
			}
			span {
				margin-left: 10px;
			}
			.ride_details {
				float: left;
				padding: 17px 0 15px;
				margin-left: 17px;
			}
			dl {
				clear: both;
				overflow: hidden;
				width: 830px;
			}
			dd {
				color: #0B5791;
				line-height: 28px;
				width: 100%;
			}
			label {
				color: #555;
				float: left;
				height: 28px;
				line-height: 28px;
				text-align: right;
				width: 75px;
			}
			span {
				margin-left: 10px;
			}
			.h_2 {
				height: auto !important;
			}
			.all_time {
				margin-left: 75px;
			}
			.other {
				background-color: #fff;
				color: #818181;
			}
			.soon_time {
				display: inline-block;
				height: 16px;
				line-height: 16px;
				padding: 4px;
				width: 40px;
				margin-bottom: 9px;
			}
		}

	}
}