.lbf-icheckbox { position:relative; display: inline-block; padding: 2px; width: 16px; height: 16px; background: url(../images/ICheckbox/checkbox.png) no-repeat; cursor: pointer; vertical-align:middle;}
div.lbf-icheckbox{*display: inline; *zoom:1; }
.lbf-icheckbox { background-position: 0 0;}
.lbf-icheckbox:hover { background-position: 0 -80px; }
.lbf-icheckbox.lbf-icheckbox-checked { background-position: 0 -20px;}
.lbf-icheckbox.lbf-icheckbox-disabled { background-position: 0 -40px; cursor: default; pointer-events: none;}
.lbf-icheckbox-checked.lbf-icheckbox-disabled {background-position: 0 -60px; background-color: transparent;}
.lbf-icheckbox.lbf-icheckbox-checked.lbf-icheckbox-halfchecked,
.lbf-icheckbox.lbf-icheckbox-halfchecked { background-position: 0 -200px; }
.lbf-icheckbox input { position: absolute; opacity: 0; filter: alpha(opacity=0);}
.lbf-icheckbox + label { margin-left: 5px; vertical-align: -2px;}