

.icon-base {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("../base/images/icons.png?2016621") no-repeat;
	background-size:40px auto;
}


    
    
    
    

.icon-add-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-add,
a:hover .icon-add,
a:hover .icon-add-highlight,
.highlight:hover .icon-add,
.icon-add-highlight:hover,
.icon-add-highlight {
    background-position: 0px -449px;
}
        
    

    
    
    
    
.icon-add-in-circle-white:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1593px;
}        
    

    
    
    
    
.icon-add-in-circle:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -293px;
}        
    

    
    
    
    
.icon-add_in_circle:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -423px;
}        
    

    
    
    
    

.icon-arrow-down-highlight:extend(.icon-base) {
    width: 10px;
    height: 7px;
}
.highlight .icon-arrow-down,
a:hover .icon-arrow-down,
a:hover .icon-arrow-down-highlight,
.highlight:hover .icon-arrow-down,
.icon-arrow-down-highlight:hover,
.icon-arrow-down-highlight {
    background-position: 0px -116px;
}
        
    

    
    
    
    
.icon-arrow-down:extend(.icon-base) {
    width: 10px;
    height: 7px;
    background-position: 0px -48px;
}        
    

    
    
    
    
.icon-arrow-right:extend(.icon-base) {
    width: 6px;
    height: 10px;
    background-position: 0px -152px;
}        
    

    
    
    
    

.icon-arrow-up-highlight:extend(.icon-base) {
    width: 10px;
    height: 7px;
}
.highlight .icon-arrow-up,
a:hover .icon-arrow-up,
a:hover .icon-arrow-up-highlight,
.highlight:hover .icon-arrow-up,
.icon-arrow-up-highlight:hover,
.icon-arrow-up-highlight {
    background-position: 0px -65px;
}
        
    

    
    
    
    
.icon-arrow-up:extend(.icon-base) {
    width: 10px;
    height: 7px;
    background-position: 0px -82px;
}        
    

    
    
    
    
.icon-arrow:extend(.icon-base) {
    width: 10px;
    height: 7px;
    background-position: 0px -99px;
}        
    

    
    
    
    
.icon-arrows:extend(.icon-base) {
    width: 10px;
    height: 6px;
    background-position: 0px 0px;
}        
    

    
    
    
    
.icon-belonger-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1333px;
}        
    

    
    
    
    

.icon-belonger-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-belonger,
a:hover .icon-belonger,
a:hover .icon-belonger-highlight,
.highlight:hover .icon-belonger,
.icon-belonger-highlight:hover,
.icon-belonger-highlight {
    background-position: 0px -1671px;
}
        
    

    
    
    
    
.icon-belonger:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1697px;
}        
    

    
    
    
    
.icon-cancel:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -267px;
}        
    

    
    
    
    
.icon-clear-gray:extend(.icon-base) {
    width: 9px;
    height: 9px;
    background-position: 0px -133px;
}        
    

    
    
    
    

.icon-code-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-code,
a:hover .icon-code,
a:hover .icon-code-highlight,
.highlight:hover .icon-code,
.icon-code-highlight:hover,
.icon-code-highlight {
    background-position: 0px -319px;
}
        
    

    
    
    
    
.icon-con-anchor-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -345px;
}        
    

    
    
    
    

.icon-con-anchor-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-anchor,
a:hover .icon-con-anchor,
a:hover .icon-con-anchor-highlight,
.highlight:hover .icon-con-anchor,
.icon-con-anchor-highlight:hover,
.icon-con-anchor-highlight {
    background-position: 0px -371px;
}
        
    

    
    
    
    
.icon-con-anchor:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -397px;
}        
    

    
    
    
    

.icon-con-arrow-highlight:extend(.icon-base) {
    width: 10px;
    height: 6px;
}
.highlight .icon-con-arrow,
a:hover .icon-con-arrow,
a:hover .icon-con-arrow-highlight,
.highlight:hover .icon-con-arrow,
.icon-con-arrow-highlight:hover,
.icon-con-arrow-highlight {
    background-position: 0px -16px;
}
        
    

    
    
    
    
.icon-con-arrow:extend(.icon-base) {
    width: 10px;
    height: 6px;
    background-position: 0px -32px;
}        
    

    
    
    
    
.icon-con-clear-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -475px;
}        
    

    
    
    
    

.icon-con-clear-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-clear,
a:hover .icon-con-clear,
a:hover .icon-con-clear-highlight,
.highlight:hover .icon-con-clear,
.icon-con-clear-highlight:hover,
.icon-con-clear-highlight {
    background-position: 0px -501px;
}
        
    

    
    
    
    
.icon-con-clear:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -527px;
}        
    

    
    
    
    
.icon-con-delete-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -553px;
}        
    

    
    
    
    

.icon-con-delete-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-delete,
a:hover .icon-con-delete,
a:hover .icon-con-delete-highlight,
.highlight:hover .icon-con-delete,
.icon-con-delete-highlight:hover,
.icon-con-delete-highlight {
    background-position: 0px -579px;
}
        
    

    
    
    
    
.icon-con-delete:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -605px;
}        
    

    
    
    
    
.icon-con-edit-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -631px;
}        
    

    
    
    
    

.icon-con-edit-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-edit,
a:hover .icon-con-edit,
a:hover .icon-con-edit-highlight,
.highlight:hover .icon-con-edit,
.icon-con-edit-highlight:hover,
.icon-con-edit-highlight {
    background-position: 0px -657px;
}
        
    

    
    
    
    
.icon-con-edit:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -683px;
}        
    

    
    
    
    
.icon-con-enable-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -709px;
}        
    

    
    
    
    

.icon-con-enable-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-enable,
a:hover .icon-con-enable,
a:hover .icon-con-enable-highlight,
.highlight:hover .icon-con-enable,
.icon-con-enable-highlight:hover,
.icon-con-enable-highlight {
    background-position: 0px -735px;
}
        
    

    
    
    
    
.icon-con-enable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -761px;
}        
    

    
    
    
    
.icon-con-key-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -787px;
}        
    

    
    
    
    

.icon-con-key-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-key,
a:hover .icon-con-key,
a:hover .icon-con-key-highlight,
.highlight:hover .icon-con-key,
.icon-con-key-highlight:hover,
.icon-con-key-highlight {
    background-position: 0px -813px;
}
        
    

    
    
    
    
.icon-con-key:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -839px;
}        
    

    
    
    
    
.icon-con-recover-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -865px;
}        
    

    
    
    
    

.icon-con-recover-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-recover,
a:hover .icon-con-recover,
a:hover .icon-con-recover-highlight,
.highlight:hover .icon-con-recover,
.icon-con-recover-highlight:hover,
.icon-con-recover-highlight {
    background-position: 0px -891px;
}
        
    

    
    
    
    
.icon-con-recover:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -917px;
}        
    

    
    
    
    

.icon-con-search:hover,
a:hover .icon-con-search {
    background-position: 0px -2297px;
}
        
    

    
    
    
    
.icon-con-search:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2327px;
}        
    

    
    
    
    
.icon-con-stop-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -995px;
}        
    

    
    
    
    

.icon-con-stop-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-con-stop,
a:hover .icon-con-stop,
a:hover .icon-con-stop-highlight,
.highlight:hover .icon-con-stop,
.icon-con-stop-highlight:hover,
.icon-con-stop-highlight {
    background-position: 0px -1021px;
}
        
    

    
    
    
    
.icon-con-stop:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1047px;
}        
    

    
    
    
    
.icon-copy:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1073px;
}        
    

    
    
    
    
.icon-del-disable:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2357px;
}        
    

    
    
    
    

.icon-del-highlight:extend(.icon-base) {
    width: 20px;
    height: 20px;
}
.highlight .icon-del,
a:hover .icon-del,
a:hover .icon-del-highlight,
.highlight:hover .icon-del,
.icon-del-highlight:hover,
.icon-del-highlight {
    background-position: 0px -2477px;
}
        
    

    
    
    
    

.icon-del:hover,
a:hover .icon-del {
    background-position: 0px -2597px;
}
        
    

    
    
    
    
.icon-del-white:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2687px;
}        
    

    
    
    
    
.icon-del:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2717px;
}        
    

    
    
    
    
.icon-edit-disable:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2837px;
}        
    

    
    
    
    

.icon-edit-highlight:extend(.icon-base) {
    width: 20px;
    height: 20px;
}
.highlight .icon-edit,
a:hover .icon-edit,
a:hover .icon-edit-highlight,
.highlight:hover .icon-edit,
.icon-edit-highlight:hover,
.icon-edit-highlight {
    background-position: 0px -3047px;
}
        
    

    
    
    
    

.icon-edit:hover,
a:hover .icon-edit {
    background-position: 0px -3017px;
}
        
    

    
    
    
    
.icon-edit-white:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2987px;
}        
    

    
    
    
    
.icon-edit:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2957px;
}        
    

    
    
    
    

.icon-filter-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-filter,
a:hover .icon-filter,
a:hover .icon-filter-highlight,
.highlight:hover .icon-filter,
.icon-filter-highlight:hover,
.icon-filter-highlight {
    background-position: 0px -1359px;
}
        
    

    
    
    
    
.icon-filter:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1385px;
}        
    

    
    
    
    
.icon-gray-del:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1411px;
}        
    

    
    
    
    
.icon-gray-edit:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1437px;
}        
    

    
    
    
    
.icon-group-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1463px;
}        
    

    
    
    
    

.icon-group-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-group,
a:hover .icon-group,
a:hover .icon-group-highlight,
.highlight:hover .icon-group,
.icon-group-highlight:hover,
.icon-group-highlight {
    background-position: 0px -1489px;
}
        
    

    
    
    
    
.icon-group:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1515px;
}        
    

    
    
    
    
.icon-img:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1541px;
}        
    

    
    
    
    
.icon-imgtext:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1567px;
}        
    

    
    
    
    

.icon-input-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-input,
a:hover .icon-input,
a:hover .icon-input-highlight,
.highlight:hover .icon-input,
.icon-input-highlight:hover,
.icon-input-highlight {
    background-position: 0px -241px;
}
        
    

    
    
    
    

.icon-input:hover,
a:hover .icon-input {
    background-position: 0px -1619px;
}
        
    

    
    
    
    
.icon-input:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1645px;
}        
    

    
    
    
    
.icon-key-disable:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2927px;
}        
    

    
    
    
    

.icon-key-highlight:extend(.icon-base) {
    width: 20px;
    height: 20px;
}
.highlight .icon-key,
a:hover .icon-key,
a:hover .icon-key-highlight,
.highlight:hover .icon-key,
.icon-key-highlight:hover,
.icon-key-highlight {
    background-position: 0px -2897px;
}
        
    

    
    
    
    
.icon-key:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2867px;
}        
    

    
    
    
    

.icon-keyword-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-keyword,
a:hover .icon-keyword,
a:hover .icon-keyword-highlight,
.highlight:hover .icon-keyword,
.icon-keyword-highlight:hover,
.icon-keyword-highlight {
    background-position: 0px -1749px;
}
        
    

    
    
    
    

.icon-left-black:hover,
a:hover .icon-left-black {
    background-position: 0px -3077px;
}
        
    

    
    
    
    
.icon-left-black:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2807px;
}        
    

    
    
    
    
.icon-logout:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2777px;
}        
    

    
    
    
    
.icon-lt:extend(.icon-base) {
    width: 11px;
    height: 20px;
    background-position: 0px -2747px;
}        
    

    
    
    
    
.icon-man:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1879px;
}        
    

    
    
    
    
.icon-menu-aio:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1905px;
}        
    

    
    
    
    
.icon-menu-assign:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1931px;
}        
    

    
    
    
    
.icon-menu-proportion:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1957px;
}        
    

    
    
    
    
.icon-org:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1983px;
}        
    

    
    
    
    
.icon-organization:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2009px;
}        
    

    
    
    
    
.icon-panel-info:extend(.icon-base) {
    width: 40px;
    height: 40px;
    background-position: 0px -3342px;
}        
    

    
    
    
    
.icon-panel-success:extend(.icon-base) {
    width: 40px;
    height: 40px;
    background-position: 0px -3442px;
}        
    

    
    
    
    
.icon-panel-warning:extend(.icon-base) {
    width: 40px;
    height: 40px;
    background-position: 0px -3492px;
}        
    

    
    
    
    
.icon-preview:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2113px;
}        
    

    
    
    
    
.icon-qq:extend(.icon-base) {
    width: 21px;
    height: 20px;
    background-position: 0px -2537px;
}        
    

    
    
    
    
.icon-question:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2165px;
}        
    

    
    
    
    

.icon-radiobtn16:hover,
a:hover .icon-radiobtn16 {
    background-position: 0px -2191px;
}
        
    

    
    
    
    
.icon-radiobtn16-selected:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2217px;
}        
    

    
    
    
    
.icon-radiobtn16:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2139px;
}        
    

    
    
    
    
.icon-recover-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2087px;
}        
    

    
    
    
    

.icon-recover-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-recover,
a:hover .icon-recover,
a:hover .icon-recover-highlight,
.highlight:hover .icon-recover,
.icon-recover-highlight:hover,
.icon-recover-highlight {
    background-position: 0px -2061px;
}
        
    

    
    
    
    
.icon-recover:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2035px;
}        
    

    
    
    
    
.icon-red-info:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3308px;
}        
    

    
    
    
    

.icon-refresh:hover,
a:hover .icon-refresh {
    background-position: 0px -2387px;
}
        
    

    
    
    
    
.icon-refresh:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2417px;
}        
    

    
    
    
    
.icon-remind-error-close:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2447px;
}        
    

    
    
    
    
.icon-remind-error:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3138px;
}        
    

    
    
    
    
.icon-remind-info-close:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2507px;
}        
    

    
    
    
    
.icon-remind-info:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3240px;
}        
    

    
    
    
    
.icon-remind-success-close:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2567px;
}        
    

    
    
    
    
.icon-remind-success:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3206px;
}        
    

    
    
    
    
.icon-remind-wait-close:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2627px;
}        
    

    
    
    
    
.icon-remind-wait:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3172px;
}        
    

    
    
    
    
.icon-remind-warning:extend(.icon-base) {
    width: 40px;
    height: 40px;
    background-position: 0px -3392px;
}        
    

    
    
    
    
.icon-right-in-blue-circle:extend(.icon-base) {
    width: 24px;
    height: 24px;
    background-position: 0px -3274px;
}        
    

    
    
    
    

.icon-search:active,
a:hover .icon-search {
    background-position: 0px -1853px;
}
        
    

    
    
    
    
.icon-search:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1827px;
}        
    

    
    
    
    
.icon-seccess:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1801px;
}        
    

    
    
    
    

.icon-setting:hover,
a:hover .icon-setting {
    background-position: 0px -1775px;
}
        
    

    
    
    
    
.icon-setting:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1723px;
}        
    

    
    
    
    

.icon-sort-arrow-down-highlight:extend(.icon-base) {
    width: 12px;
    height: 13px;
}
.highlight .icon-sort-arrow-down,
a:hover .icon-sort-arrow-down,
a:hover .icon-sort-arrow-down-highlight,
.highlight:hover .icon-sort-arrow-down,
.icon-sort-arrow-down-highlight:hover,
.icon-sort-arrow-down-highlight {
    background-position: 0px -172px;
}
        
    

    
    
    
    
.icon-sort-arrow-down:extend(.icon-base) {
    width: 12px;
    height: 13px;
    background-position: 0px -218px;
}        
    

    
    
    
    
.icon-sort-arrow-up:extend(.icon-base) {
    width: 12px;
    height: 13px;
    background-position: 0px -195px;
}        
    

    
    
    
    

.icon-statistic:hover,
a:hover .icon-statistic {
    background-position: 0px -1307px;
}
        
    

    
    
    
    
.icon-statistic:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1281px;
}        
    

    
    
    
    
.icon-tag-disable:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1255px;
}        
    

    
    
    
    

.icon-tag-highlight:extend(.icon-base) {
    width: 16px;
    height: 16px;
}
.highlight .icon-tag,
a:hover .icon-tag,
a:hover .icon-tag-highlight,
.highlight:hover .icon-tag,
.icon-tag-highlight:hover,
.icon-tag-highlight {
    background-position: 0px -1229px;
}
        
    

    
    
    
    
.icon-tag:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1203px;
}        
    

    
    
    
    
.icon-text:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1177px;
}        
    

    
    
    
    
.icon-tip-attention:extend(.icon-base) {
    width: 20px;
    height: 20px;
    background-position: 0px -2657px;
}        
    

    
    
    
    

.icon-tips-info:hover,
a:hover .icon-tips-info {
    background-position: 0px -1151px;
}
        
    

    
    
    
    
.icon-tips-info-v2:extend(.icon-base) {
    width: 18px;
    height: 18px;
    background-position: 0px -2269px;
}        
    

    
    
    
    
.icon-tips-info:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1125px;
}        
    

    
    
    
    
.icon-tips-question:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -1099px;
}        
    

    
    
    
    
.icon-warn:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -969px;
}        
    

    
    
    
    
.icon-wechat:extend(.icon-base) {
    width: 21px;
    height: 21px;
    background-position: 0px -3107px;
}        
    

    
    
    
    
.icon-woman:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -943px;
}        
    

    
    
    
    
.icon-wrong:extend(.icon-base) {
    width: 16px;
    height: 16px;
    background-position: 0px -2243px;
}        
    
