@import '../../base/variable';




.members-select {
  .members-select-box {
    border: 1px @border-color solid;
    height: 278px !important;
    width: 308px;
    li {
      width: 308px;
      height: 35px;
      border-bottom: none;
      .lbf-icheckbox {
        margin-top: 7px;
      }
    }
    .info {
      padding-left: 15px;
      line-height: 35px;
    }
    dt, dd {
      float: left;
    }
    dt {
      margin: 8px 5px 0 0;
    }
  }
}