

.icon-mp {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("../frame/images/icons.png?2016614") no-repeat;
	background-size:20px auto;
}


    
    
    
    
.icon-add-no-cricle:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -304px;
}        
    

    
    
    
    
.icon-add:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -798px;
}        
    

    
    
    
    

.icon-arrow-down-highlight:extend(.icon-mp) {
    width: 10px;
    height: 7px;
}
.highlight .icon-arrow-down,
a:hover .icon-arrow-down,
a:hover .icon-arrow-down-highlight,
.highlight:hover .icon-arrow-down,
.icon-arrow-down-highlight:hover,
.icon-arrow-down-highlight {
    background-position: 0px -85px;
}
        
    

    
    
    
    

.icon-arrow-down:hover,
a:hover .icon-arrow-down {
    background-position: 0px 0px;
}
        
    

    
    
    
    
.icon-arrow-down:extend(.icon-mp) {
    width: 10px;
    height: 7px;
    background-position: 0px -17px;
}        
    

    
    
    
    

.icon-arrow-up-highlight:extend(.icon-mp) {
    width: 10px;
    height: 7px;
}
.highlight .icon-arrow-up,
a:hover .icon-arrow-up,
a:hover .icon-arrow-up-highlight,
.highlight:hover .icon-arrow-up,
.icon-arrow-up-highlight:hover,
.icon-arrow-up-highlight {
    background-position: 0px -34px;
}
        
    

    
    
    
    

.icon-arrow-up:hover,
a:hover .icon-arrow-up {
    background-position: 0px -51px;
}
        
    

    
    
    
    
.icon-arrow-up:extend(.icon-mp) {
    width: 10px;
    height: 7px;
    background-position: 0px -68px;
}        
    

    
    
    
    
.icon-bubble-arrow:extend(.icon-mp) {
    width: 13px;
    height: 12px;
    background-position: 0px -138px;
}        
    

    
    
    
    

.icon-data:hover,
a:hover .icon-data {
    background-position: 0px -1216px;
}
        
    

    
    
    
    
.icon-data:extend(.icon-mp) {
    width: 18px;
    height: 18px;
    background-position: 0px -1244px;
}        
    

    
    
    
    

.icon-down:hover,
a:hover .icon-down {
    background-position: 0px -160px;
}
        
    

    
    
    
    
.icon-down:extend(.icon-mp) {
    width: 14px;
    height: 14px;
    background-position: 0px -184px;
}        
    

    
    
    
    

.icon-filter-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-filter,
a:hover .icon-filter,
a:hover .icon-filter-highlight,
.highlight:hover .icon-filter,
.icon-filter-highlight:hover,
.icon-filter-highlight {
    background-position: 0px -954px;
}
        
    

    
    
    
    
.icon-filter:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -980px;
}        
    

    
    
    
    

.icon-link:hover,
a:hover .icon-link {
    background-position: 0px -1622px;
}
        
    

    
    
    
    
.icon-link:extend(.icon-mp) {
    width: 20px;
    height: 20px;
    background-position: 0px -1592px;
}        
    

    
    
    
    

.icon-menu-account-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-account,
a:hover .icon-menu-account,
a:hover .icon-menu-account-highlight,
.highlight:hover .icon-menu-account,
.icon-menu-account-highlight:hover,
.icon-menu-account-highlight {
    background-position: 0px -356px;
}
        
    

    
    
    
    

.icon-menu-account-info-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-account-info,
a:hover .icon-menu-account-info,
a:hover .icon-menu-account-info-highlight,
.highlight:hover .icon-menu-account-info,
.icon-menu-account-info-highlight:hover,
.icon-menu-account-info-highlight {
    background-position: 0px -382px;
}
        
    

    
    
    
    
.icon-menu-account-info:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -408px;
}        
    

    
    
    
    
.icon-menu-account:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -434px;
}        
    

    
    
    
    

.icon-menu-corp-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-corp,
a:hover .icon-menu-corp,
a:hover .icon-menu-corp-highlight,
.highlight:hover .icon-menu-corp,
.icon-menu-corp-highlight:hover,
.icon-menu-corp-highlight {
    background-position: 0px -460px;
}
        
    

    
    
    
    
.icon-menu-corp:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -486px;
}        
    

    
    
    
    

.icon-menu-da-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-da,
a:hover .icon-menu-da,
a:hover .icon-menu-da-highlight,
.highlight:hover .icon-menu-da,
.icon-menu-da-highlight:hover,
.icon-menu-da-highlight {
    background-position: 0px -512px;
}
        
    

    
    
    
    
.icon-menu-da:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -538px;
}        
    

    
    
    
    

.icon-menu-effect:hover,
a:hover .icon-menu-effect {
    background-position: 0px -564px;
}
        
    

    
    
    
    
.icon-menu-effect:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -590px;
}        
    

    
    
    
    

.icon-menu-groupsend-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-groupsend,
a:hover .icon-menu-groupsend,
a:hover .icon-menu-groupsend-highlight,
.highlight:hover .icon-menu-groupsend,
.icon-menu-groupsend-highlight:hover,
.icon-menu-groupsend-highlight {
    background-position: 0px -616px;
}
        
    

    
    
    
    
.icon-menu-groupsend:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -642px;
}        
    

    
    
    
    

.icon-menu-material-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-material,
a:hover .icon-menu-material,
a:hover .icon-menu-material-highlight,
.highlight:hover .icon-menu-material,
.icon-menu-material-highlight:hover,
.icon-menu-material-highlight {
    background-position: 0px -668px;
}
        
    

    
    
    
    
.icon-menu-material:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -694px;
}        
    

    
    
    
    

.icon-menu-menu-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-menu,
a:hover .icon-menu-menu,
a:hover .icon-menu-menu-highlight,
.highlight:hover .icon-menu-menu,
.icon-menu-menu-highlight:hover,
.icon-menu-menu-highlight {
    background-position: 0px -720px;
}
        
    

    
    
    
    
.icon-menu-menu:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -746px;
}        
    

    
    
    
    

.icon-menu-pay-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-pay,
a:hover .icon-menu-pay,
a:hover .icon-menu-pay-highlight,
.highlight:hover .icon-menu-pay,
.icon-menu-pay-highlight:hover,
.icon-menu-pay-highlight {
    background-position: 0px -772px;
}
        
    

    
    
    
    
.icon-menu-pay:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -1162px;
}        
    

    
    
    
    

.icon-menu-reply-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-menu-reply,
a:hover .icon-menu-reply,
a:hover .icon-menu-reply-highlight,
.highlight:hover .icon-menu-reply,
.icon-menu-reply-highlight:hover,
.icon-menu-reply-highlight {
    background-position: 0px -824px;
}
        
    

    
    
    
    
.icon-menu-reply:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -850px;
}        
    

    
    
    
    

.icon-mp-del-disabled:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.disabled .icon-mp-del,
a:hover .icon-mp-del,
a:hover .icon-mp-del-disabled,
.disabled:hover .icon-mp-del,
.icon-mp-del-disabled:hover,
.icon-mp-del-disabled {
    background-position: 0px -876px;
}
        
    

    
    
    
    

.icon-mp-del-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-mp-del,
a:hover .icon-mp-del,
a:hover .icon-mp-del-highlight,
.highlight:hover .icon-mp-del,
.icon-mp-del-highlight:hover,
.icon-mp-del-highlight {
    background-position: 0px -902px;
}
        
    

    
    
    
    
.icon-mp-del:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -928px;
}        
    

    
    
    
    

.icon-mp-del2-highlight:extend(.icon-mp) {
    width: 20px;
    height: 20px;
}
.highlight .icon-mp-del2,
a:hover .icon-mp-del2,
a:hover .icon-mp-del2-highlight,
.highlight:hover .icon-mp-del2,
.icon-mp-del2-highlight:hover,
.icon-mp-del2-highlight {
    background-position: 0px -1442px;
}
        
    

    
    
    
    

.icon-mp-del2:hover,
a:hover .icon-mp-del2 {
    background-position: 0px -1472px;
}
        
    

    
    
    
    
.icon-mp-del2:extend(.icon-mp) {
    width: 20px;
    height: 20px;
    background-position: 0px -1652px;
}        
    

    
    
    
    

.icon-mp-edit-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-mp-edit,
a:hover .icon-mp-edit,
a:hover .icon-mp-edit-highlight,
.highlight:hover .icon-mp-edit,
.icon-mp-edit-highlight:hover,
.icon-mp-edit-highlight {
    background-position: 0px -1032px;
}
        
    

    
    
    
    

.icon-mp-edit:hover,
a:hover .icon-mp-edit {
    background-position: 0px -1058px;
}
        
    

    
    
    
    
.icon-mp-edit:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -1084px;
}        
    

    
    
    
    

.icon-mp-edit2-highlight:extend(.icon-mp) {
    width: 20px;
    height: 20px;
}
.highlight .icon-mp-edit2,
a:hover .icon-mp-edit2,
a:hover .icon-mp-edit2-highlight,
.highlight:hover .icon-mp-edit2,
.icon-mp-edit2-highlight:hover,
.icon-mp-edit2-highlight {
    background-position: 0px -1682px;
}
        
    

    
    
    
    

.icon-mp-edit2:hover,
a:hover .icon-mp-edit2 {
    background-position: 0px -1562px;
}
        
    

    
    
    
    
.icon-mp-edit2:extend(.icon-mp) {
    width: 20px;
    height: 20px;
    background-position: 0px -1712px;
}        
    

    
    
    
    

.icon-mp-group-disabled:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.disabled .icon-mp-group,
a:hover .icon-mp-group,
a:hover .icon-mp-group-disabled,
.disabled:hover .icon-mp-group,
.icon-mp-group-disabled:hover,
.icon-mp-group-disabled {
    background-position: 0px -1136px;
}
        
    

    
    
    
    

.icon-mp-group-highlight:extend(.icon-mp) {
    width: 16px;
    height: 16px;
}
.highlight .icon-mp-group,
a:hover .icon-mp-group,
a:hover .icon-mp-group-highlight,
.highlight:hover .icon-mp-group,
.icon-mp-group-highlight:hover,
.icon-mp-group-highlight {
    background-position: 0px -1110px;
}
        
    

    
    
    
    
.icon-mp-group:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -1006px;
}        
    

    
    
    
    

.icon-mp-refresh:hover,
a:hover .icon-mp-refresh {
    background-position: 0px -1532px;
}
        
    

    
    
    
    
.icon-mp-refresh:extend(.icon-mp) {
    width: 20px;
    height: 20px;
    background-position: 0px -1502px;
}        
    

    
    
    
    

.icon-mp-remove-grey-s:hover,
a:hover .icon-mp-remove-grey-s {
    background-position: 0px -102px;
}
        
    

    
    
    
    
.icon-mp-remove-grey-s:extend(.icon-mp) {
    width: 10px;
    height: 8px;
    background-position: 0px -120px;
}        
    

    
    
    
    

.icon-mp-statistic:hover,
a:hover .icon-mp-statistic {
    background-position: 0px -1384px;
}
        
    

    
    
    
    
.icon-mp-statistic:extend(.icon-mp) {
    width: 18px;
    height: 18px;
    background-position: 0px -1356px;
}        
    

    
    
    
    

.icon-mp-tips-info:hover,
a:hover .icon-mp-tips-info {
    background-position: 0px -1188px;
}
        
    

    
    
    
    
.icon-mp-tips-info:extend(.icon-mp) {
    width: 18px;
    height: 18px;
    background-position: 0px -1328px;
}        
    

    
    
    
    

.icon-mp-tips-info2:hover,
a:hover .icon-mp-tips-info2 {
    background-position: 0px -1300px;
}
        
    

    
    
    
    
.icon-mp-tips-info2:extend(.icon-mp) {
    width: 18px;
    height: 18px;
    background-position: 0px -1272px;
}        
    

    
    
    
    
.icon-nav-mp:extend(.icon-mp) {
    width: 20px;
    height: 20px;
    background-position: 0px -1412px;
}        
    

    
    
    
    

.icon-remove:hover,
a:hover .icon-remove {
    background-position: 0px -232px;
}
        
    

    
    
    
    
.icon-remove:extend(.icon-mp) {
    width: 14px;
    height: 14px;
    background-position: 0px -208px;
}        
    

    
    
    
    
.icon-set:extend(.icon-mp) {
    width: 16px;
    height: 16px;
    background-position: 0px -330px;
}        
    

    
    
    
    

.icon-up:hover,
a:hover .icon-up {
    background-position: 0px -256px;
}
        
    

    
    
    
    
.icon-up:extend(.icon-mp) {
    width: 14px;
    height: 14px;
    background-position: 0px -280px;
}        
    
