<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <div class="lbf-text-input"><input type="text" id="addMembersId" maxlength="12" required><label class="lbf-text-input-placeholder">帐号名</label><p class="lbf-text-input-remind">唯一身份识别，支持字母和数字</p></div>
                        </div>
  </body>
</html>
