.reset-pwd {
  width:474px;
  li {
    overflow:hidden;
    margin-bottom: 25px;
  }
  .item-head {
    float:left;
    width:94px;
    height:40px;
    line-height: 40px;
  }
  .tip {
    padding-top:3px;
    color:#a2a9b6;
  }
  .item-body {
    float:right;
    width:380px;
  }
  .pwd-new {
    margin-bottom: 16px;
  }
  .verify-code {
    height:53px;
    margin-bottom: 0;
    .item-head {
      height:53px;
      line-height: 53px;
    }
    .item-body {
      height:53px;
    }
    .lbf-text-input {
      float:left;
      width:152px;
      margin-top: 6px;
    }
    .code-btn {
      margin-top: 0;
    }
  }
}
