/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.div-title {
  font-size: 18px;
  color: #1e2330;
  background-color: #ffffff;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
.div-body {
  background-color: #ffffff;
  padding: 10px 30px 10px;
  padding-right: 0;
}
.div-body .clear-qf-tip {
  text-align: right;
  color: #66686c;
  margin-top: -15px;
  margin-bottom: -6px;
}
.div-buttons {
  margin: 60px 0 40px;
  text-align: center;
}
.div-buttons .lbf-button-huge {
  font-size: 16px;
  line-height: 48px;
  padding: 0 35px;
}
.group-send-content {
  margin-bottom: 20px;
}
.group-send-content .loading {
  position: absolute;
  margin-left: 560px;
  margin-top: 100px;
}
.tag {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  background-color: #e4e8ea;
  padding-left: 10px;
  padding-right: 10px;
  color: #1e2330;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
  margin-right: 5px;
  max-width: 90%;
  /*
  &:hover {
    .bg(@white);
  }
*/
}
.tag .icon-clear,
.tag .icon-clear-gray {
  position: absolute;
  right: 12px;
  top: 10px;
}
.tag.checked {
  color: #ffffff;
  background-color: #0067ed;
  border: 1px solid #0067ed;
}
.tag.highlight {
  margin-right: 5px;
  background-color: #ffffff;
  padding-right: 30px;
  padding-left: 15px;
  border: 1px solid #0067ed;
}
.tag.highlight:hover {
  color: #0056c7;
  background-color: #f4f6f9;
}
.tag.readonly {
  cursor: default;
}
.tag.readonly:hover {
  color: #1e2330;
  background-color: #ffffff;
}
.tag-blue {
  border: 1px solid #0067ed;
  background-color: #f4f6f9;
  color: #197dff;
}
.tag-blue:hover {
  background-color: #ffffff;
  color: #1e2330;
}
.icon-link-default {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
  height: 100px;
  background: url('images/icon-link-default.png') no-repeat;
}
/* list page */
.qf-status-tip {
  max-width: 320px;
}
.qf-status-tip .lbf-tip-content {
  padding: 10px;
  font-size: 14px;
}
.qf-table {
  background-color: #fff;
  margin-bottom: -1px;
  /* mask pagination border-top */
}
.qf-table .tag {
  cursor: text;
}
.qf-table thead {
  color: #66686c;
}
.qf-table thead .qf-content {
  padding-left: 29px;
  width: 40%;
}
.qf-table thead .targets {
  width: 22%;
}
.qf-table thead .num-count {
  width: 128px;
}
.qf-table thead .status {
  width: 13%;
}
.qf-table tbody tr.selected td {
  background-color: #d3e9ff;
}
.qf-table tbody tr td {
  min-height: 90px;
  line-height: 20px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 29px;
  cursor: text;
}
.qf-table tbody tr td.qf-content {
  padding-left: 29px;
}
.qf-table tbody tr td.qf-content .label-type {
  margin-right: 5px;
}
.qf-table tbody tr td.qf-content .brief {
  margin-left: 117px;
  margin-right: 40px;
  padding-bottom: 28px;
  position: relative;
  top: -5px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 28px;
  color: #1e2330;
}
.qf-table tbody tr td.qf-content .brief a {
  color: #1e2330;
}
.qf-table tbody tr td.qf-content .brief a:hover {
  color: #0067ed;
}
.qf-table tbody tr td.qf-content .brief dt {
  display: block;
  position: absolute;
  height: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
}
.qf-table tbody tr td.qf-content .brief .btn-toggler {
  color: #aab0b2;
}
.qf-table tbody tr td.qf-content .brief .btn-toggler:hover {
  color: #0067ed;
}
.qf-table tbody tr td.qf-content .brief .cont {
  overflow: hidden;
}
.qf-table tbody tr td.qf-content .img-holder {
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.qf-table tbody tr td.qf-content .img-holder img,
.qf-table tbody tr td.qf-content .img-holder .icon-txt {
  min-width: 100px;
  height: 100px;
}
.qf-table tbody tr td.qf-content .img-holder img {
  width: 100px;
}
.qf-table tbody tr td.qf-content .img-holder .icon-txt {
  width: 100px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #e1e4e6 url(images/icon-txt.png) 0 0 no-repeat;
}
.qf-table tbody tr td.qf-content .qf-text .brief.overflow-cont {
  max-height: 72px;
  -moz-transition: max-height 0.2s linear;
  -ms-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
  margin-bottom: -12px;
}
.qf-table tbody tr td.qf-content .qf-text .brief.overflow-cont:after {
  content: '';
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.qf-table tbody tr td.qf-content .qf-text .brief.overflow-cont .btn-toggler {
  display: none;
}
.qf-table tbody tr td.qf-content .qf-text .brief .cont {
  line-height: 24px;
}
.qf-table tbody tr td.qf-content .qf-text .brief.overflow-visible {
  max-height: none;
}
.qf-table tbody tr td.qf-content .qf-pic {
  /*.texts {
							max-width: 290px;
						}*/
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-cont {
  max-height: 84px;
  -moz-transition: max-height 0.2s linear;
  -ms-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
  margin-bottom: -12px;
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-cont:after {
  content: '';
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-cont-noToggler {
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: none;
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-cont-noToggler:after {
  display: none;
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-cont .btn-toggler {
  display: none;
}
.qf-table tbody tr td.qf-content .qf-pic-text .brief.overflow-visible {
  max-height: none;
}
.qf-table tbody tr td.qf-content .qf-pic-text .texts {
  height: 28px;
  word-wrap: normal;
  word-break: keep-all;
}
.qf-table tbody tr td.qf-content .qf-pic-text .texts a {
  display: inline-block;
  /*max-width: 341px;*/
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.qf-table tbody tr td.qf-content .qf-pic-text .summary {
  max-height: 72px;
  line-height: 24px;
  height: auto;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.qf-table tbody tr td.author {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  cursor: text;
}
.qf-table tbody tr td.author p {
  margin-right: 20px;
}
.qf-table tbody tr td .create-time {
  color: #a8abb3;
  cursor: text;
}
.qf-table tbody tr td.status {
  position: relative;
  cursor: text;
}
.qf-table tbody tr td.status .status-text {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.qf-table tbody tr td.status .status-text .status-text-highlight {
  color: #ff4222;
}
.qf-table tbody tr td.status .status-text p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.qf-table tbody tr td .tip-place {
  position: relative;
}
.qf-table tbody tr td .text-holder {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.qf-table tbody tr:hover td {
  background-color: #ffffff;
}
.qf-table tbody tr .empty {
  padding: 50px;
  text-align: center;
  color: #e4e6e7;
}
.qf-table tbody tr .empty .icon-empty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background: url('images/icon-qf-empty.png');
}
.qf-table tbody tr .empty p {
  color: #585858;
}
.qf-table tbody tr .empty .msg {
  font-size: 24px;
  color: #1e2330;
}
.tip-failed-msg {
  width: 200px!important;
}
