<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>滴滴快递系统账户中心</title>
    <% 
    include('../../widget/commonCss',{
        locals: local,
        css: ['static_proxy/themes/blue/lbfUI/css/inline.css', 
            'static_proxy/themes/default/index/login/login.css',
            'static_proxy/themes/blue/base/base.css']
        
    }); 
    %>
</head>

<body class="page-login">
<div id="wraper">

    <h1 class="title">滴滴快递</h1>
    <div id="main">
        <div class="main">
            <div id="ptlogin" class="ptlogin">
                <div class="login" id="login">
                    <div class="tips" id="tips">
                        <div class="title2">
                            账户密码登录
                        </div>
                        推荐使用
                        <a href="javascript: void(0);" class="switch_btn_focue_link_tips">快速安全登录</a>，防止盗号。
                    </div>
                    <div class="login_form">
                        <div class="lbf-text-input">
                            <input type="text" id="username" name="username" placeholder="用户名/邮箱/手机号登录" value="" />
                        </div>
                        <div class="lbf-text-input text-password">
                            <input type="text" id="password" name="password" placeholder="密码" value="" />
                        </div>
                        <div class="lbf-button-success" id="submit">
                            登录
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="web_login">
        
    </div>
    <div class="footer">
        <p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    </div>
</div>
<% 
    include('../../widget/bottom',{
        locals: local
    }); 
%>
<script type="text/javascript">
    LBF.use('qidian.sites.index.login.loginController', function(loginController) {
        new loginController();
    });
</script>