.p-da-me-message-detail {
    .main-pack {
        margin-bottom: 0;
        background: transparent;
    }

    .content-main {
        position: relative;
        margin: 30px auto 60px;;

        &:before,
        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

    .main-tip {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;

        .lbf-tip {
            left: -130px !important;
        }
        .lbf-tip-arrow {
            margin-left: 130px !important;
        }
    }
    .main-tip-knowledge {
        padding: 20px;
        width: 270px;

        dt {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .main-hd {
        margin: 35px 30px;
        height: 24px;
        line-height: 24px;

        h1 {
            display: inline;
            margin-right: 14px;
            font-size: 18px;
        }
        span {
            color: #A2A9B6;
        }
    }

    .main-detail {
        // margin-bottom: 50px;
    }

    .main-sex {
        border-top: 1px solid #EDEDED;
    }
}
