.p-da-me-userprop {
    .no-data-gb-container {
        border-top: none;
    }
    #accounts {
        float: right;
    }

    .main-loyalty {
        position: relative;
    }
    .main-tip {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;

        .lbf-tip {
            left: -130px !important;
        }
        .lbf-tip-arrow {
            margin-left: 130px !important;
        }

        dl {
            padding: 10px;
            width: 295px;
        }
        dt {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
