.p-da-me-userkeep {
    .content-title {
        border-bottom: none;
    }

    .main-hd {
        margin-left: 0;

        .da-select-container {
            float: right;
        }

        .main-hd-date-label {
            display: none;
        }
        .da-range-picker {
            margin-left: 0;
            margin-right: 8px;
            padding-left: 15px;
            vertical-align: middle;
            //padding-right: 15px;
            //width: 240px;
            line-height: 40px;
            height: 40px;
            box-sizing: border-box;
            top: -1px;
        }
    }

    .main-bd {
        position: relative;
    }

    .main-tip {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;

        .lbf-tip {
            left: -130px !important;
        }
        .lbf-tip-arrow {
            margin-left: 130px !important;
        }

        &-keep {
            padding: 20px;
            width: 270px;

            dt {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .main-charts {
        padding: 30px;
        margin-bottom: 0;

        &-from {
            margin-top: 10px;

            .da-buttons .lbf-button {
                width: auto;
                padding: 0 30px;
            }
        }

        &-bd {
            margin: 70px 0 20px;
            height: 330px;
        }
    }
}

