/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.height-limit {
  height: 40px;
  line-height: 40px;
}
.instruction {
  font-size: 14px;
  color: #a9b1bd;
}
body .icon-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 16px;
  background: url(images/icon-info.png) no-repeat;
}
.content-main {
  font-family: 'microsoft yahei';
  font-size: 14px;
  color: #5f6577;
}
.content-main span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.content-main .lbf-combobox {
  vertical-align: middle;
  min-width: 175px;
  margin-right: 10px;
}
.content-main .hr-spliter {
  height: 1px;
  background: #d3d3d3;
}
.content-main .small-text-area {
  width: 350px;
  height: 120px;
}
.content-main .label {
  text-align: left;
  width: 110px;
}
.content-main .content-align {
  margin-left: 113px;
}
.content-main .long-text-input {
  width: 350px;
}
.content-main .bottom-word1 {
  color: #a9b1bd;
  margin-left: 114px;
  margin-top: -6px;
}
.content-main .bottom-explanation {
  color: #a9b1bd;
  margin-left: 113px;
  width: 350px;
  text-align: left;
  height: 24px;
  line-height: 24px;
}
.content-main .em {
  color: #545a6c;
}
.content-main .small-letter-limit {
  color: #a9b1bd;
  margin-left: 385px;
}
.content-main .limit-error {
  color: red;
}
.content-main .button-right-instruction {
  vertical-align: middle;
  margin-left: 10px;
}
.content-main .content-ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.content-main .content-ul .row {
  margin-top: 30px;
  padding-left: 20px;
  position: relative;
  min-height: 34px;
  line-height: 34px;
}
.error-tip {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  background: #373c42;
  color: #f2f2f2;
  padding: 3px 5px;
  position: relative;
  margin-left: 10px;
  border-radius: 5px;
}
.error-tip .arrow {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #373c42;
  position: absolute;
  top: 12px;
  left: -16px;
}
body .lbf-loading {
  display: none;
}
/* 企业对外形象开始 */
.upload-explanation {
  color: #a9b1bd;
  margin-left: 113px;
  text-align: left;
  height: 24px;
  line-height: 24px;
}
.tall-img-uploader {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 200px;
  height: 286px;
}
.tall-img-uploader .upload-button {
  display: none;
  position: absolute;
  top: 128px;
  left: 43px;
  width: 114px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #d0d0d5;
  text-align: center;
  background: #fcfcfc;
  cursor: pointer;
  border-radius: 5px;
}
.tall-img-uploader .upload-button:hover {
  border: 1px solid #ababaf;
}
.tall-img-uploader:hover .uploaded-img {
  position: relative;
  z-index: 1;
  opacity: 0.3;
}
.tall-img-uploader:hover .mask {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 200px;
  height: 286px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.2;
  background: #717478;
}
.tall-img-uploader:hover .upload-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 100;
}
.tall-img-uploader .full-button {
  text-indent: -2000px;
  width: 200px;
  height: 286px;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  background: none;
}
.tall-img-uploader .full-button:hover {
  border: none;
}
.tall-img-uploader .upload-img-word {
  position: absolute;
  top: 145px;
  left: 69px;
  color: #a2a9b6;
}
.no-pic-uploaded {
  background: url(images/small-img-upload-bg.png) no-repeat;
}
.switch-container {
  position: relative;
}
.switch-container .switch-exp {
  margin-left: 20px;
  color: #a9b1bd;
}
.aio-panel {
  margin-left: 115px;
  margin-top: 25px;
}
.aio-panel .aio-content {
  width: 510px;
  height: 475px;
  position: relative;
  background: url(images/aio-bg.png) no-repeat;
}
.aio-panel .aio-content .aio-sign {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 423px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 16px;
  top: 38px;
  font-size: 12px;
}
.aio-panel .aio-content .aio-pic {
  max-width: 198px;
  max-height: 286px;
  line-height: 286px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.aio-panel-s {
  margin-left: 115px;
  margin-top: 25px;
}
.aio-panel-s .aio-content {
  width: 510px;
  height: 475px;
  position: relative;
  background: url(images/aio-bg_s.png) no-repeat;
}
.aio-panel-s .aio-content .aio-sign {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 476px;
  position: absolute;
  left: 16px;
  top: 41px;
  word-break: break-all;
  word-wrap: break-word;
}
.aio-panel-s .aio-content .aio-pic {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 355px;
  top: 111px;
}
.aio-panel.view-status,
.aio-panel-s.view-status {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 0px;
  margin-top: 5px;
}
:root .upload-btn {
  filter: none;
}
.aio-content .img-block {
  position: absolute;
  left: 305px;
  top: 74px;
  width: 204px;
  height: 286px;
  overflow: hidden;
  text-align: center;
}
.aio-content .img-block .vline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  width: 1px;
  height: 286px;
  line-height: 286px;
}
.aio-content .img-block .upload-btn {
  position: absolute;
  left: 56px;
  top: 112px;
  width: 60px;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  filter: 'progid:DXImageTransform.Microsoft.gradient(startcolorstr=#55000000,endcolorstr=#55000000)';
}
.aio-content .img-block.edit-status:hover img {
  opacity: 0.3;
  filter: alpha(opacity=30);
  *zoom: 1;
}
.aio-content .img-block.edit-status:hover .upload-btn {
  color: #1f2224;
  border-color: #a6a6a6;
  background-color: #fff;
}
.img-explanation .icon-con-info {
  margin: 9px 0;
  margin-left: 5px;
}
/* 头部是否通过审核的提示块开始 */
.head-info-tip {
  height: 72px;
  line-height: 72px;
  padding-left: 15px;
  border-radius: 5px;
  position: relative;
}
.head-info-tip i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.head-info-tip .main-text {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 18px;
  vertical-align: middle;
  line-height: 1em;
}
.head-info-tip .sub-main-text {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  position: relative;
}
.head-info-tip .sub-text {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  vertical-align: middle;
}
.head-info-tip .inner-right {
  position: absolute;
  top: 30px;
  right: 15px;
}
.head-info-tip .inner-right-button {
  position: absolute;
  top: 16px;
  right: 15px;
}
.pass-block {
  background: #c7f2e5;
  color: #3bab8b;
}
.fail-block {
  background: #ffe2df;
  color: #ff5c42;
}
/* 头部是否通过审核的提示块结束 */
/* 企业对外形象结束 */
