@import '../../base/variable';
/* tabs */
.lbf-tabview-tabs { height:40px; line-height: 40px; border-bottom:1px solid @border-normal; position: relative; }
.lbf-tabview-tab { float:left; margin-right: 46px; color:@dark; cursor:pointer; text-align:center; font-size:16px; }
.lbf-tabview-tab a, .lbf-tabview-tab a:hover { color: inherit;}
.lbf-tabview-tab:hover { color: @blue; }
.lbf-tabview-tab-selected,
.lbf-tabview-tab-selected:hover { color:@blue; cursor:default;}
.lbf-tabview-tab-close { display:none; position:absolute; top:4px; right:4px; width:14px; height:14px; text-indent:999em; line-height:1px; overflow:hidden;}
.lbf-tabview-tab:hover .lbf-tabview-tab-close { display:inline-block;}
.lbf-tabview-tab-line { display: none; position: absolute; bottom: -1px; left: 0; width: 0; border-bottom: 1px solid @blue; -webkit-transition: all .25s; transition: all .25s; }
/* contents */
.lbf-tabview-contents { }
.lbf-tabview-content { display: none; }
.lbf-tabview-content-selected { display:block;}