#p_homepage .header {
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  background-color: #666666;
  background-repeat: no-repeat;
}
#p_homepage .header .nav {
  width: 960px;
  margin: 0 auto;
}
#p_homepage .header .nav .logo {
  float: left;
  height: 60px;
  line-height: 60px;
  font-weight: lighter;
  color: #ffffff;
  font-size: 24px;
}
#p_homepage .header .nav .menu {
  float: right;
  margin-top: 15px;
}
#p_homepage .header .nav .menu li {
  float: left;
  font-size: 16px;
  margin-left: 40px;
  line-height: 30px;
}
#p_homepage .header .nav .menu li a {
  float: left;
  color: #ffffff;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: lighter;
  vertical-align: top;
  height: 30px;
  display: inline-block;
}
#p_homepage .header .nav .menu li a.active {
  background-color: #232323;
}
#p_homepage .header .nav .header-logout {
  line-height: 60px;
  width: 60px;
  float: right;
  text-align: center;
}
#p_homepage .header .nav .header-logout .icon-logout {
  vertical-align: middle;
}
#p_homepage .header .nav .userinfo {
  line-height: 60px;
  float: right;
  margin-left: 150px;
}
#p_homepage .header .nav .userinfo .avatar {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  vertical-align: middle;
  margin-top: -1px;
}
#p_homepage .header .nav .userinfo .user-name {
  max-width: 150px;
  overflow: hidden;
  margin-left: 6px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  color: #ffffff;
  font-weight: lighter;
  margin-top: -1px;
}
