#p_homepage .header {
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  background-color: #666666;
  background-repeat: no-repeat;
}
#p_homepage .header .nav {
  width: 960px;
  margin: 0 auto;
}
#p_homepage .header .nav .logo {
  float: left;
  height: 60px;
  line-height: 60px;
  font-weight: lighter;
  color: #ffffff;
  font-size: 24px;
}
#p_homepage .header .nav .menu {
  float: right;
  margin-top: 15px;
}
#p_homepage .header .nav .menu li {
  float: left;
  font-size: 16px;
  margin-left: 40px;
  line-height: 30px;
}
#p_homepage .header .nav .menu li a {
  float: left;
  color: #ffffff;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: lighter;
  vertical-align: top;
  height: 30px;
  display: inline-block;
}
#p_homepage .header .nav .menu li a.active {
  background-color: #232323;
}
#p_homepage .header .nav .header-logout {
  line-height: 60px;
  width: 60px;
  float: right;
  text-align: center;
}
#p_homepage .header .nav .header-logout .icon-logout {
  vertical-align: middle;
}
#p_homepage .header .nav .userinfo {
  line-height: 60px;
  float: right;
  margin-left: 150px;
}
#p_homepage .header .nav .userinfo .avatar {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  vertical-align: middle;
  margin-top: -1px;
}
#p_homepage .header .nav .userinfo .user-name {
  max-width: 150px;
  overflow: hidden;
  margin-left: 6px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  color: #ffffff;
  font-weight: lighter;
  margin-top: -1px;
}
#p_homepage .module_tabs {
  margin: 15px auto 30px;
  width: 960px;
  border: 1px solid #E9E9E9;
  box-shadow: 1px 2px 2px 0px #E9E9E9;
  padding: 10px 15px 10px 25px;
}
#p_homepage .module_tabs .notice {
  padding-left: 60px;
  position: relative;
  display: inline-block;
  color: #66686c;
  width: 240px;
}
#p_homepage .module_tabs .notice .icon-clock {
  position: absolute;
  left: 0;
}
#p_homepage .module_tabs .part_links {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
#p_homepage .module_tabs .part_links .added_links {
  float: right;
}
#p_homepage .module_tabs .part_links .added_links li {
  background-color: #E9E9E9;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  color: #66686c;
  font-weight: bold;
}
#p_homepage .module_tabs .part_links .btn_add {
  float: right;
  border: 1px dotted #C5C5C5;
  width: 16px;
  height: 16px;
  padding: 6px;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
#p_homepage .module_tabs .part_links .btn_add .icon-add-btn {
  display: block;
}
