<% 
    include('../widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['/static_proxy/themes/blue/books/front.css','/static_proxy/themes/blue/books/screen.css','/static_proxy/themes/blue/books/homepage.css']   
    }); 
%>
<div id="bookshomepage">
	<div class="container">
		<div class="headerContainer">
			<div class="bus_header">
				<div class="logo"></div>
				<div class="separator_line" style="margin-left:26px;"></div>
				<div class="menu_current menu menu_index">
					<a href="">首页</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">图书检索</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我的借阅</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我的外借</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我的书库</a>
				</div>
				<div class="user">
					liuciwen(刘慈文)
				</div>
				<div class="staffHead">
					<img src="/public/avatars/profile.jpg" alt="头像" style="width:38px;height:40px;border:0;"/>
				</div>
			</div>
		</div>
<div class="div_950 mauto">

        <form name="form1" method="post" action="book.aspx?i=11220581" id="form1" onsubmit="return contentSubmit();">
<div>
</div>

         <div class="lh24 mb10">当前位置：<a href="http://www.huanshuwang.com/" title="换书网首页" class="black no">首页</a> > <a href="search.aspx?c=28" title="社会科学" class="black no">社会科学</a> > <a href="search.aspx?c=455" title="社会学" class="black no">社会学</a> > 先秦政治思想史</div>
         <div>
                <!-- start:主体_left -->
                <div class="div_705 fl">
                    <!-- start:left_1 -->
                    <div class="mb20">
    	<div class="pic1 fl">
        	<div class="pic1_1"></div>
            <div class="pic1_2"></div>
            <div class="pic1_3"></div>
            <div class="pic1_4 center"><img src="http://data.huanshuwang.com/book/201611/2016110608524756.jpg" alt="先秦政治思想史图片" width="240" height="240" /></div>
            <div class="pic1_3"></div>
            <div class="pic1_5"><div class="pic1_2"></div></div>
            <div class="pic1_6"></div>
            <div class="pic1_5"></div>
            <div class="pic1_5"></div>
            <div class="pic1_7"></div>
            <div class="pic1_8"></div>
            <div class="pic1_9"></div>
            <div class="pic1_10"></div>
                            <div class="pic1_11">
                                        
                                <!--Passit BUTTON BEGIN-->
                              

                                <script type="text/javascript">
var passit_title = "我在#换书网#上看到有本#先秦政治思想史#，经无数人推荐过我刚看完，非常好，现在强烈推荐给大家，有兴趣的赶快来换噢。都是免费滴~ (换书网)";//自定义分享标题，删除和留空表示使用默认
var passit_url = "";//自定义分享网址，删除和留空表示使用默认
var passit_content= "";//自定义分享内容，删除和留空表示使用默认Meta中的描述
var passit_image= "http://data.huanshuwang.com/book/201611/2016110608524756.jpg";//自定义分享图片，删除和留空表示不分享图片/*以上自定义的参数可以用js动态修改*/
                                </script>

                                <script type="text/javascript">
bookmark_service_div="kxzt,qqxy,bookmark,baidu,douban,sohuweibo,163weibo,sohu,baiduHi,more";
bookmark_service="sinaweibo,qqweibo,qqkj,xnzt,taojianhu";</script>

                                <script type="text/javascript" src="http://www.passit.cn/js/passit_default_new.js?pub=7081&simple=1"
                                    charset="UTF-8"></script>

                                <!--Passit BUTTON END-->
                                <div class="cb">
                                </div>
                            </div>
                        </div>
                        <div class="list3 fr">
                            <ul>
                                <h1 class="list3_1">
                                    <span id="lb_bname">先秦政治思想史</span>
                                </h1>
                                <li class="list3_2 ofH"><p>&nbsp;</p></li>
                            </ul>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list3_3 mb40">
                                <tr>
                                    <td width="65%">
                                        作 者：<span id="lb_author">梁启超 </span>&nbsp;著</td>
                                    <td>
                                        版 次：<span id="lb_edition">一版一印</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        出 版 社：<span id="lb_publisher">东方出版社</span></td>
                                    <td>
                                        页 数：<span id="lb_page">297</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        ＩＳＢＮ：<span id="lb_isbn">9787506046459</span></td>
                                    <td>
                                        装 帧：<span id="lb_bindid">平装</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        出版时间：<span id="lb_pdate">(2012-1出版)</span></td>
                                    <td>
                                        开 本：<span id="lb_format"></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        定 价：￥<span id="lb_price">42.0</span></td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                            </table>
                            <div class="list3_4">
                                <ul id="ulNoKeHuan" class="list3_42 mauto">
                                    <li class="list3_43 fl">
                                        <img src="http://common.goufang.com/book/images/icon_4.gif" alt="换书网登记换书需求按钮" /></li>
                                    <li class="list3_45 fl"><a href="javascript:void(0)" title="点此在换书网登记您的换书需求" id="btnWant" name="btnWant" onclick="yhClick()"  class="list_order">我要借阅</a></li>
                                    <li class="list3_44 fl">图书仍在闲置中，<br />
                                        可以点击左侧按钮进行借阅。
                                        <div class="cb">
                                        </div>
                                    </li>
                                </ul>
                                

                            </div>
                        </div>
                        <div class="cb">
                        </div>
                    </div>
                    <!-- end:left_1 -->
                    <!-- start:left_2 -->
                    
                    <div class="plate2 mb20">
    	                <ul class="plate2_1"><li class="plate2_11">&nbsp;</li></ul>
                        <p class="plate2_2">
                            <span id="lb_bookdesc">《民国学术经典广库&#8226;思想史类:先秦政治思想史》由梁启超在北京法政专门学校和东南大学讲课的讲义整理而成。全书共三十四章。《序论》部分讨论先秦政治思想所涉及的问题、资料及其研究方法；《前论》部分以逻辑的方法论述先秦时期主要的思想范畴，包括天道、民本思想，政治与伦理之结合，封建及其所生的结果，阶级制度的兴衰，法律的起源与概念，经济的推想等内容；《本论》部分则主要对儒、墨、道、法四家做详细论述及评价。
这部著作述及内容广泛、史料引证庞杂、思想涵盖深远、运笔流畅自如，是研究先秦政治思想的重要学术著作。</span>
                        </p>
                    </div>
                                    <!-- end:left_2 -->
                    <!-- start:left_3 -->
                    <div class="plate3">
                    				<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="news4" data-title="xinwen" data-url="http://local.school.express.com:3000/news/3"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"express"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
                       
                     
                    </div>
    <!-- end:left_3 -->
                </div>
                <!-- end:主体_left -->
                <!-- start:主体_right -->
                <div class="div_225 fr">
           
                    <div class="plate4 mb20">
                        <p class="plate4_1 f14 b">
                            您最近浏览了</p>
                        <div class="plate4_5">
                            <ul class="plate4_5">
                           
        	                    <li>
            	                    <a href="book.aspx?i=10320465" target="_blank" title="宁夏吴忠宗教文化与当代社会发展研究"><img alt="宁夏吴忠宗教文化与当代社会发展研究图片" src="http://data.huanshuwang.com/book/201107/20110726050452250.jpg" width="80" height="80"  /></a>
            	                </li>
                                
        	                    <li>
            	                    <a href="book.aspx?i=10320983" target="_blank" title="社会工作立法问题研究"><img alt="社会工作立法问题研究图片" src="http://data.huanshuwang.com/book/201108/20110803070127180.jpg" width="80" height="80"  /></a>
            	                </li>
                                
        	                    <li>
            	                    <a href="book.aspx?i=10320478" target="_blank" title="社会学家茶座(2006年3月)(总第16辑)"><img alt="社会学家茶座(2006年3月)(总第16辑)图片" src="http://data.huanshuwang.com/book/201108/20110803065323107.jpg" width="80" height="80"  /></a>
            	                </li>
                                
        	                    <li>
            	                    <a href="book.aspx?i=10319131" target="_blank" title="环境社会学的邀请(第3版)"><img alt="环境社会学的邀请(第3版)图片" src="http://data.huanshuwang.com/book/201108/20110803062805769.jpg" width="80" height="80"  /></a>
            	                </li>
                                
        	                    <li>
            	                    <a href="book.aspx?i=10320645" target="_blank" title="社会发展理论与社会发展战略:建构一种逻辑体系的研究纲要"><img alt="社会发展理论与社会发展战略:建构一种逻辑体系的研究纲要图片" src="http://data.huanshuwang.com/book/201108/20110803065601713.jpg" width="80" height="80"  /></a>
            	                </li>
                                
        	                    <li>
            	                    <a href="book.aspx?i=10320515" target="_blank" title="社会学的视野"><img alt="社会学的视野图片" src="http://data.huanshuwang.com/book/201107/20110726081839110.jpg" width="80" height="80"  /></a>
            	                </li>
                                
                                     </ul>
                           <div class="cb">
                            </div>
                        </div>
                    </div>
                    <!-- end:right_3 -->
       
                </div>
                <!-- end:主体_right -->
                <div class="cb">
                </div>
            </div>
            <!-- end:主体 -->
        <!-- 登录层 开始 -->
        <div class="pop1" id="ullogin" >
	<div class="pop_1"></div>
    <div class="pop_2"></div>
    <div class="pop_3"></div>
    <div class="pop_4">
    	<ul class="pop_41">
        	<a href="javascript:void(0)" onclick="login_win_c();" class="grey fr">关闭<font class="red">×</font></a> 
        </ul>
        <div class="cb"></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pop_42">

          <tr>
            <th>用户名</th>
            <td><input name="txtUserid" type="text" maxlength="20" size="30" id="txtUserid" class="enter_1" /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>密　码</th>
            <td><input name="txtPwd" type="password" maxlength="20" size="30" id="txtPwd" class="enter_1" />
</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td><input type="image" onclick="dologin();"  src="http://common.goufang.com/book/images/btn_21.gif" /></td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <div class="cb"></div>
  </div>
    <div class="pop_3"></div>
    <div class="pop_2"></div>
    <div class="pop_1"></div>
</div>


        
        <!-- 登录层 结束 -->
        </form>
 		<div style="DISPLAY: none">
			<input type="button" id="loginOpen"/> <input type="button" id="loginClose"/><input type="hidden" id="userid" name="userid" value="" />
			<input type="hidden" id="yhs" value="" name="yhs" />
			<input type="hidden" id="bookid" name="bookid" value="11220581" />
		</div>
		<script language="javascript" type="text/javascript">
	       if($("#userid").val()!="")
	       {
	            $("#ulFb").show();
	            $("#ulDl").hide();
	       }
	       else
	       {
	            $("#ulFb").hide();
	            $("#ulDl").show();
	       }
		</script>
       <!-- start:尾部 -->
        
<div class="foot"><ul>
	<li class="center"><a href="http://www.huanshuwang.com/help/gywm.htm" title="关于我们" target="_blank" class="no">关于我们</a>&nbsp;|&nbsp;<a target="_blank"  href="http://www.huanshuwang.com/help/mzsm.htm" class="no">免责声明</a>&nbsp;|&nbsp;<a target="_blank"  title="换书网友情链接"  href="http://www.huanshuwang.com/help/yqlj.htm" class="no">友情链接</a>&nbsp;|&nbsp;<a target="_blank" title="换书网联系我们"  href="http://www.huanshuwang.com/help/lxwm.htm" class="no">联系我们</a>&nbsp;|&nbsp;<a  title="换书网帮助中心" target="_blank"  href="http://www.huanshuwang.com/help/default.htm" class="no">帮助中心</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&nbsp;&copy;&nbsp;2011 huanshuwang.com,All Rights Reserved</li>
    <li class="center">
    <a href="http://www.huanshuwang.com/py.aspx?z=a" title="换书网图书索引A" target="_blank" class="no">A</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=b" title="换书网图书索引B" target="_blank" class="no">B</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=c" title="换书网图书索引C" target="_blank" class="no">C</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=d" title="换书网图书索引D" target="_blank" class="no">D</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=e" title="换书网图书索引E" target="_blank" class="no">E</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=f" title="换书网图书索引F" target="_blank" class="no">F</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=g" title="换书网图书索引G" target="_blank" class="no">G</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=h" title="换书网图书索引H" target="_blank" class="no">H</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=i" title="换书网图书索引I" target="_blank" class="no">I</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=j" title="换书网图书索引J" target="_blank" class="no">J</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=k" title="换书网图书索引K" target="_blank" class="no">K</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=l" title="换书网图书索引L" target="_blank" class="no">L</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=m" title="换书网图书索引M" target="_blank" class="no">M</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=n" title="换书网图书索引N" target="_blank" class="no">N</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=o" title="换书网图书索引O" target="_blank" class="no">O</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=p" title="换书网图书索引P" target="_blank" class="no">P</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=q" title="换书网图书索引Q" target="_blank" class="no">Q</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=r" title="换书网图书索引R" target="_blank" class="no">R</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=s" title="换书网图书索引S" target="_blank" class="no">S</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=t" title="换书网图书索引T" target="_blank" class="no">T</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=w" title="换书网图书索引W" target="_blank" class="no">W</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=x" title="换书网图书索引X" target="_blank" class="no">X</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=y" title="换书网图书索引Y" target="_blank" class="no">Y</a>
    <a href="http://www.huanshuwang.com/py.aspx?z=z" title="换书网图书索引Z" target="_blank" class="no">Z</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href=""  title="换书网ICP备案" target="_blank" class="no"> 辽ICP备11016337</a>&nbsp;&nbsp;<script src="http://s14.cnzz.com/stat.php?id=3383017&web_id=3383017" language="JavaScript"></script></li>
</ul></div>
<script type="text/javascript">if (gf.$("hUserName"))SetHUser();</script>

<!-- end:尾部 -->

<!-- end:尾部 -->

        <!-- end:尾部 -->
        
        
    </div>

		<div class="home_footer">
        	<p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    	</div>
	</div>
</div>
<%
	include('../widget/bottom', {
		locals: local
	});
%>