<% 
    include('../widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['/static_proxy/themes/blue/books/index.css','/static_proxy/themes/blue/books/screen.css','/static_proxy/themes/blue/books/homepage.css']   
    }); 
%>
<div id="bookshomepage">
	<div class="container">
		<div class="headerContainer">
			<div class="bus_header">
				<div class="logo"></div>
				<div class="separator_line" style="margin-left:26px;"></div>
				<div class="menu menu_index">
					<a href="">首页</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">图书检索</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我的借阅</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我的外借</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav menu_current">
					<a href="">我的书库</a>
				</div>
				<div class="user">
					liuciwen(刘慈文)
				</div>
				<div class="staffHead">
					<img src="/public/avatars/profile.jpg" alt="头像" style="width:38px;height:40px;border:0;"/>
				</div>
			</div>
		</div>
		<div class="borrows div_950 mauto">
			<p class="lh24 cur_pos">
				当前位置：<a href="">我的书库</a>
			</p>
			<div class="matter_2 mb20 mt20">
    	<div class="matter_21 mb20">
        	<p class="fl"><img src="http://common.goufang.com/book/images/0.gif"></p>

            <label class="f14 b fl">我的书库</label>
            <div class="cb"></div>
        </div>
        <div class="matter_22">
        
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10114709" title="我的成功可以复制介绍"><img src="http://data.huanshuwang.com/book/201107/20110722111846947.jpg" alt="我的成功可以复制图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10114709" title="我的成功可以复制介绍" class="no">我的成功可以复制</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10239907" title="好妈妈胜过好老师介绍"><img src="http://data.huanshuwang.com/book/201108/20110801080413159.jpg" alt="好妈妈胜过好老师图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10239907" title="好妈妈胜过好老师介绍" class="no">好妈妈胜过好老师</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10111744" title="世界因你不同:李开复自传介绍"><img src="http://data.huanshuwang.com/book/201107/20110722122348644.jpg" alt="世界因你不同:李开复自传图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10111744" title="世界因你不同:李开复自传介绍" class="no">世界因你不同:李开复自传</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10112013" title="马云点评创业介绍"><img src="http://data.huanshuwang.com/book/201107/20110722122426431.jpg" alt="马云点评创业图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10112013" title="马云点评创业介绍" class="no">马云点评创业</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=11214850" title="春宴（安妮宝贝最新长篇小说）介绍"><img src="http://data.huanshuwang.com/book/201108/20110816032525180.jpg" alt="春宴（安妮宝贝最新长篇小说）图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=11214850" title="春宴（安妮宝贝最新长篇小说）介绍" class="no">春宴（安妮宝贝最新长篇小说）</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10764116" title="跟乐嘉学性格色彩介绍"><img src="http://data.huanshuwang.com/book/201109/20110909121258460.jpg" alt="跟乐嘉学性格色彩图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10764116" title="跟乐嘉学性格色彩介绍" class="no">跟乐嘉学性格色彩</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10144584" title="少年必读文学名著:励志成才篇:孤女努力记介绍"><img src="http://data.huanshuwang.com/book/201107/20110723035050107.jpg" alt="少年必读文学名著:励志成才篇:孤女努力记图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10144584" title="少年必读文学名著:励志成才篇:孤女努力记介绍" class="no">少年必读文学名著:励志成才篇:</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=11214851" title="人生不设限：我那好得不像话的生命体验介绍"><img src="http://data.huanshuwang.com/book/201108/20110817015310661.jpg" alt="人生不设限：我那好得不像话的生命体验图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=11214851" title="人生不设限：我那好得不像话的生命体验介绍" class="no">人生不设限：我那好得不像话的生</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10086936" title="小时代(普通版)介绍"><img src="http://data.huanshuwang.com/book/201107/20110721095233501.jpg" alt="小时代(普通版)图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10086936" title="小时代(普通版)介绍" class="no">小时代(普通版)</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10298231" title="java2核心编程(第1卷):基础篇(第6版,影印版)介绍"><img src="http://data.huanshuwang.com/book/201108/2011080210472372.jpg" alt="java2核心编程(第1卷):基础篇(第6版,影印版)图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10298231" title="java2核心编程(第1卷):基础篇(第6版,影印版)介绍" class="no">java2核心编程(第1卷):</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=10097554" title="三杯茶介绍"><img src="http://data.huanshuwang.com/book/201107/20110722025825644.jpg" alt="三杯茶图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=10097554" title="三杯茶介绍" class="no">三杯茶</a></li>
            </ul>
            
            
            <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=11214849" title="蔡永康的说话之道介绍"><img src="http://data.huanshuwang.com/book/201108/20110814103832180.jpg" alt="蔡永康的说话之道图片" width="146" height="146"></a>
            	<li><a href="http://www.huanshuwang.com/book.aspx?i=11214849" title="蔡永康的说话之道介绍" class="no">蔡永康的说话之道</a></li>
            </ul>
             <ul>
            	<a href="http://www.huanshuwang.com/book.aspx?i=11214849" title="蔡永康的说话之道介绍"><img src="/public/avatars/addBook.jpg" alt="蔡永康的说话之道图片" width="146" height="146"></a>
            	<li style="text-align:center;"><a href="http://www.huanshuwang.com/book.aspx?i=11214849" title="蔡永康的说话之道介绍" class="no" style="text-align:center;">添加新的图书</a></li>
            </ul>
            
        	
            <div class="cb"></div>
        </div>
    </div>
		</div>
		<div class="home_footer">
        	<p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    	</div>
	</div>
</div>
<%
	include('../widget/bottom', {
		locals: local
	});
%>
