.p-da {
    .main-area {
        .lbf-tabview-contents {
            margin: 65px 30px;
            height: 330px;
        }

        &-tooltip {
            padding: 5px 2px;
            color: #FFF;
            box-sizing: border-box;

            div {
                height: 20px;
                line-height: 20px;
            }

            table {
                table-layout: fixed;
                border-spacing: 0;
                border-collapse: collapse\9;
            }

            td:first-child {
                padding-right: 15px;
            }
            td:last-child {
                text-align: right;
            }
        }
    }
}
