.p-da {
    .da-industry {
        margin-left: 8px;
        width: 180px;

        .lbf-combobox {
            vertical-align: middle;
        }
        .lbf-combobox-label {
            width: 126px;
        }
    }
}
