.p-da {
    .da-progress {
        display: inline-block;
        width: 70px;
        height: 10px;
        vertical-align: middle;
        background-color: #E0E5ED;
        border-radius: 5px;

        span {
            display: block;
            width: 0;
            height: 100%;
            color: #00a1f2;
            background-color: currentColor;
            border-radius: 5px;
        }
    }
}
