@import "./icons.less";
@import "../../base/mixin";

.p-da {
    .da-select-container {
        .lbf-combobox-label.lbf-button {
            padding: 0 20px 0 0;
            width: auto;
            border: none;
            background-color: transparent;

            &:hover {
                text-decoration: none;
            }
        }
        .lbf-combobox-icon:extend(.icon-da-arrow) {
            top: 16px;
            right: 5px;
        }
    }
}

.da-select.lbf-combobox-panel {
    padding: 5px 0 9px;
    border: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
       -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

    .lbf-combobox-item {
        padding: 0 20px;
    }
}

.da-select {
    width: auto!important;
    max-width: 250px;

    .lbf-combobox-option {
        a {
            .ell();
        }
    }
}