.p-da {
    .main-loyalty {
        padding: 20px 30px;
        height: 450px;

        ul {
            text-align: left;
        }

        li {
            position: relative;
            float: left;
            margin: 100px 0 59px 0;
            width: 33.33333333333%;
            text-align: center;
        }

        &-txt {
            display: inline-block;
            text-align: left;

            i {
                margin: 0 6px 0 0;
                vertical-align: -1px;
            }
        }

        &-face {
            margin: 0 auto 40px;
            display: block;

            &:hover + .main-loyalty-tip {
                display: block;
            }
        }

        &-per {
            margin-right: 6px;
            font-size: 36px;
            color: #FABC23;
            font-weight: 100;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        &-li-1 .main-loyalty-per {
            color: #00a1f2;
        }
        &-li-2 .main-loyalty-per {
            color: #A2A9B6;
        }

        &-tip {
            display: none;
            position: absolute;
            top: -45px;
            left: 50%;
            margin: 0 0 0 10px;
            padding: 8px;
            line-height: 20px;
            text-align: left;
            color: #FFF;
            background-color: #373C42;
            border-radius: 4px;

            p {
                white-space: nowrap;
            }
        }
    }
}
