.p-da {
    .main-tip {
        .lbf-tip {
            background: #FFF;
            border: 1px solid #D9DADC;

            .lbf-tip-content {
                color: #545a6c;
            }
            .lbf-tip-arrow-after {
                border-color: #FFF transparent;
            }
            .lbf-tip-arrow-before {
                border-color: #D9DADC transparent;
            }
        }
    }
}
