@import "../../base/mixin";

.replyTxt-main { padding-bottom:30px; color:@black;}
.replyTxt-face { position:relative; clear:both; width:435px; padding:5px; border:1px solid #b4b5bb; background:#fff url(images/qqicons.png) 5px 5px no-repeat; overflow:hidden; cursor:pointer;}
.replyTxt-face span { display:inline-block; float:left; width:28px; height:28px; border-right:1px solid #DFE6F6; border-bottom:1px solid #DFE6F6;}
.replyTxt-face .borderRightNone { border-right:none;}
.replyTxt-face .borderBottomNone { border-bottom:none;}

.replyTxt-main {
  .replyTxt-input {
    padding: 0 35px;
  }
  .replyTxt-bar {
    padding-right: 35px;
    font-size: 12px;
    color: #a8abb3;
    span {
      margin-top: -20px;
    }
  }
}