@import '../../base/mixin';

.lbf-tag-box {
  &.tag-box-focus{
    border-color:#00a1f2;    
  }

  min-height:100px;
  *height: auto;
  .w(500);

  border:1px solid #b6b6b6;
  overflow-y:auto;
  overflow-x:hidden;

  cursor:text;
  font-size:12px;
  .border-radius(4px);

  .lbf-text-input {
    .l;
    width:auto;
    max-width:380px;
    border:none;
    .mt(-4px);
    background-color:transparent;
    font-size:12px;
    -webkit-box-shadow:none;
    box-shadow:none;

    input {
      display: block;
      float: none;
    }

    &:focus, &:hover, &-hover {
      border: 0!important;
      padding:2px 6px;
      box-shadow: none;
    }
  }

  .lbf-tag-box-tag-ct {
    .pb(3);
    .fix;
  }
  .lbf-tag-box-tag {

    .l;
    .h(28);
    .lh(28);
    .pl(15);
    .pr(15);
    .mt(10);
    .ml(10);

    .bd;
    .c(@dark);
    .ell;
    .border-radius(14px);
    .bg(@white);
    .poi;

    max-width: 90%;

    &:hover {
      text-decoration:line-through; cursor:pointer;
    }
  }
  .lbf-tag-box-tag-selected {
    background-color: #CBDAF0;
  }

}

