@import 'userGuide';
.page-contract {
  background: #1f2123 url(images/bg.jpg) center top no-repeat;
  background-size: cover;
  #main {
    margin: 0;
    padding: 0;
  }
  .main {
    width: 374px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -167px;
    margin-top: -320px;
  }
  .contain-window {
    background-color: #f5f5fa;
    width: 500px;
    height: 400px;
    border-radius: 4px;

  }

  .footer {
    padding: 50px 0;
    max-height: 200px;
    position: absolute;
    background: #1f2123;
    width: 100%;
    bottom: 0;
  }

  .footer .copyright {
    text-align: center;
    color: #585858;
    font: 12px/1.5 'microsoft yahei',arial,sans-serif;
  }

  .footer .verified {
    width: 360px;
    height: 30px;
    margin: 20px auto 0;
    padding-bottom: 5px;
  }

  .footer .verified li {
    float: left;
    padding: 0 5px;
  }

  .footer .verified .veri-bg {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    line-height: 999px;
    overflow: hidden;
  }

  .footer .verified .norton-verified {
    width: 58px;
    height: 30px;
    background: url(images/nortonVerified.png) 0 -8px no-repeat;
  }

  .footer .verified .norton-verified:hover {
    background-position: 0 -38px;
  }

  .footer .verified .veri-sign {
    width: 48px;
    height: 20px;
    background: url(images/veriSign.png) no-repeat;
  }

  .footer .verified .veri-sign:hover {
    background-position: 0 -19px;
  }

  .footer .verified .net-credit {
    width: 27px;
    height: 28px;
    background: url(images/netTrusty.png) no-repeat;
  }

  .footer .verified .net-credit:hover {
    background-position: 0 -28px;
  }

  .footer .verified .honesty-website {
    width: 75px;
    height: 26px;
    background: url(images/honestyWebsite.png) no-repeat;
  }

  .footer .verified .honesty-website:hover {
    background-position: 0 -25px;
  }

  .footer .verified .trusty-website {
    width: 67px;
    height: 26px;
    background: url(images/trustyWebsite.png) no-repeat;
  }

  .footer .verified .trusty-website:hover {
    background-position: 0 -25px;
  }

}



