/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.members-select .members-select-box {
  border: 1px #dadee7 solid;
  height: 278px !important;
  width: 308px;
}
.members-select .members-select-box li {
  width: 308px;
  height: 35px;
  border-bottom: none;
}
.members-select .members-select-box li .lbf-icheckbox {
  margin-top: 7px;
}
.members-select .members-select-box .info {
  padding-left: 15px;
  line-height: 35px;
}
.members-select .members-select-box dt,
.members-select .members-select-box dd {
  float: left;
}
.members-select .members-select-box dt {
  margin: 8px 5px 0 0;
}
