//// 1、Create Page 新建发送内容页面

//1.1 section标题
.div-title {
  font-size: 18px;
  color: @dark;
  .bg(#fff);
  .h(50px);
  .lh(50px);
  .pl(30px);
}

//1.2 section主体
.div-body {
  .bg(@white);
  padding: 10px 30px 10px;
  padding-right: 0;

  //清除已经内容的提示语tip
  .clear-qf-tip {
    text-align:right;
    color: @gray;
    .mt(-15px);
    .mb(-6px);
  }
}

//1.3  页面主按钮
.div-buttons {
  margin:60px 0 40px;
  text-align:center;
  .lbf-button-huge {
    font-size: 16px;
    line-height: 48px;
    padding: 0 35px;
  }
}

//1.4 发送内容选择框container
.group-send-content {
  .mb(20px);
  //min-height: 230px;
  .loading{
    .abs();
    .ml(560px);
    .mt(100px);
  }
}




//// 2、List | History Page 列表页面

//2.1 列表中的tag样式
.tag {
  .rel;
  .dib;
  .h(24);
  .lh(24);
  .bg(#e4e8ea);
  .pl(10);
  .pr(10);
  .c(@dark);
  .ell;
  .border-radius(14px);
  .poi;
  .mr(5px);

  max-width: 90%;

  .icon-clear,
  .icon-clear-gray{
    .abs;
    right:12px;
    top:10px;
  }

/*
  &:hover {
    .bg(@white);
  }
*/
  &.checked {
    .c(@white);
    .bg(@blue);
    .bd(@blue);
  }

  &.highlight {
    .mr(5);
    .bg(@white);
    .pr(30);
    .pl(15);
    .bd(@nav-border);

    &:hover{
      .c(@link-hover);
      .bg(@bg-gray);
    }
  }

  &.readonly{
    cursor:default;

    &:hover{
      .c(@dark);
      .bg(@white);
    }
  }

  &-blue{
    .bd(@blue);
    .bg(@bg-gray);
    .c(@bright-blue);

    &:hover{
      .bg(#fff);
      .c(@dark);
    }
  }
}