

.icon-srv {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("../common/images/icons.png?2016621") no-repeat;
	background-size:100px auto;
}


    
    
    
    

.icon-srv-account-checked-highlight:extend(.icon-srv) {
    width: 16px;
    height: 16px;
}
.highlight .icon-srv-account-checked,
a:hover .icon-srv-account-checked,
a:hover .icon-srv-account-checked-highlight,
.highlight:hover .icon-srv-account-checked,
.icon-srv-account-checked-highlight:hover,
.icon-srv-account-checked-highlight {
    background-position: 0px -409px;
}
        
    

    
    
    
    

.icon-srv-account-checked:extend(.icon-srv) {
    width: 16px;
    height: 16px;
}
.checked .icon-srv-account,
a:hover .icon-srv-account,
a:hover .icon-srv-account-checked,
.checked:hover .icon-srv-account,
.icon-srv-account-checked:hover,
.icon-srv-account-checked {
    background-position: 0px -617px;
}
        
    

    
    
    
    

.icon-srv-account-ticked-highlight:extend(.icon-srv) {
    width: 18px;
    height: 17px;
}
.highlight .icon-srv-account-ticked,
a:hover .icon-srv-account-ticked,
a:hover .icon-srv-account-ticked-highlight,
.highlight:hover .icon-srv-account-ticked,
.icon-srv-account-ticked-highlight:hover,
.icon-srv-account-ticked-highlight {
    background-position: 0px -695px;
}
        
    

    
    
    
    
.icon-srv-account-ticked:extend(.icon-srv) {
    width: 18px;
    height: 17px;
    background-position: 0px -776px;
}        
    

    
    
    
    
.icon-srv-account-type:extend(.icon-srv) {
    width: 21px;
    height: 17px;
    background-position: 0px -803px;
}        
    

    
    
    
    
.icon-srv-add-blue:extend(.icon-srv) {
    width: 16px;
    height: 16px;
    background-position: 0px -591px;
}        
    

    
    
    
    

.icon-srv-add:hover,
a:hover .icon-srv-add {
    background-position: 0px -2984px;
}
        
    

    
    
    
    
.icon-srv-add-mini:extend(.icon-srv) {
    width: 16px;
    height: 16px;
    background-position: 0px -383px;
}        
    

    
    
    
    
.icon-srv-add:extend(.icon-srv) {
    width: 24px;
    height: 24px;
    background-position: 0px -2950px;
}        
    

    
    
    
    
.icon-srv-arr-down:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -26px;
}        
    

    
    
    
    
.icon-srv-arr-left:extend(.icon-srv) {
    width: 8px;
    height: 14px;
    background-position: 0px -335px;
}        
    

    
    
    
    
.icon-srv-arr-right:extend(.icon-srv) {
    width: 8px;
    height: 14px;
    background-position: 0px -311px;
}        
    

    
    
    
    
.icon-srv-arr-up:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -58px;
}        
    

    
    
    
    
.icon-srv-arrow-down:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -74px;
}        
    

    
    
    
    
.icon-srv-arrow-up:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -90px;
}        
    

    
    
    
    
.icon-srv-avatar-medium-female:extend(.icon-srv) {
    width: 45px;
    height: 45px;
    background-position: 0px -3168px;
}        
    

    
    
    
    
.icon-srv-avatar-medium-male:extend(.icon-srv) {
    width: 45px;
    height: 45px;
    background-position: 0px -3278px;
}        
    

    
    
    
    
.icon-srv-avatar-small:extend(.icon-srv) {
    width: 45px;
    height: 45px;
    background-position: 0px -3223px;
}        
    

    
    
    
    
.icon-srv-avatar:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -4700px;
}        
    

    
    
    
    
.icon-srv-blocked-building:extend(.icon-srv) {
    width: 19px;
    height: 18px;
    background-position: 0px -1558px;
}        
    

    
    
    
    

.icon-srv-call-disabled:extend(.icon-srv) {
    width: 50px;
    height: 50px;
}
.disabled .icon-srv-call,
a:hover .icon-srv-call,
a:hover .icon-srv-call-disabled,
.disabled:hover .icon-srv-call,
.icon-srv-call-disabled:hover,
.icon-srv-call-disabled {
    background-position: 0px -3569px;
}
        
    

    
    
    
    

.icon-srv-call:hover,
a:hover .icon-srv-call {
    background-position: 0px -3449px;
}
        
    

    
    
    
    
.icon-srv-call-phone:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -1960px;
}        
    

    
    
    
    

.icon-srv-call-small-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-call-small,
a:hover .icon-srv-call-small,
a:hover .icon-srv-call-small-disabled,
.disabled:hover .icon-srv-call-small,
.icon-srv-call-small-disabled:hover,
.icon-srv-call-small-disabled {
    background-position: 0px -1306px;
}
        
    

    
    
    
    
.icon-srv-call-small:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1278px;
}        
    

    
    
    
    
.icon-srv-call:extend(.icon-srv) {
    width: 50px;
    height: 50px;
    background-position: 0px -3689px;
}        
    

    
    
    
    

.icon-srv-callim-disabled:extend(.icon-srv) {
    width: 50px;
    height: 50px;
}
.disabled .icon-srv-callim,
a:hover .icon-srv-callim,
a:hover .icon-srv-callim-disabled,
.disabled:hover .icon-srv-callim,
.icon-srv-callim-disabled:hover,
.icon-srv-callim-disabled {
    background-position: 0px -3989px;
}
        
    

    
    
    
    

.icon-srv-callim:hover,
a:hover .icon-srv-callim {
    background-position: 0px -3509px;
}
        
    

    
    
    
    
.icon-srv-callim:extend(.icon-srv) {
    width: 50px;
    height: 50px;
    background-position: 0px -3629px;
}        
    

    
    
    
    
.icon-srv-cancel:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2560px;
}        
    

    
    
    
    
.icon-srv-chain:extend(.icon-srv) {
    width: 17px;
    height: 18px;
    background-position: 0px -1138px;
}        
    

    
    
    
    

.icon-srv-charge-detail:hover,
a:hover .icon-srv-charge-detail {
    background-position: 0px -1110px;
}
        
    

    
    
    
    
.icon-srv-charge-detail:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1194px;
}        
    

    
    
    
    

.icon-srv-chat-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-chat,
a:hover .icon-srv-chat,
a:hover .icon-srv-chat-disabled,
.disabled:hover .icon-srv-chat,
.icon-srv-chat-disabled:hover,
.icon-srv-chat-disabled {
    background-position: 0px -1446px;
}
        
    

    
    
    
    
.icon-srv-chat:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1082px;
}        
    

    
    
    
    
.icon-srv-close-it:extend(.icon-srv) {
    width: 10px;
    height: 10px;
    background-position: 0px -160px;
}        
    

    
    
    
    
.icon-srv-create:extend(.icon-srv) {
    width: 16px;
    height: 16px;
    background-position: 0px -643px;
}        
    

    
    
    
    

.icon-srv-ctrl-ellip:hover,
a:hover .icon-srv-ctrl-ellip {
    background-position: 0px 0px;
}
        
    

    
    
    
    
.icon-srv-ctrl-ellip:extend(.icon-srv) {
    width: 15px;
    height: 3px;
    background-position: 0px -13px;
}        
    

    
    
    
    

.icon-srv-del-highlight:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.highlight .icon-srv-del,
a:hover .icon-srv-del,
a:hover .icon-srv-del-highlight,
.highlight:hover .icon-srv-del,
.icon-srv-del-highlight:hover,
.icon-srv-del-highlight {
    background-position: 0px -886px;
}
        
    

    
    
    
    

.icon-srv-del:hover,
a:hover .icon-srv-del {
    background-position: 0px -914px;
}
        
    

    
    
    
    

.icon-srv-del-s:hover,
a:hover .icon-srv-del-s {
    background-position: 0px -565px;
}
        
    

    
    
    
    
.icon-srv-del-s:extend(.icon-srv) {
    width: 16px;
    height: 16px;
    background-position: 0px -539px;
}        
    

    
    
    
    
.icon-srv-del:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -998px;
}        
    

    
    
    
    

.icon-srv-del2:hover,
a:hover .icon-srv-del2 {
    background-position: 0px -1026px;
}
        
    

    
    
    
    
.icon-srv-del2:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1054px;
}        
    

    
    
    
    

.icon-srv-delete-highlight:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.highlight .icon-srv-delete,
a:hover .icon-srv-delete,
a:hover .icon-srv-delete-highlight,
.highlight:hover .icon-srv-delete,
.icon-srv-delete-highlight:hover,
.icon-srv-delete-highlight {
    background-position: 0px -2080px;
}
        
    

    
    
    
    

.icon-srv-delete:hover,
a:hover .icon-srv-delete {
    background-position: 0px -2110px;
}
        
    

    
    
    
    
.icon-srv-delete:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2920px;
}        
    

    
    
    
    
.icon-srv-door:extend(.icon-srv) {
    width: 16px;
    height: 18px;
    background-position: 0px -1166px;
}        
    

    
    
    
    
.icon-srv-down:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -42px;
}        
    

    
    
    
    

.icon-srv-edit-highlight:extend(.icon-srv) {
    width: 18px;
    height: 19px;
}
.highlight .icon-srv-edit,
a:hover .icon-srv-edit,
a:hover .icon-srv-edit-highlight,
.highlight:hover .icon-srv-edit,
.icon-srv-edit-highlight:hover,
.icon-srv-edit-highlight {
    background-position: 0px -1901px;
}
        
    

    
    
    
    

.icon-srv-edit:hover,
a:hover .icon-srv-edit {
    background-position: 0px -1872px;
}
        
    

    
    
    
    

.icon-srv-edit-s:hover,
a:hover .icon-srv-edit-s {
    background-position: 0px -487px;
}
        
    

    
    
    
    
.icon-srv-edit-s:extend(.icon-srv) {
    width: 16px;
    height: 16px;
    background-position: 0px -461px;
}        
    

    
    
    
    
.icon-srv-edit:extend(.icon-srv) {
    width: 18px;
    height: 19px;
    background-position: 0px -1843px;
}        
    

    
    
    
    

.icon-srv-edit2:hover,
a:hover .icon-srv-edit2 {
    background-position: 0px -1814px;
}
        
    

    
    
    
    
.icon-srv-edit2:extend(.icon-srv) {
    width: 18px;
    height: 19px;
    background-position: 0px -1785px;
}        
    

    
    
    
    

.icon-srv-edit3-highlight:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.highlight .icon-srv-edit3,
a:hover .icon-srv-edit3,
a:hover .icon-srv-edit3-highlight,
.highlight:hover .icon-srv-edit3,
.icon-srv-edit3-highlight:hover,
.icon-srv-edit3-highlight {
    background-position: 0px -2470px;
}
        
    

    
    
    
    

.icon-srv-edit3:hover,
a:hover .icon-srv-edit3 {
    background-position: 0px -2380px;
}
        
    

    
    
    
    
.icon-srv-edit3:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2350px;
}        
    

    
    
    
    
.icon-srv-female:extend(.icon-srv) {
    width: 8px;
    height: 13px;
    background-position: 0px -265px;
}        
    

    
    
    
    

.icon-srv-filter-highlight:extend(.icon-srv) {
    width: 16px;
    height: 12px;
}
.highlight .icon-srv-filter,
a:hover .icon-srv-filter,
a:hover .icon-srv-filter-highlight,
.highlight:hover .icon-srv-filter,
.icon-srv-filter-highlight:hover,
.icon-srv-filter-highlight {
    background-position: 0px -243px;
}
        
    

    
    
    
    
.icon-srv-filter:extend(.icon-srv) {
    width: 16px;
    height: 12px;
    background-position: 0px -221px;
}        
    

    
    
    
    

.icon-srv-first-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-first,
a:hover .icon-srv-first,
a:hover .icon-srv-first-disabled,
.disabled:hover .icon-srv-first,
.icon-srv-first-disabled:hover,
.icon-srv-first-disabled {
    background-position: 0px -1586px;
}
        
    

    
    
    
    
.icon-srv-first:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1614px;
}        
    

    
    
    
    
.icon-srv-fixed-phone:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -1930px;
}        
    

    
    
    
    

.icon-srv-globe-highlight:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.highlight .icon-srv-globe,
a:hover .icon-srv-globe,
a:hover .icon-srv-globe-highlight,
.highlight:hover .icon-srv-globe,
.icon-srv-globe-highlight:hover,
.icon-srv-globe-highlight {
    background-position: 0px -1670px;
}
        
    

    
    
    
    
.icon-srv-globe:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1642px;
}        
    

    
    
    
    
.icon-srv-group-card:extend(.icon-srv) {
    width: 40px;
    height: 40px;
    background-position: 0px -3018px;
}        
    

    
    
    
    
.icon-srv-headphone:extend(.icon-srv) {
    width: 18px;
    height: 19px;
    background-position: 0px -1698px;
}        
    

    
    
    
    

.icon-srv-imgtext-highlight:extend(.icon-srv) {
    width: 100px;
    height: 100px;
}
.highlight .icon-srv-imgtext,
a:hover .icon-srv-imgtext,
a:hover .icon-srv-imgtext-highlight,
.highlight:hover .icon-srv-imgtext,
.icon-srv-imgtext-highlight:hover,
.icon-srv-imgtext-highlight {
    background-position: 0px -5910px;
}
        
    

    
    
    
    

.icon-srv-imgtext:hover,
a:hover .icon-srv-imgtext {
    background-position: 0px -5800px;
}
        
    

    
    
    
    
.icon-srv-imgtext:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -5580px;
}        
    

    
    
    
    

.icon-srv-label-close:hover,
a:hover .icon-srv-label-close {
    background-position: 0px -180px;
}
        
    

    
    
    
    
.icon-srv-label-close:extend(.icon-srv) {
    width: 10px;
    height: 10px;
    background-position: 0px -140px;
}        
    

    
    
    
    

.icon-srv-last-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-last,
a:hover .icon-srv-last,
a:hover .icon-srv-last-disabled,
.disabled:hover .icon-srv-last,
.icon-srv-last-disabled:hover,
.icon-srv-last-disabled {
    background-position: 0px -1530px;
}
        
    

    
    
    
    
.icon-srv-last:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1502px;
}        
    

    
    
    
    

.icon-srv-left-black:hover,
a:hover .icon-srv-left-black {
    background-position: 0px -1990px;
}
        
    

    
    
    
    
.icon-srv-left-black:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2020px;
}        
    

    
    
    
    
.icon-srv-male:extend(.icon-srv) {
    width: 11px;
    height: 11px;
    background-position: 0px -200px;
}        
    

    
    
    
    
.icon-srv-mark-wx:extend(.icon-srv) {
    width: 14px;
    height: 14px;
    background-position: 0px -359px;
}        
    

    
    
    
    

.icon-srv-merge-disabled:extend(.icon-srv) {
    width: 50px;
    height: 50px;
}
.disabled .icon-srv-merge,
a:hover .icon-srv-merge,
a:hover .icon-srv-merge-disabled,
.disabled:hover .icon-srv-merge,
.icon-srv-merge-disabled:hover,
.icon-srv-merge-disabled {
    background-position: 0px -3869px;
}
        
    

    
    
    
    

.icon-srv-merge:hover,
a:hover .icon-srv-merge {
    background-position: 0px -3809px;
}
        
    

    
    
    
    
.icon-srv-merge:extend(.icon-srv) {
    width: 50px;
    height: 50px;
    background-position: 0px -3749px;
}        
    

    
    
    
    
.icon-srv-mobile-phone:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2200px;
}        
    

    
    
    
    
.icon-srv-mp-big:extend(.icon-srv) {
    width: 70px;
    height: 70px;
    background-position: 0px -4049px;
}        
    

    
    
    
    
.icon-srv-mp-card:extend(.icon-srv) {
    width: 40px;
    height: 40px;
    background-position: 0px -3068px;
}        
    

    
    
    
    

.icon-srv-mp-disabled:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.disabled .icon-srv-mp,
a:hover .icon-srv-mp,
a:hover .icon-srv-mp-disabled,
.disabled:hover .icon-srv-mp,
.icon-srv-mp-disabled:hover,
.icon-srv-mp-disabled {
    background-position: 0px -2290px;
}
        
    

    
    
    
    
.icon-srv-mp:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2320px;
}        
    

    
    
    
    

.icon-srv-next-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-next,
a:hover .icon-srv-next,
a:hover .icon-srv-next-disabled,
.disabled:hover .icon-srv-next,
.icon-srv-next-disabled:hover,
.icon-srv-next-disabled {
    background-position: 0px -1474px;
}
        
    

    
    
    
    
.icon-srv-next:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -830px;
}        
    

    
    
    
    
.icon-srv-no-results:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -4810px;
}        
    

    
    
    
    
.icon-srv-nomsg:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -4480px;
}        
    

    
    
    
    

.icon-srv-notebook-highlight:extend(.icon-srv) {
    width: 17px;
    height: 18px;
}
.highlight .icon-srv-notebook,
a:hover .icon-srv-notebook,
a:hover .icon-srv-notebook-highlight,
.highlight:hover .icon-srv-notebook,
.icon-srv-notebook-highlight:hover,
.icon-srv-notebook-highlight {
    background-position: 0px -1418px;
}
        
    

    
    
    
    
.icon-srv-notebook:extend(.icon-srv) {
    width: 17px;
    height: 18px;
    background-position: 0px -1390px;
}        
    

    
    
    
    
.icon-srv-null:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -4370px;
}        
    

    
    
    
    

.icon-srv-paper-highlight:extend(.icon-srv) {
    width: 16px;
    height: 18px;
}
.highlight .icon-srv-paper,
a:hover .icon-srv-paper,
a:hover .icon-srv-paper-highlight,
.highlight:hover .icon-srv-paper,
.icon-srv-paper-highlight:hover,
.icon-srv-paper-highlight {
    background-position: 0px -1362px;
}
        
    

    
    
    
    
.icon-srv-paper:extend(.icon-srv) {
    width: 16px;
    height: 18px;
    background-position: 0px -1334px;
}        
    

    
    
    
    
.icon-srv-phone-disable_s:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2620px;
}        
    

    
    
    
    
.icon-srv-phone:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2650px;
}        
    

    
    
    
    

.icon-srv-prev-disabled:extend(.icon-srv) {
    width: 18px;
    height: 18px;
}
.disabled .icon-srv-prev,
a:hover .icon-srv-prev,
a:hover .icon-srv-prev-disabled,
.disabled:hover .icon-srv-prev,
.icon-srv-prev-disabled:hover,
.icon-srv-prev-disabled {
    background-position: 0px -1250px;
}
        
    

    
    
    
    
.icon-srv-prev:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -1222px;
}        
    

    
    
    
    
.icon-srv-qq-big:extend(.icon-srv) {
    width: 70px;
    height: 70px;
    background-position: 0px -4129px;
}        
    

    
    
    
    

.icon-srv-qq-chat-disabled:extend(.icon-srv) {
    width: 18px;
    height: 20px;
}
.disabled .icon-srv-qq-chat,
a:hover .icon-srv-qq-chat,
a:hover .icon-srv-qq-chat-disabled,
.disabled:hover .icon-srv-qq-chat,
.icon-srv-qq-chat-disabled:hover,
.icon-srv-qq-chat-disabled {
    background-position: 0px -2770px;
}
        
    

    
    
    
    
.icon-srv-qq-chat:extend(.icon-srv) {
    width: 18px;
    height: 20px;
    background-position: 0px -2800px;
}        
    

    
    
    
    

.icon-srv-qq-disabled:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.disabled .icon-srv-qq,
a:hover .icon-srv-qq,
a:hover .icon-srv-qq-disabled,
.disabled:hover .icon-srv-qq,
.icon-srv-qq-disabled:hover,
.icon-srv-qq-disabled {
    background-position: 0px -2830px;
}
        
    

    
    
    
    
.icon-srv-qq:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2860px;
}        
    

    
    
    
    
.icon-srv-qun-photo:extend(.icon-srv) {
    width: 50px;
    height: 50px;
    background-position: 0px -3929px;
}        
    

    
    
    
    
.icon-srv-qun-share:extend(.icon-srv) {
    width: 48px;
    height: 48px;
    background-position: 0px -3391px;
}        
    

    
    
    
    
.icon-srv-qun-tg:extend(.icon-srv) {
    width: 48px;
    height: 48px;
    background-position: 0px -3333px;
}        
    

    
    
    
    
.icon-srv-qun:extend(.icon-srv) {
    width: 100px;
    height: 71px;
    background-position: 0px -4289px;
}        
    

    
    
    
    
.icon-srv-remove-tag:extend(.icon-srv) {
    width: 8px;
    height: 8px;
    background-position: 0px -122px;
}        
    

    
    
    
    
.icon-srv-remove:extend(.icon-srv) {
    width: 14px;
    height: 13px;
    background-position: 0px -288px;
}        
    

    
    
    
    

.icon-srv-reset-highlight:extend(.icon-srv) {
    width: 17px;
    height: 16px;
}
.highlight .icon-srv-reset,
a:hover .icon-srv-reset,
a:hover .icon-srv-reset-highlight,
.highlight:hover .icon-srv-reset,
.icon-srv-reset-highlight:hover,
.icon-srv-reset-highlight {
    background-position: 0px -669px;
}
        
    

    
    
    
    

.icon-srv-reset:hover,
a:hover .icon-srv-reset {
    background-position: 0px -513px;
}
        
    

    
    
    
    
.icon-srv-reset:extend(.icon-srv) {
    width: 17px;
    height: 16px;
    background-position: 0px -435px;
}        
    

    
    
    
    

.icon-srv-right-grey:hover,
a:hover .icon-srv-right-grey {
    background-position: 0px -2890px;
}
        
    

    
    
    
    
.icon-srv-right-grey:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2740px;
}        
    

    
    
    
    
.icon-srv-staff-card:extend(.icon-srv) {
    width: 40px;
    height: 40px;
    background-position: 0px -3118px;
}        
    

    
    
    
    

.icon-srv-sure-highlight:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.highlight .icon-srv-sure,
a:hover .icon-srv-sure,
a:hover .icon-srv-sure-highlight,
.highlight:hover .icon-srv-sure,
.icon-srv-sure-highlight:hover,
.icon-srv-sure-highlight {
    background-position: 0px -2530px;
}
        
    

    
    
    
    

.icon-srv-sure:hover,
a:hover .icon-srv-sure {
    background-position: 0px -2440px;
}
        
    

    
    
    
    
.icon-srv-sure:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2410px;
}        
    

    
    
    
    

.icon-srv-tag-add-highlight:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.highlight .icon-srv-tag-add,
a:hover .icon-srv-tag-add,
a:hover .icon-srv-tag-add-highlight,
.highlight:hover .icon-srv-tag-add,
.icon-srv-tag-add-highlight:hover,
.icon-srv-tag-add-highlight {
    background-position: 0px -2260px;
}
        
    

    
    
    
    
.icon-srv-tag-add:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2230px;
}        
    

    
    
    
    

.icon-srv-tag-del-highlight:extend(.icon-srv) {
    width: 20px;
    height: 20px;
}
.highlight .icon-srv-tag-del,
a:hover .icon-srv-tag-del,
a:hover .icon-srv-tag-del-highlight,
.highlight:hover .icon-srv-tag-del,
.icon-srv-tag-del-highlight:hover,
.icon-srv-tag-del-highlight {
    background-position: 0px -2170px;
}
        
    

    
    
    
    
.icon-srv-tag-del:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2140px;
}        
    

    
    
    
    

.icon-srv-tag-highlight:extend(.icon-srv) {
    width: 17px;
    height: 17px;
}
.highlight .icon-srv-tag,
a:hover .icon-srv-tag,
a:hover .icon-srv-tag-highlight,
.highlight:hover .icon-srv-tag,
.icon-srv-tag-highlight:hover,
.icon-srv-tag-highlight {
    background-position: 0px -749px;
}
        
    

    
    
    
    
.icon-srv-tag:extend(.icon-srv) {
    width: 17px;
    height: 17px;
    background-position: 0px -722px;
}        
    

    
    
    
    

.icon-srv-tel-detail:hover,
a:hover .icon-srv-tel-detail {
    background-position: 0px -970px;
}
        
    

    
    
    
    
.icon-srv-tel-detail:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -942px;
}        
    

    
    
    
    

.icon-srv-text-highlight:extend(.icon-srv) {
    width: 100px;
    height: 100px;
}
.highlight .icon-srv-text,
a:hover .icon-srv-text,
a:hover .icon-srv-text-highlight,
.highlight:hover .icon-srv-text,
.icon-srv-text-highlight:hover,
.icon-srv-text-highlight {
    background-position: 0px -5030px;
}
        
    

    
    
    
    

.icon-srv-text:hover,
a:hover .icon-srv-text {
    background-position: 0px -4590px;
}
        
    

    
    
    
    
.icon-srv-text:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -5690px;
}        
    

    
    
    
    

.icon-srv-tip-gray-t:hover,
a:hover .icon-srv-tip-gray-t {
    background-position: 0px -2050px;
}
        
    

    
    
    
    
.icon-srv-tip-gray-t:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2710px;
}        
    

    
    
    
    
.icon-srv-tip-gray:extend(.icon-srv) {
    width: 18px;
    height: 18px;
    background-position: 0px -858px;
}        
    

    
    
    
    

.icon-srv-tips:hover,
a:hover .icon-srv-tips {
    background-position: 0px -2680px;
}
        
    

    
    
    
    
.icon-srv-tips:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2590px;
}        
    

    
    
    
    

.icon-srv-type-group-card:hover,
a:hover .icon-srv-type-group-card {
    background-position: 0px -4920px;
}
        
    

    
    
    
    
.icon-srv-type-group-card:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -6020px;
}        
    

    
    
    
    

.icon-srv-type-mp-card:hover,
a:hover .icon-srv-type-mp-card {
    background-position: 0px -5140px;
}
        
    

    
    
    
    
.icon-srv-type-mp-card:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -5250px;
}        
    

    
    
    
    

.icon-srv-type-staff-card:hover,
a:hover .icon-srv-type-staff-card {
    background-position: 0px -5360px;
}
        
    

    
    
    
    
.icon-srv-type-staff-card:extend(.icon-srv) {
    width: 100px;
    height: 100px;
    background-position: 0px -5470px;
}        
    

    
    
    
    
.icon-srv-up:extend(.icon-srv) {
    width: 10px;
    height: 6px;
    background-position: 0px -106px;
}        
    

    
    
    
    
.icon-srv-wx-big:extend(.icon-srv) {
    width: 70px;
    height: 70px;
    background-position: 0px -4209px;
}        
    

    
    
    
    

.icon-srv-wx-chat-disabled:extend(.icon-srv) {
    width: 20px;
    height: 19px;
}
.disabled .icon-srv-wx-chat,
a:hover .icon-srv-wx-chat,
a:hover .icon-srv-wx-chat-disabled,
.disabled:hover .icon-srv-wx-chat,
.icon-srv-wx-chat-disabled:hover,
.icon-srv-wx-chat-disabled {
    background-position: 0px -1756px;
}
        
    

    
    
    
    
.icon-srv-wx-chat:extend(.icon-srv) {
    width: 20px;
    height: 19px;
    background-position: 0px -1727px;
}        
    

    
    
    
    
.icon-srv-wx-small:extend(.icon-srv) {
    width: 20px;
    height: 20px;
    background-position: 0px -2500px;
}        
    
