/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.icon-mp,
.icon-add-no-cricle,
.icon-add,
.icon-arrow-down-highlight,
.icon-arrow-down,
.icon-arrow-up-highlight,
.icon-arrow-up,
.icon-bubble-arrow,
.icon-data,
.icon-down,
.icon-filter-highlight,
.icon-filter,
.icon-link,
.icon-menu-account-highlight,
.icon-menu-account-info-highlight,
.icon-menu-account-info,
.icon-menu-account,
.icon-menu-corp-highlight,
.icon-menu-corp,
.icon-menu-da-highlight,
.icon-menu-da,
.icon-menu-effect,
.icon-menu-groupsend-highlight,
.icon-menu-groupsend,
.icon-menu-material-highlight,
.icon-menu-material,
.icon-menu-menu-highlight,
.icon-menu-menu,
.icon-menu-pay-highlight,
.icon-menu-pay,
.icon-menu-reply-highlight,
.icon-menu-reply,
.icon-mp-del-disabled,
.icon-mp-del-highlight,
.icon-mp-del,
.icon-mp-del2-highlight,
.icon-mp-del2,
.icon-mp-edit-highlight,
.icon-mp-edit,
.icon-mp-edit2-highlight,
.icon-mp-edit2,
.icon-mp-group-disabled,
.icon-mp-group-highlight,
.icon-mp-group,
.icon-mp-refresh,
.icon-mp-remove-grey-s,
.icon-mp-statistic,
.icon-mp-tips-info,
.icon-mp-tips-info2,
.icon-nav-mp,
.icon-remove,
.icon-set,
.icon-up {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  background: url("../frame/images/icons.png?2016614") no-repeat;
  background-size: 20px auto;
}
.icon-add-no-cricle {
  width: 16px;
  height: 16px;
  background-position: 0px -304px;
}
.icon-add {
  width: 16px;
  height: 16px;
  background-position: 0px -798px;
}
.icon-arrow-down-highlight {
  width: 10px;
  height: 7px;
}
.highlight .icon-arrow-down,
a:hover .icon-arrow-down,
a:hover .icon-arrow-down-highlight,
.highlight:hover .icon-arrow-down,
.icon-arrow-down-highlight:hover,
.icon-arrow-down-highlight {
  background-position: 0px -85px;
}
.icon-arrow-down:hover,
a:hover .icon-arrow-down {
  background-position: 0px 0px;
}
.icon-arrow-down {
  width: 10px;
  height: 7px;
  background-position: 0px -17px;
}
.icon-arrow-up-highlight {
  width: 10px;
  height: 7px;
}
.highlight .icon-arrow-up,
a:hover .icon-arrow-up,
a:hover .icon-arrow-up-highlight,
.highlight:hover .icon-arrow-up,
.icon-arrow-up-highlight:hover,
.icon-arrow-up-highlight {
  background-position: 0px -34px;
}
.icon-arrow-up:hover,
a:hover .icon-arrow-up {
  background-position: 0px -51px;
}
.icon-arrow-up {
  width: 10px;
  height: 7px;
  background-position: 0px -68px;
}
.icon-bubble-arrow {
  width: 13px;
  height: 12px;
  background-position: 0px -138px;
}
.icon-data:hover,
a:hover .icon-data {
  background-position: 0px -1216px;
}
.icon-data {
  width: 18px;
  height: 18px;
  background-position: 0px -1244px;
}
.icon-down:hover,
a:hover .icon-down {
  background-position: 0px -160px;
}
.icon-down {
  width: 14px;
  height: 14px;
  background-position: 0px -184px;
}
.icon-filter-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-filter,
a:hover .icon-filter,
a:hover .icon-filter-highlight,
.highlight:hover .icon-filter,
.icon-filter-highlight:hover,
.icon-filter-highlight {
  background-position: 0px -954px;
}
.icon-filter {
  width: 16px;
  height: 16px;
  background-position: 0px -980px;
}
.icon-link:hover,
a:hover .icon-link {
  background-position: 0px -1622px;
}
.icon-link {
  width: 20px;
  height: 20px;
  background-position: 0px -1592px;
}
.icon-menu-account-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-account,
a:hover .icon-menu-account,
a:hover .icon-menu-account-highlight,
.highlight:hover .icon-menu-account,
.icon-menu-account-highlight:hover,
.icon-menu-account-highlight {
  background-position: 0px -356px;
}
.icon-menu-account-info-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-account-info,
a:hover .icon-menu-account-info,
a:hover .icon-menu-account-info-highlight,
.highlight:hover .icon-menu-account-info,
.icon-menu-account-info-highlight:hover,
.icon-menu-account-info-highlight {
  background-position: 0px -382px;
}
.icon-menu-account-info {
  width: 16px;
  height: 16px;
  background-position: 0px -408px;
}
.icon-menu-account {
  width: 16px;
  height: 16px;
  background-position: 0px -434px;
}
.icon-menu-corp-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-corp,
a:hover .icon-menu-corp,
a:hover .icon-menu-corp-highlight,
.highlight:hover .icon-menu-corp,
.icon-menu-corp-highlight:hover,
.icon-menu-corp-highlight {
  background-position: 0px -460px;
}
.icon-menu-corp {
  width: 16px;
  height: 16px;
  background-position: 0px -486px;
}
.icon-menu-da-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-da,
a:hover .icon-menu-da,
a:hover .icon-menu-da-highlight,
.highlight:hover .icon-menu-da,
.icon-menu-da-highlight:hover,
.icon-menu-da-highlight {
  background-position: 0px -512px;
}
.icon-menu-da {
  width: 16px;
  height: 16px;
  background-position: 0px -538px;
}
.icon-menu-effect:hover,
a:hover .icon-menu-effect {
  background-position: 0px -564px;
}
.icon-menu-effect {
  width: 16px;
  height: 16px;
  background-position: 0px -590px;
}
.icon-menu-groupsend-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-groupsend,
a:hover .icon-menu-groupsend,
a:hover .icon-menu-groupsend-highlight,
.highlight:hover .icon-menu-groupsend,
.icon-menu-groupsend-highlight:hover,
.icon-menu-groupsend-highlight {
  background-position: 0px -616px;
}
.icon-menu-groupsend {
  width: 16px;
  height: 16px;
  background-position: 0px -642px;
}
.icon-menu-material-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-material,
a:hover .icon-menu-material,
a:hover .icon-menu-material-highlight,
.highlight:hover .icon-menu-material,
.icon-menu-material-highlight:hover,
.icon-menu-material-highlight {
  background-position: 0px -668px;
}
.icon-menu-material {
  width: 16px;
  height: 16px;
  background-position: 0px -694px;
}
.icon-menu-menu-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-menu,
a:hover .icon-menu-menu,
a:hover .icon-menu-menu-highlight,
.highlight:hover .icon-menu-menu,
.icon-menu-menu-highlight:hover,
.icon-menu-menu-highlight {
  background-position: 0px -720px;
}
.icon-menu-menu {
  width: 16px;
  height: 16px;
  background-position: 0px -746px;
}
.icon-menu-pay-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-pay,
a:hover .icon-menu-pay,
a:hover .icon-menu-pay-highlight,
.highlight:hover .icon-menu-pay,
.icon-menu-pay-highlight:hover,
.icon-menu-pay-highlight {
  background-position: 0px -772px;
}
.icon-menu-pay {
  width: 16px;
  height: 16px;
  background-position: 0px -1162px;
}
.icon-menu-reply-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-menu-reply,
a:hover .icon-menu-reply,
a:hover .icon-menu-reply-highlight,
.highlight:hover .icon-menu-reply,
.icon-menu-reply-highlight:hover,
.icon-menu-reply-highlight {
  background-position: 0px -824px;
}
.icon-menu-reply {
  width: 16px;
  height: 16px;
  background-position: 0px -850px;
}
.icon-mp-del-disabled {
  width: 16px;
  height: 16px;
}
.disabled .icon-mp-del,
a:hover .icon-mp-del,
a:hover .icon-mp-del-disabled,
.disabled:hover .icon-mp-del,
.icon-mp-del-disabled:hover,
.icon-mp-del-disabled {
  background-position: 0px -876px;
}
.icon-mp-del-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-mp-del,
a:hover .icon-mp-del,
a:hover .icon-mp-del-highlight,
.highlight:hover .icon-mp-del,
.icon-mp-del-highlight:hover,
.icon-mp-del-highlight {
  background-position: 0px -902px;
}
.icon-mp-del {
  width: 16px;
  height: 16px;
  background-position: 0px -928px;
}
.icon-mp-del2-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mp-del2,
a:hover .icon-mp-del2,
a:hover .icon-mp-del2-highlight,
.highlight:hover .icon-mp-del2,
.icon-mp-del2-highlight:hover,
.icon-mp-del2-highlight {
  background-position: 0px -1442px;
}
.icon-mp-del2:hover,
a:hover .icon-mp-del2 {
  background-position: 0px -1472px;
}
.icon-mp-del2 {
  width: 20px;
  height: 20px;
  background-position: 0px -1652px;
}
.icon-mp-edit-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-mp-edit,
a:hover .icon-mp-edit,
a:hover .icon-mp-edit-highlight,
.highlight:hover .icon-mp-edit,
.icon-mp-edit-highlight:hover,
.icon-mp-edit-highlight {
  background-position: 0px -1032px;
}
.icon-mp-edit:hover,
a:hover .icon-mp-edit {
  background-position: 0px -1058px;
}
.icon-mp-edit {
  width: 16px;
  height: 16px;
  background-position: 0px -1084px;
}
.icon-mp-edit2-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mp-edit2,
a:hover .icon-mp-edit2,
a:hover .icon-mp-edit2-highlight,
.highlight:hover .icon-mp-edit2,
.icon-mp-edit2-highlight:hover,
.icon-mp-edit2-highlight {
  background-position: 0px -1682px;
}
.icon-mp-edit2:hover,
a:hover .icon-mp-edit2 {
  background-position: 0px -1562px;
}
.icon-mp-edit2 {
  width: 20px;
  height: 20px;
  background-position: 0px -1712px;
}
.icon-mp-group-disabled {
  width: 16px;
  height: 16px;
}
.disabled .icon-mp-group,
a:hover .icon-mp-group,
a:hover .icon-mp-group-disabled,
.disabled:hover .icon-mp-group,
.icon-mp-group-disabled:hover,
.icon-mp-group-disabled {
  background-position: 0px -1136px;
}
.icon-mp-group-highlight {
  width: 16px;
  height: 16px;
}
.highlight .icon-mp-group,
a:hover .icon-mp-group,
a:hover .icon-mp-group-highlight,
.highlight:hover .icon-mp-group,
.icon-mp-group-highlight:hover,
.icon-mp-group-highlight {
  background-position: 0px -1110px;
}
.icon-mp-group {
  width: 16px;
  height: 16px;
  background-position: 0px -1006px;
}
.icon-mp-refresh:hover,
a:hover .icon-mp-refresh {
  background-position: 0px -1532px;
}
.icon-mp-refresh {
  width: 20px;
  height: 20px;
  background-position: 0px -1502px;
}
.icon-mp-remove-grey-s:hover,
a:hover .icon-mp-remove-grey-s {
  background-position: 0px -102px;
}
.icon-mp-remove-grey-s {
  width: 10px;
  height: 8px;
  background-position: 0px -120px;
}
.icon-mp-statistic:hover,
a:hover .icon-mp-statistic {
  background-position: 0px -1384px;
}
.icon-mp-statistic {
  width: 18px;
  height: 18px;
  background-position: 0px -1356px;
}
.icon-mp-tips-info:hover,
a:hover .icon-mp-tips-info {
  background-position: 0px -1188px;
}
.icon-mp-tips-info {
  width: 18px;
  height: 18px;
  background-position: 0px -1328px;
}
.icon-mp-tips-info2:hover,
a:hover .icon-mp-tips-info2 {
  background-position: 0px -1300px;
}
.icon-mp-tips-info2 {
  width: 18px;
  height: 18px;
  background-position: 0px -1272px;
}
.icon-nav-mp {
  width: 20px;
  height: 20px;
  background-position: 0px -1412px;
}
.icon-remove:hover,
a:hover .icon-remove {
  background-position: 0px -232px;
}
.icon-remove {
  width: 14px;
  height: 14px;
  background-position: 0px -208px;
}
.icon-set {
  width: 16px;
  height: 16px;
  background-position: 0px -330px;
}
.icon-up:hover,
a:hover .icon-up {
  background-position: 0px -256px;
}
.icon-up {
  width: 14px;
  height: 14px;
  background-position: 0px -280px;
}
.active .icon-menu-groupsend {
  width: 16px;
  height: 16px;
  background-position: 0px -616px;
}
.active .icon-menu-material {
  width: 16px;
  height: 16px;
  background-position: 0px -668px;
}
.active .icon-menu-reply {
  width: 16px;
  height: 16px;
  background-position: 0px -824px;
}
.active .icon-menu-menu {
  width: 16px;
  height: 16px;
  background-position: 0px -720px;
}
.active .icon-menu-account {
  width: 16px;
  height: 16px;
  background-position: 0px -356px;
}
.active .icon-menu-account-info {
  width: 16px;
  height: 16px;
  background-position: 0px -382px;
}
.active .icon-menu-corp {
  width: 16px;
  height: 16px;
  background-position: 0px -460px;
}
.active .icon-menu-da {
  width: 16px;
  height: 16px;
  background-position: 0px -512px;
}
.active .icon-menu-pay {
  width: 16px;
  height: 16px;
  background-position: 0px -772px;
}
.disabled a {
  opacity: .28;
  filter: alpha(opacity=38);
  -ms-pointer-events: none;
  pointer-events: none;
  cursor: default;
}
.disabled a i {
  cursor: default;
}
.disabled .icon-mp-group {
  width: 16px;
  height: 16px;
  background-position: 0px -1136px;
}
.disabled .icon-mp-del {
  width: 16px;
  height: 16px;
  background-position: 0px -876px;
}
.highlight .icon-mp-edit {
  width: 16px;
  height: 16px;
  background-position: 0px -1032px;
}
.highlight .icon-mp-del {
  width: 16px;
  height: 16px;
  background-position: 0px -902px;
}
.highlight .icon-mp-group {
  width: 16px;
  height: 16px;
  background-position: 0px -1110px;
}
/*--find height for float elements --------------------------*/
.cls:after {
  content: "";
  font-size: 0;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .cls {
  zoom: 1;
}
/* IE6 */
*:first-child + html .cls {
  zoom: 1;
}
/* IE7 */
.icon-node {
  padding: 5px;
  width: 7px;
  height: 7px;
  background: url(images/sprite.png) 5px -1054px no-repeat;
}
.mobile-frame {
  height: 590px;
  position: relative;
  border: 1px solid #dddbdb;
  background-color: #fff;
}
.mobile-frame h2 {
  text-align: center;
  line-height: 44px;
  height: 44px;
  border-bottom: 1px solid #dddbdb;
}
.mobile-frame .mobile-columns {
  width: 40%;
  border-right: 1px solid #dddbdb;
  background-color: #f5f7fa;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.mobile-frame .mobile-preview {
  text-align: center;
  padding: 3%;
  position: absolute;
  left: 40%;
  right: 0;
  top: 0;
  bottom: 0;
}
.mobile-frame .mobile-columns .mobile-collist {
  padding: 15px 0;
  position: absolute;
  left: 0;
  top: 45px;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.mobile-frame .mobile-columns li {
  line-height: 36px;
  padding-left: 20px;
}
.mobile-frame .mobile-columns a {
  display: inline-block;
  line-height: 36px;
  color: #666;
  vertical-align: -10px;
  white-space: nowrap;
  max-width: 85%;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.mobile-frame .mobile-columns a:hover {
  text-decoration: none;
  color: #000;
}
.mobile-frame .mobile-columns .current,
.mobile-frame .mobile-columns .current:hover {
  color: #00a1f2;
  text-decoration: none;
}
.mobile-frame .mobile-columns .icon-node {
  vertical-align: middle;
  margin: 0 3px 0 -5px;
  cursor: pointer;
}
.mobile-frame .mobile-columns .icon-node.expand {
  background-position: -13px -1054px;
}
.mobile-frame .mobile-viewer {
  text-align: center;
  position: absolute;
  left: 3%;
  top: 3%;
  right: 3%;
  bottom: 3%;
  overflow: hidden;
}
.mobile-frame .mobile-viewer img {
  max-width: 100%;
  max-height: 100%;
}
.mobile-frame .btn-copy {
  padding: 0 15px;
}
.material-imgtxt-popwin .mobile-frame {
  height: 400px;
}
.material-imgtxt-popwin .mobile-frame .mobile-columns .mobile-collist {
  padding: 5px 0;
}
.material-imgtxt-popwin .mobile-frame .mobile-columns li,
.material-imgtxt-popwin .mobile-frame .mobile-columns a {
  line-height: 30px;
}
.material-imgtxt-popwin .mobile-preview .loading {
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
}
