

.icon-track-mobile {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("track/images/track-mobile-icons.png?201662") no-repeat;
	background-size:50px auto;
}


    
    
    
    
.icon-arrow:extend(.icon-track-mobile) {
    width: 18px;
    height: 18px;
    background-position: 0px -19px;
}        
    

    
    
    
    
.icon-certi:extend(.icon-track-mobile) {
    width: 14px;
    height: 14px;
    background-position: 0px 0px;
}        
    

    
    
    
    
.icon-none:extend(.icon-track-mobile) {
    width: 50px;
    height: 50px;
    background-position: 0px -87px;
}        
    

    
    
    
    
.icon-web:extend(.icon-track-mobile) {
    width: 40px;
    height: 40px;
    background-position: 0px -42px;
}        
    
