

.icon-track {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("track/images/track-icons.png?201662") no-repeat;
	background-size:100px auto;
}


    
    
    
    
.icon-back:extend(.icon-track) {
    width: 9px;
    height: 15px;
    background-position: 0px -120px;
}        
    

    
    
    
    
.icon-certi:extend(.icon-track) {
    width: 14px;
    height: 14px;
    background-position: 0px -72px;
}        
    

    
    
    
    

.icon-nav-next-disabled:extend(.icon-track) {
    width: 18px;
    height: 18px;
}
.disabled .icon-nav-next,
a:hover .icon-nav-next,
a:hover .icon-nav-next-disabled,
.disabled:hover .icon-nav-next,
.icon-nav-next-disabled:hover,
.icon-nav-next-disabled {
    background-position: 0px -229px;
}
        
    

    
    
    
    
.icon-nav-next:extend(.icon-track) {
    width: 18px;
    height: 18px;
    background-position: 0px -201px;
}        
    

    
    
    
    

.icon-nav-prev-disabled:extend(.icon-track) {
    width: 18px;
    height: 18px;
}
.disabled .icon-nav-prev,
a:hover .icon-nav-prev,
a:hover .icon-nav-prev-disabled,
.disabled:hover .icon-nav-prev,
.icon-nav-prev-disabled:hover,
.icon-nav-prev-disabled {
    background-position: 0px -173px;
}
        
    

    
    
    
    
.icon-nav-prev:extend(.icon-track) {
    width: 18px;
    height: 18px;
    background-position: 0px -145px;
}        
    

    
    
    
    

.icon-next-disabled:extend(.icon-track) {
    width: 14px;
    height: 14px;
}
.disabled .icon-next,
a:hover .icon-next,
a:hover .icon-next-disabled,
.disabled:hover .icon-next,
.icon-next-disabled:hover,
.icon-next-disabled {
    background-position: 0px -96px;
}
        
    

    
    
    
    
.icon-next:extend(.icon-track) {
    width: 14px;
    height: 14px;
    background-position: 0px 0px;
}        
    

    
    
    
    
.icon-none-min:extend(.icon-track) {
    width: 55px;
    height: 55px;
    background-position: 0px -367px;
}        
    

    
    
    
    
.icon-none:extend(.icon-track) {
    width: 100px;
    height: 100px;
    background-position: 0px -432px;
}        
    

    
    
    
    

.icon-prev-disabled:extend(.icon-track) {
    width: 14px;
    height: 14px;
}
.disabled .icon-prev,
a:hover .icon-prev,
a:hover .icon-prev-disabled,
.disabled:hover .icon-prev,
.icon-prev-disabled:hover,
.icon-prev-disabled {
    background-position: 0px -48px;
}
        
    

    
    
    
    
.icon-prev:extend(.icon-track) {
    width: 14px;
    height: 14px;
    background-position: 0px -24px;
}        
    

    
    
    
    
.icon-web-large:extend(.icon-track) {
    width: 50px;
    height: 50px;
    background-position: 0px -307px;
}        
    

    
    
    
    
.icon-web:extend(.icon-track) {
    width: 40px;
    height: 40px;
    background-position: 0px -257px;
}        
    
