@import 'icons-mobile';

body {
  min-width: 1220px;
  font-family: 'microsoft yahei', sans-serif;
  font-size: 14px;
  line-height: 1.42858;
}
:focus {
  outline: none;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
body,
form,
ul,
ol,
dl,
dd,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
img {
  border: none;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #197dff;
}
a * {
  cursor: pointer;
}
a:active {
  background-color: transparent;
  color: #0088cc;
}

.hidden {
  display: none!important;
}

html,
body {
  min-width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  -webkit-user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.page{
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    left:-1px;
    border-left:1px solid #ddd;
    width:100%;
    font-size:12px;
    overflow:hidden;
    background-color: #f7f7f9;
    transform:translateX(0);
    
    .blue{
        color: #0067ed;
    }
    
    .null{
        text-align: center;
        padding-top: 15%;
        color: #a5a5a5;
    }
    
    .vm{
        vertical-align: middle;
    }
}

.transition .page{
    -webkit-transition:-webkit-transform .25s;   
    transition:transform .25s;
}

.track.out{transform:translateX(-10%); -webkit-transform:translateX(-10%);}
.extra{box-shadow: -2px 0 2px rgba(0,0,0,.1); font-size: 16px;}
.extra.out{transform:translateX(100%); -webkit-transform:translateX(100%); box-shadow: none;}
.page.extra{
    z-index:20;
    
    .header{
        background: #fff;
    }
    
    .seprator{
        margin: 15px 10px;
        
        span{
            background: #fff;
        }
    }
    
    .detail{
        background-color: #fff;
        margin-top: -1px;
        padding-bottom: 1px;
        min-height: 10000px;
    }
    
    .ui-refresh-down{
        border-top: 1px solid #ebebeb;
    }
    
    .ui-refresh-up{
        position: relative;
        z-index: 1;
    }
    
}

.header{
    height: 20px;
    line-height: 20px;
    padding: 11px 12px;
    background: #f2f5fa;
    font-size: 14px;
    color: #a5a5a5;
    position: relative;
    z-index: 2;
    
    a{
        color: #222;
        max-width: 60%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        i{
            vertical-align: -2px;
            margin-right: 10px;
        }
    }
    
    .count{
        position: absolute;
        right: 12px;
        top: 11px;
    }
    
    &.shadow{
        box-shadow: 0 2px 2px rgba(0,0,0,.1);
    }
}

.empty{
    text-align: center;
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -50px 0 0 -200px;
    font-size: 18px;
    
    p{
        margin-top: 10px;
    }
}

.track-list{
    
    .visit-count{
        height: 44px;
        line-height: 44px;
        text-align: center;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #222222;
        font-size: 15px;
        background-color: #fff;
        border-bottom: 1px solid #ebebeb;
    }
    
    .section:last-child .list{
        //border-bottom: 0;
    }
}

.seprator {
  height: 1px;
  font-size: 0;
  line-height: 0;
  background: #dadee7;
  text-align: center;
  overflow: visible;
  margin: 25px 10px;
  
  &.first{
      margin-top: 15px;
  }
}
.seprator span {
  color: #a5a5a5;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  padding: 0 10px;
  background: #f7f7f9;
  margin-top: -10px;
}
.dateline{
    text-align: center;
    line-height: 18px;
    padding-top: 15px;
    color: #999;
}
.atvisit{
    height: 25px;
    line-height: 25px;
    padding-top: 0;
    color: #777;
    font-size: 14px;
    background-color: #f7f7f9;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.section{
  position: relative;
}
.section h1{
  height: 25px;
  line-height: 25px;
  padding: 0 110px 0 10px;
  color: #777;
  background-color: #f7f7f9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  span{
      display: inline-block;
      float: left;
      max-width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
}
.section h1 i {
  display: inline-block;
  max-width: 90px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.section h2 {
  color: #000;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.section i {
  font-style: normal;
}
.section .icon {
  vertical-align: -4px;
  margin-right: 5px;
}
.section .time {
  position: absolute;
  right: 10px;
  display: inline-block;
  line-height: 25px;
  font-size: 12px;
  color: #777;
}

.list {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  
  .icon-certi{
      vertical-align: -2px;
      margin-left: 2px;
  }
}
.list li {
  position: relative;
  padding-left: 10px;
  min-height: 60px;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  
  .icon-arrow{
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -9px;
  }
}
.list li:active{
  background-color: #e0efff;
}
.list li.current{
  cursor: default;
}
.list li .img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #ebedf2;
}
.list li .img img {
  width: 40px;
}
.list li .inner {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  padding: 10px 30px 10px 52px;
  border-bottom: 1px solid #ebebeb;
}
.list li .inner h2 {
  margin-bottom: 2px;
}
.list li .inner p {
  color: #777;
  margin-top: 1px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.recent .list .inner p{
    display: block;
}
.list li.single .inner {
  line-height: 40px;
}
.list li.single .inner h2 {
  margin-bottom: 0;
}
.list li:last-child .inner {
  border-bottom: 0;
}
.list li label {
  position: absolute;
  left: 0;
  top: 0;
  color: #808080;
}
.list li .icon-arrow-r {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}
.list li a {
  display: block;
  padding-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-single li {
  padding-left: 15px;
}
.list-single li .inner {
  line-height: 40px;
}
.list-single li .inner h2 {
  margin-bottom: 0;
}
.list-single li.multi .inner {
  line-height: 20px;
}

.track-right{
    .seprator span{
        background-color: #f5f8fa;
    }
}

i{
    font-style: normal;
}

.chat{
    padding: 8px 15px;
    
    .inner{
        padding-top: 5px;
        word-break: break-all;
        word-wrap: break-word;
        
        img{
            max-width: 100%;
        }
    }
}

.toc{
    .name{
        color: #00cc26;
    }
}

.tob{
    .name{
        color: #0067ed;
    }
}

.notice{
    color: #999;
    padding: 6px 15px;
    margin: 6px 0;
    line-height: 20px;
    
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.web-item{
    padding: 8px 15px;
    
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #217aef;
        margin-bottom: 2px;
    }
    
    .sub-info{
        color: #a5a5a5;
        
        i{
            margin-left: 5px;
        }
    }
}

.message{
    position: absolute;
    left: 0;
    top: -30px;
    right: 0;
    height: 30px;
    line-height: 30px;
    z-index: 1;
    text-align: center;
    transition: top .3s;
        
    .btn-message{
        line-height: 30px;
        color: #000;
        background: #fff3bf;
        
        &:active{
            background: #feefad;
        }
        
        .ui-loading{
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            vertical-align: -5px;
            margin-right: 4px;
            margin-left: -24px;
        }
    }
    
    &.show{
        top: 0;
    }
    
}

.ui-refresh .ui-refresh-up, .ui-refresh .ui-refresh-down{
    background: #f7f7f9;
    padding: 1em 10px;
    font-size: 14px;
    color: #888;
    text-align: center;
}
.ui-refresh .ui-refresh-up{
    border-bottom: 1px solid #ebebeb;
}

@media all and (min-device-width: 768px) and (max-device-width:1024px) {
    .ui-refresh .ui-refresh-up, .ui-refresh .ui-refresh-down{
        font-size: 16px;;
    }
}

.ui-refresh .ui-refresh-up .ui-loading,
.ui-refresh .ui-refresh-down .ui-loading{
    display: inline-block;
    width: 25px;
    height: 25px;
    -webkit-background-size: 25px 25px;
    vertical-align: middle;
    margin-right:3px;
}
.ui-refresh .ui-refresh-up .ui-refresh-label,
.ui-refresh .ui-refresh-down .ui-refresh-label{
    display: inline-block;
    vertical-align: middle;
    color:#808080;
}

.ui-refresh .ui-refresh-up .ui-refresh-icon,
.ui-refresh .ui-refresh-down .ui-refresh-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url(track/images/arrow.png) no-repeat;
    -webkit-background-size: 25px 25px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ui-refresh .ui-refresh-down .ui-refresh-icon{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-up .ui-refresh-flip{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-down .ui-refresh-flip{
    -webkit-transform: rotate(0deg) translateZ(0);
}


.ui-refresh .ui-refresh-up .ui-loading,
.ui-refresh .ui-refresh-down .ui-loading{
    -webkit-transition-duration: 0ms;      /*停止flip动画*/
}

.ui-loading {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -10000px;
    background: url(track/images/ui-loading.png) 0 0 no-repeat;
    -webkit-background-size: 40px 40px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ui-poptips {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.ui-poptips-cnt {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 36px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 84%;
    padding: 0 8%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ui-poptips-cnt i {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: #fff;
    border-radius: 8px;
    color: #555;
    vertical-align: -2px;
    margin-right: 6px;
}
.ui-poptips-cnt i:before{
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .8px;
    position:absolute;
    margin: 0 0 0 -3px;
    font-style: normal;
    content: 'i';
}