.icon-mng,
.icon-mng-create-disable,
.icon-mng-create-highlight,
.icon-mng-create-org-disable,
.icon-mng-create-org-highlight,
.icon-mng-create-org,
.icon-mng-create,
.icon-mng-delete-disable,
.icon-mng-delete-highlight,
.icon-mng-delete,
.icon-mng-edit-disable,
.icon-mng-edit-highlight,
.icon-mng-edit,
.icon-mng-enable-disable,
.icon-mng-enable-highlight,
.icon-mng-enable,
.icon-mng-key-disable,
.icon-mng-key-highlight,
.icon-mng-key,
.icon-mng-more-disable,
.icon-mng-more-highlight,
.icon-mng-more,
.icon-mng-move-disable,
.icon-mng-move-highlight,
.icon-mng-move,
.icon-mng-stop-disable,
.icon-mng-stop-highlight,
.icon-mng-stop,
.icon-mng-tips {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  background: url("../common/images/icons.png?201662") no-repeat;
  background-size: 20px auto;
}
.icon-mng-create-disable {
  width: 14px;
  height: 14px;
  background-position: 0px 0px;
}
.icon-mng-create-highlight {
  width: 14px;
  height: 14px;
}
.highlight .icon-mng-create,
a:hover .icon-mng-create,
a:hover .icon-mng-create-highlight,
.highlight:hover .icon-mng-create,
.icon-mng-create-highlight:hover,
.icon-mng-create-highlight {
  background-position: 0px -48px;
}
.icon-mng-create-org-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -522px;
}
.icon-mng-create-org-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-create-org,
a:hover .icon-mng-create-org,
a:hover .icon-mng-create-org-highlight,
.highlight:hover .icon-mng-create-org,
.icon-mng-create-org-highlight:hover,
.icon-mng-create-org-highlight {
  background-position: 0px -72px;
}
.icon-mng-create-org:hover,
a:hover .icon-mng-create-org {
  background-position: 0px -102px;
}
.icon-mng-create-org {
  width: 20px;
  height: 20px;
  background-position: 0px -132px;
}
.icon-mng-create {
  width: 14px;
  height: 14px;
  background-position: 0px -24px;
}
.icon-mng-delete-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -192px;
}
.icon-mng-delete-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-delete,
a:hover .icon-mng-delete,
a:hover .icon-mng-delete-highlight,
.highlight:hover .icon-mng-delete,
.icon-mng-delete-highlight:hover,
.icon-mng-delete-highlight {
  background-position: 0px -222px;
}
.icon-mng-delete:hover,
a:hover .icon-mng-delete {
  background-position: 0px -252px;
}
.icon-mng-delete {
  width: 20px;
  height: 20px;
  background-position: 0px -282px;
}
.icon-mng-edit-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -312px;
}
.icon-mng-edit-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-edit,
a:hover .icon-mng-edit,
a:hover .icon-mng-edit-highlight,
.highlight:hover .icon-mng-edit,
.icon-mng-edit-highlight:hover,
.icon-mng-edit-highlight {
  background-position: 0px -342px;
}
.icon-mng-edit:hover,
a:hover .icon-mng-edit {
  background-position: 0px -372px;
}
.icon-mng-edit {
  width: 20px;
  height: 20px;
  background-position: 0px -402px;
}
.icon-mng-enable-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -432px;
}
.icon-mng-enable-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-enable,
a:hover .icon-mng-enable,
a:hover .icon-mng-enable-highlight,
.highlight:hover .icon-mng-enable,
.icon-mng-enable-highlight:hover,
.icon-mng-enable-highlight {
  background-position: 0px -462px;
}
.icon-mng-enable:hover,
a:hover .icon-mng-enable {
  background-position: 0px -492px;
}
.icon-mng-enable {
  width: 20px;
  height: 20px;
  background-position: 0px -1032px;
}
.icon-mng-key-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -552px;
}
.icon-mng-key-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-key,
a:hover .icon-mng-key,
a:hover .icon-mng-key-highlight,
.highlight:hover .icon-mng-key,
.icon-mng-key-highlight:hover,
.icon-mng-key-highlight {
  background-position: 0px -582px;
}
.icon-mng-key:hover,
a:hover .icon-mng-key {
  background-position: 0px -612px;
}
.icon-mng-key {
  width: 20px;
  height: 20px;
  background-position: 0px -642px;
}
.icon-mng-more-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -672px;
}
.icon-mng-more-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-more,
a:hover .icon-mng-more,
a:hover .icon-mng-more-highlight,
.highlight:hover .icon-mng-more,
.icon-mng-more-highlight:hover,
.icon-mng-more-highlight {
  background-position: 0px -702px;
}
.icon-mng-more:hover,
a:hover .icon-mng-more {
  background-position: 0px -732px;
}
.icon-mng-more {
  width: 20px;
  height: 20px;
  background-position: 0px -762px;
}
.icon-mng-move-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -792px;
}
.icon-mng-move-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-move,
a:hover .icon-mng-move,
a:hover .icon-mng-move-highlight,
.highlight:hover .icon-mng-move,
.icon-mng-move-highlight:hover,
.icon-mng-move-highlight {
  background-position: 0px -822px;
}
.icon-mng-move:hover,
a:hover .icon-mng-move {
  background-position: 0px -852px;
}
.icon-mng-move {
  width: 20px;
  height: 20px;
  background-position: 0px -882px;
}
.icon-mng-stop-disable {
  width: 20px;
  height: 20px;
  background-position: 0px -912px;
}
.icon-mng-stop-highlight {
  width: 20px;
  height: 20px;
}
.highlight .icon-mng-stop,
a:hover .icon-mng-stop,
a:hover .icon-mng-stop-highlight,
.highlight:hover .icon-mng-stop,
.icon-mng-stop-highlight:hover,
.icon-mng-stop-highlight {
  background-position: 0px -942px;
}
.icon-mng-stop:hover,
a:hover .icon-mng-stop {
  background-position: 0px -972px;
}
.icon-mng-stop {
  width: 20px;
  height: 20px;
  background-position: 0px -1002px;
}
.icon-mng-tips {
  width: 20px;
  height: 20px;
  background-position: 0px -162px;
}
