/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
/* 组织架构 */
.disabled {
  opacity: 0.9;
  filter: alpha(opacity=90);
  *zoom: 1;
}
.group {
  /* 主体内容 */
  /* 组织关系 */
  /* 停用成员 */
}
.group-rel {
  position: relative;
  z-index: 1;
}
.group-top-right {
  position: absolute;
  right: 0;
  bottom: 20px;
  white-space: nowrap;
}
.group-account-data {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 80px;
  text-align: right;
}
.group-account-data strong {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.group-account-data h6 {
  color: #66686c;
  font-size: 100%;
}
.group-account-data:first-child {
  color: #0067ed;
}
.group-search {
  margin-top: 42px;
  float: right;
}
.group-search-rel {
  position: absolute;
  right: 0;
  z-index: 1;
  float: right;
}
.group-search-icon {
  display: block;
  width: 40px;
  height: 40px;
  vertical-align: top;
}
.group-search-x {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  vertical-align: middle;
  padding-right: 0px;
}
.group-search-x .icon-con-search {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.group-search-x input {
  width: 160px;
}
.group-search-input {
  width: 25px;
  padding: 3px 5px;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #f4f6f9;
  background-color: transparent;
}
.group-divide {
  display: inline-block;
  width: 32px;
  height: 18px;
  border-left: 1px solid #DFDFE0;
  vertical-align: middle;
}
.group-icon-a {
  display: inline-block;
  color: #1e2330;
  line-height: 20px;
  font-size: 14px;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}
.group-icon-a .icon,
.group-icon-a > i {
  margin-right: 4px;
  vertical-align: -4px;
}
.group-icon-a:hover {
  color: #1e2330;
}
.disabled .group-icon-a {
  opacity: 0.38;
  filter: alpha(opacity=38);
  *zoom: 1;
  cursor: default;
  pointer-events: none;
}
.disabled .group-icon-a:hover {
  color: #1e2330;
}
.group-body {
  padding-top: 10px;
}
.group-body [type=checkbox] {
  position: absolute;
  clip: rect(0 0 0 0);
}
.group-ship-x {
  background-color: #ffffff;
  border: 1px solid #dadee7;
  border: 0;
}
:root .group-ship-x {
  position: static;
}
.group-ship-r {
  padding-left: 290px;
}
.group-ship-r .fixed {
  position: fixed;
  top: 0;
  width: calc(100% - 562px);
  min-width: 788px;
  background-color: #fff;
  border-bottom: 1px solid #a8abb3;
  z-index: 1;
  -webkit-transition: width .25s;
  transition: width .25s;
}
.group-ship-r .fixed + .group-ship-table {
  padding-top: 80px;
}
.group-ship-abs {
  width: 260px;
  margin-top: 12px;
  background-color: #ffffff;
  float: left;
  border: 1px solid #dadee7;
}
.fixed .group-ship-abs {
  position: fixed;
  top: 0;
}
.group-ship-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  *right: 20px;
  bottom: 0;
  left: 0;
  background-color: #01050e;
  z-index: 1;
}
.group-ship-tree-title {
  float: left;
}
.group-ship-tree-x {
  overflow: auto;
  width: 100%;
  min-height: 500px;
  max-height: 980px;
}
.group-ship-desc {
  height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  white-space: nowrap;
}
.group-ship-desc i {
  vertical-align: -4px;
}
.group-ship-sort {
  height: 20px;
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px solid #ebedf2;
}
.group-ship-sort-a {
  float: right;
}
.group-ship-sort-a:hover {
  color: #0056c7;
}
.group-ship-sort-a i {
  vertical-align: -2px;
}
.group-ship-sort-dropdown.lbf-dropdown-ul {
  width: 180px;
  margin-top: 6px;
  margin-left: -2px;
  z-index: 9;
}
.group-ship-sort-dropdown.lbf-dropdown-ul > li {
  padding-left: 22px;
}
.group-ship-sort-tree {
  position: absolute;
  top: 44px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: 1px solid #a8abb3;
  overflow: auto;
}
.group-ship-sort-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.group-ship-head {
  height: 40px;
  padding-left: 12px;
  overflow: hidden;
  padding: 2px 20px 20px 0;
}
.group-ship-head-l {
  float: left;
}
.group-ship-head-l .focus {
  border: 1px solid #dadee7;
}
.group-ship-head-l .focus input {
  cursor: text;
}
.group-ship-head-l .focus .icon-mng-edit {
  visibility: hidden;
}
.checked.group-ship-head-l h2 {
  display: none;
}
.group-ship-head-r {
  float: right;
}
.group-ship-head-r a {
  margin-left: 12px;
}
.group-ship-head-disabled {
  cursor: default;
}
.group-ship-head-disabled .icon-mng-edit {
  display: none;
}
.group-ship-operate {
  height: 20px;
  padding-top: 10px;
  font-size: 100%;
}
.group-ship-operate a {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  margin-right: 3px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border: 1px solid #dadee7;
  border-radius: 2px;
}
.group-ship-operate a:hover {
  border: 1px solid #a8abb3;
}
.checked .group-ship-operate {
  display: block;
}
.group-stop-head {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.group-stop-operate {
  font-size: 100%;
  float: left;
  margin-left: 0px;
}
.group-stop-operate a {
  margin-right: 3px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 1px solid #dadee7;
  border-radius: 2px;
}
.group-stop-operate a:last-child {
  margin-right: 0px;
}
.group-stop-operate a:hover {
  border: 1px solid #a8abb3;
}
.group-stop-note {
  float: right;
}
.group-ship-table .table-size {
  background-color: #ffffff;
}
.group-ship-table .col2 {
  width: 23%;
}
.group-ship-table .col3 {
  width: 19%;
}
.group-ship-table .col5 {
  width: 22%;
}
.group-ship-table .col6 {
  width: 50px;
}
.group-ship-table .col6 .icon-mng-more {
  cursor: pointer;
}
.group-ship-table .icon-warn {
  position: relative;
  top: 2px;
  margin-left: 2px;
  padding-right: 4px;
}
.group-ship-table .col1,
.group-stop-table .col1,
.group-delete-table .col1 {
  width: 36px;
  text-align: center;
}
.group-ship-table .col2 .icon-con-anchor,
.group-stop-table .col2 .icon-con-anchor,
.group-delete-table .col2 .icon-con-anchor {
  vertical-align: middle;
  margin-left: 5px;
  *margin-top: 15px;
}
.group-ship-table .col2 span,
.group-stop-table .col2 span,
.group-delete-table .col2 span {
  width: auto;
  max-width: 80%;
}
.group-ship-table td > span,
.group-stop-table td > span,
.group-delete-table td > span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 95%;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.group-ship-table tr:hover td > span,
.group-stop-table tr:hover td > span,
.group-delete-table tr:hover td > span {
  visibility: visible;
}
.group-stop-table .col2 {
  width: 21%;
}
.group-stop-table .col3 {
  width: 19%;
}
.group-stop-table .col4 {
  width: 21%;
}
.group-stop-table .col6 {
  width: 82px;
}
.group-stop-table .col6 .icon {
  margin-left: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
.group-null {
  text-align: center;
  height: 230px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.group-null-title {
  font-size: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.group-null-normal {
  padding-top: 130px;
  font-size: 25px;
  background: url(../org/images/icon-null-normal.png) no-repeat 50% 15px;
}
.group-null-stop {
  padding-top: 130px;
  font-size: 25px;
  background: url(../org/images/icon-null-stop.png) no-repeat 50% 15px;
}
.group-header .content-title {
  padding-bottom: 20px;
  float: left;
}
.dropdownMoreSelect .icon {
  margin-right: 10px;
  vertical-align: middle;
}
.mpop_step {
  margin-bottom: 20px;
  border: 0;
  background-color: #f4f6f9;
}
.area-step {
  margin-right: 30px;
  margin-left: 30px;
}
.member-create-success {
  text-align: center;
  margin-top: 50px;
  padding-top: 80px;
  color: #66686c;
  background: url(../org/images/suc.png) no-repeat 50% 0;
}
.member-create-success h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000000;
  font-size: 25px;
}
.member-create-success ul {
  width: 220px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.member-create-success ul li {
  padding-bottom: 5px;
  overflow: hidden;
}
.member-create-success ul b {
  font-weight: bold;
  float: left;
  font-weight: normal;
  font-style: normal;
}
.member-create-success ul span {
  font-weight: bold;
  float: right;
  font-weight: normal;
  font-style: normal;
  text-align: right;
}
.disable-members-warning,
.privileges-null {
  text-align: center;
  padding-top: 84px;
}
.disable-members-warning h3,
.privileges-null h3 {
  margin-bottom: 10px;
  font-size: 25px;
}
.disable-members-warning p,
.privileges-null p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #66686c;
  text-align: left;
  margin-left: 82px;
}
.disable-members-warning {
  margin-top: -40px;
  background: url(../org/images/warning.png) no-repeat 50% 0;
}
.privileges-null {
  margin-top: 60px;
  margin-bottom: 80px;
  background: url(../org/images/warningtip.png) no-repeat 50% 0;
}
.dialog-org-create {
  width: 700px;
  margin-top: -10px;
  margin-left: -25px;
  margin-right: -25px;
}
.dialog-org-create .lbf-tabview-tabs {
  margin-bottom: 15px;
  padding-left: 240px;
}
.dialog-org-create .lbf-tabview-tabs .lbf-tabview-tab-line {
  display: block;
  width: 64px;
  left: 240px;
}
.dialog-org-create .dialog-create-info {
  margin: 0 50px;
}
.dialog-org-create .dialog-column-left,
.dialog-org-create .dialog-column-right {
  width: 46%;
}
.dialog-org-create .dialog-create-ul li {
  margin-top: 25px;
  margin-bottom: 25px;
}
.dialog-org-create .lbf-panel-foot {
  margin-bottom: -30px;
  padding-top: 35px;
  padding-bottom: 0px;
  clear: both;
}
.dialog-org-create .dialog-delete-org {
  margin-left: 50px;
  margin-right: 50px;
}
.dialog-org-create .dialog-delete-org h3 {
  margin-top: 35px;
  margin-bottom: 13px;
  font-size: 16px;
}
.dialog-org-create .dialog-delete-org p {
  margin-top: 3px;
  margin-bottom: 3px;
  color: #66686c;
}
.edit-members-managers a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: -2px;
  color: #000000;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  max-width: 225px;
}
.enable-members-remind h3 {
  margin-top: -2px;
  margin-bottom: 15px;
  font-size: 24px;
  color: #1e2330;
}
.enable-members-remind p {
  color: #66686c;
}
.privileges-wrap .privileges-header {
  padding-top: 30px;
}
.privileges-wrap:first-child .privileges-header {
  padding-top: 0px;
}
.privileges-wrap:last-child {
  margin-bottom: 30px;
}
.privileges-wrap.newadd .privileges-header {
  height: auto;
  cursor: auto;
}
.privileges-wrap.newadd .privileges-header .lbf-icheckbox {
  display: none;
}
.privileges-wrap.newadd .privileges-list {
  margin-left: 0;
  margin-bottom: 15px;
}
.privileges-wrap.newadd .privileges-list label {
  font-size: 14px;
  color: #66686c;
}
.privileges-wrap.newadd .privileges-list li {
  margin-top: 20px;
}
s.loading {
  margin-top: 10px;
}
.table-base tbody .table-error td {
  background: url(../org/images/warning.png) no-repeat center 100px;
  border-bottom: none;
  text-align: center;
  padding: 0;
  font-size: 24px;
  padding-top: 180px;
}
/* 管理权限 */
.admin-title {
  font-size: 100%;
  padding-top: 35px;
  margin-bottom: 18px;
}
.admin-title:first-child {
  border-top: 1px solid #a8abb3;
}
.admin-table {
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.1);
  border: 1px solid #dadee7;
  border: 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.admin-table .col1 {
  width: 21%;
  padding-left: 20px;
}
.admin-table .col1 span > i,
.admin-table .col1 span > img {
  vertical-align: middle;
  margin-right: 12px;
  width: 40px;
  height: 40px;
}
.admin-table .col3 {
  width: 140px;
  text-align: center;
}
.admin-table td {
  vertical-align: middle;
  line-height: 1.5px;
}
.admin-table td.col2 > span {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  /* max-height: 180px; overflow: hidden;*/
}
.admin-table td.col3 span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
  line-height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.admin-table tr:last-child td {
  border-bottom: 0;
}
.admin-table .toggle {
  display: inline-block;
  padding: 5px 0;
  position: relative;
  top: -10px;
}
.admin-table .toggle i {
  vertical-align: -4px;
  background-position: -20px -140px;
}
.admin-table .toggle:hover {
  color: #0067ed;
}
.admin-table .flip i {
  background-position: -20px -300px;
}
/* 登录设置 */
.set-input {
  width: 360px;
}
.set-buttons .lbf-button {
  margin-right: 15px;
}
.set-combobox {
  height: 40px;
}
.set-combobox select {
  opacity: 0;
  filter: alpha(opacity=0);
  *zoom: 1;
}
.set-combobox .lbf-combobox-label {
  width: 346px;
}
.set-null {
  text-align: center;
  padding-top: 88px;
}
.set-null-title {
  font-size: 100%;
  margin-top: 45px;
  margin-bottom: 21px;
}
.set-null-desc {
  width: 344px;
  margin-left: auto;
  margin-right: auto;
}
.set-null-add {
  padding-top: 40px;
  padding-bottom: 40px;
}
.set-password-title {
  padding-top: 37px;
  padding-bottom: 20px;
  font-size: 100%;
}
.set-password-content .set-input {
  margin-right: 20px;
}
.set-password-check {
  margin-top: 28px;
}
.set-password-check label {
  margin-left: 2px;
}
.set-password-dl {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}
.set-password-dl dt {
  width: 86px;
  float: left;
  line-height: 40px;
}
.set-password-dl dd {
  padding-left: 86px;
}
.set-password-need {
  color: #66686c;
  margin-top: 4px;
}
.set-password-code {
  position: absolute;
  margin-left: 20px;
  margin-top: -5px;
}
.set-password-code img {
  vertical-align: middle;
  margin-right: 10px;
}
.set-password .set-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}
.set-password .set-buttons .lbf-button {
  margin-right: 15px;
}
.set-domain-input {
  padding-top: 10px;
}
.set-domain-input-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
.set-domain-input-list .set-left-radio {
  width: 30px;
  float: left;
}
.set-domain-input-list .set-cell {
  margin-left: 30px;
}
.set-domain-input-list .set-cell > label {
  padding-top: 2px;
  display: inline-block;
  *display: inline;
}
.set-domain-input-list .set-cell > label.disabled {
  color: #aab0b2;
}
.set-domain-input-list .icon-con-info {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
.set-domain-input-input {
  margin-top: 10px;
}
.set-domain-input .set-buttons {
  margin-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
}
.set-domain-input .set-combobox {
  margin-top: 10px;
}
.set-domain-verify {
  padding-top: 20px;
  min-height: 750px;
}
.set-domain-verify-dl {
  margin-bottom: 40px;
}
.set-domain-verify-dl dt {
  float: left;
  width: 85px;
}
.set-domain-verify-dl dd {
  margin-left: 85px;
}
.set-domain-verify-tab {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 264px;
  height: 159px;
  padding: 1px;
  background-color: #ffffff;
  margin-right: 15px;
  border: 1px solid #dadee7;
  cursor: pointer;
  text-align: center;
  color: #1e2330;
  border-radius: 4px;
}
.selected.set-domain-verify-tab {
  padding: 0px;
  border: 2px solid #00cc26;
}
.selected.set-domain-verify-tab:hover {
  border-color: #00cc26;
}
.set-domain-verify-tab i {
  margin-top: 12px;
  margin-bottom: 7px;
}
.set-domain-verify-tab:hover {
  border-color: #66686c;
}
.set-domain-verify-method {
  margin-top: 30px;
  display: none;
}
.selected + a + .set-domain-verify-method,
.selected + .set-domain-verify-method + .set-domain-verify-method {
  display: block;
}
.set-domain-verify-ol {
  border-left: 1px solid #d3d3d3;
}
.set-domain-verify-ol li {
  padding-left: 83px;
  padding-top: 5px;
  margin-bottom: 40px;
}
.set-domain-verify-ol li > i {
  position: absolute;
  margin-left: -60px;
  margin-top: -5px;
}
.set-domain-verify-ol li > h6 {
  font-size: 100%;
  color: #0067ed;
  margin-bottom: 5px;
}
.set-domain-verify-ol li > p > a {
  margin-left: 2px;
}
.set-domain-sel {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *max-width: 200px;
}
.set-domain-sel > div {
  width: 100%;
}
.set-domain-edit-link {
  margin-left: 15px;
}
.set-domain-result {
  padding-top: 25px;
  padding-bottom: 25px;
}
.set-domain-result-1,
.set-domain-result-2,
.set-domain-result-3 {
  margin-top: 25px;
  min-height: 70px;
  _height: 70px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-right: 15px;
  position: relative;
}
.set-domain-result-1 > i,
.set-domain-result-2 > i,
.set-domain-result-3 > i {
  margin: 5px 20px 5px 15px;
  float: left;
}
.set-domain-result-1 .set-cell,
.set-domain-result-2 .set-cell,
.set-domain-result-3 .set-cell {
  padding-left: 90px;
  padding-right: 120px;
}
.set-domain-result-1 .set-cell h6,
.set-domain-result-2 .set-cell h6,
.set-domain-result-3 .set-cell h6 {
  font-size: 100%;
}
.set-domain-result-1 .set-cell h6 + p,
.set-domain-result-2 .set-cell h6 + p,
.set-domain-result-3 .set-cell h6 + p {
  padding-bottom: 10px;
}
.set-domain-result-1 .set-buttons,
.set-domain-result-2 .set-buttons,
.set-domain-result-3 .set-buttons {
  position: absolute;
  top: 15px;
  right: 0;
}
.set-domain-result-1,
.set-domain-result-3 {
  background-color: #d0f5ea;
  color: #3bab8b;
}
.set-domain-result-1 .set-cell,
.set-domain-result-3 .set-cell {
  padding-top: 23px;
}
.set-domain-result-2 {
  background-color: #ffe2df;
  color: #ff5237;
}
.set-domain-result-2 .set-cell {
  padding-top: 13px;
}
.set-domain-result-account {
  background-color: #ffffff;
  padding: 0 15px 20px;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.1);
  border: 1px solid #dadee7;
  border-top: none;
  border: 0 rgba(0, 0, 0, 0);
}
.set-domain-result-account h6 {
  line-height: 40px;
  border-bottom: 1px solid #b4b7bf;
}
.set-domain-result-account .name {
  font-size: 100%;
  padding-bottom: 25px;
}
.set-domain-result-account .icon {
  margin-right: 20px;
}
.set-domain-result-title {
  font-size: 100%;
  margin-top: 35px;
  margin-bottom: 15px;
}
.set-domain-result-guide {
  color: #66686c;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.set-domain-result-guide .left {
  float: left;
}
.set-domain-result-guide .right {
  float: right;
}
.set-domain-result-guide a {
  margin-left: 25px;
}
.set-domain-result-table {
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.1);
  border: 1px solid #dadee7;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #ffffff;
}
.set-domain-result-table tr:last-child td {
  border-bottom: 0;
}
.set-domain-result-table .col1 {
  width: 36px;
  text-align: center;
}
.set-domain-result-table .col2 {
  width: 317px;
}
.set-domain-result-table .col3 {
  width: 400px;
  padding-left: 30px;
}
.dialog-bind-remove {
  width: 500px;
}
.dialog-bind-ol {
  padding-top: 10px;
  padding-left: 15px;
}
.dialog-bind-ol li {
  margin-bottom: 24px;
}
.dialog-bind-ol li > i {
  vertical-align: middle;
  margin-right: 5px;
}
.dialog-bind-ol li .set-cell {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.dialog-bind-help-account {
  border: 1px solid #dadee7;
  font-family: simsun;
  font-size: 100%;
  padding: 8px 25px 0 16px;
  margin-top: -4px;
  background-color: #ffffff;
}
.dialog-bind-help-account .set-cell {
  margin-left: 80px;
}
.dialog-bind-help-account .set-cell h6 {
  margin-top: 5px;
  margin-bottom: 12px;
}
.dialog-bind-help-account .set-cell .gray {
  color: #66686c;
}
.dialog-bind-help-account .set-cell dl {
  line-height: 22px;
  margin-top: 11px;
  margin-bottom: 9px;
  overflow: hidden;
}
.dialog-bind-help-account .set-cell dt {
  float: left;
  width: 68px;
}
.dialog-bind-help-account .set-cell dd {
  padding-left: 70px;
  height: 22px;
}
.dialog-bind-help-account .set-cell dd > strong {
  float: left;
  font-size: 100%;
  font-family: 'microsoft yahei';
  color: #00cc26;
}
.dialog-bind-help-account .set-cell dd > a {
  float: right;
}
.dialog-bind-edit {
  width: 500px;
}
.dialog-bind-edit li:last-child {
  margin-bottom: 10px;
}
.dialog-import {
  width: 550px;
}
.dialog-import .start-step .lbf-panel-body {
  padding-bottom: 0px;
}
.dialog-import .start-step .lbf-panel-foot {
  margin-bottom: -30px;
  padding-top: 35px;
  padding-bottom: 0px;
  clear: both;
}
.dialog-import .start-step .dialog-import-cell {
  *zoom: 1;
}
.dialog-import .start-step .dialog-import-cell:after {
  display: table;
  content: '';
  clear: both;
}
.dialog-import .start-step .dialog-import-cell .info-group {
  float: left;
  *zoom: 1;
}
.dialog-import .start-step .dialog-import-cell .info-group:after {
  display: table;
  content: '';
  clear: both;
}
.dialog-import .start-step .dialog-import-cell .info-group .number {
  float: left;
  height: 34px;
  width: 34px;
  text-align: center;
  line-height: 34px;
  margin-top: 3px;
  margin-right: 12px;
  font-size: 15px;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container {
  float: left;
  padding-top: 11px;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container .title {
  font-size: 18px;
  line-height: 1;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container .support {
  margin-top: 12px;
  color: #66686c;
  font-size: 14px;
  line-height: 1;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container .upload-result {
  display: none;
  position: relative;
  margin-top: 14px;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container .upload-result .file-name {
  font-size: 14px;
  line-height: 20px;
  color: #0067ed;
}
.dialog-import .start-step .dialog-import-cell .info-group .info-container .upload-result .lbf-panel-close {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: 5px;
  right: 0;
}
.dialog-import .start-step .dialog-import-cell .btn-group {
  float: right;
}
.dialog-import .loading-step {
  display: none;
}
.dialog-import .loading-step .lbf-panel-body {
  padding-top: 80px;
}
.dialog-import .loading-step .icon-import-loading {
  height: 180px;
  background: url(../org/images/icon-import-loading.gif) no-repeat center;
}
.dialog-import .loading-step .text-import-loading {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
}
.dialog-import .result-step {
  display: none;
}
.dialog-import .result-step .dialog-import-cell .info-group {
  font-size: 14px;
}
.dialog-import .result-step .dialog-import-cell .info-group .info-label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #66686c;
  width: 100px;
}
.dialog-import .result-step .dialog-import-cell .info-group .info-content {
  color: #1d2331;
}
.dialog-import .result-step .dialog-import-cell .info-group .info-content.time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.dialog-import .result-step .dialog-import-cell .info-group .info-content.num {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 50px;
}
.dialog-import .result-step .dialog-import-cell .info-group .info-content.num.fail {
  color: #ff4222;
}
.dialog-import .result-step .dialog-import-cell .info-list {
  padding: 20px 30px;
  background-color: #ffece8;
}
.dialog-import .result-step .dialog-import-cell .info-list li {
  *zoom: 1;
  line-height: 35px;
}
.dialog-import .result-step .dialog-import-cell .info-list li:after {
  display: table;
  content: '';
  clear: both;
}
.dialog-import .result-step .dialog-import-cell .info-list li .reason {
  float: left;
  color: #1d2331;
}
.dialog-import .result-step .dialog-import-cell .info-list li .num {
  float: right;
  color: #ff4222;
}
.dialog-import .result-step .lbf-panel-foot {
  padding-bottom: 0;
  margin-top: 40px;
  margin-bottom: -30px;
}
/* 非跨页面图标 */
.icon-verity-txt,
.icon-verity-cname {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background: url(images/icons-verify.png) no-repeat;
}
.icon-verity-cname {
  background-position: 0 -100px;
}
.icon-domain-del,
.icon-domain-edit {
  background: url(images/icons-domain.png) no-repeat;
}
.icon-domain-edit {
  background-position: 0 -20px;
}
.icon-domain-email {
  float: left;
  width: 40px;
  height: 40px;
  background: url(images/icon-domain-email.png) no-repeat center;
}
.icon-circle {
  background: url(images/icon-circle.png) no-repeat;
}
