<% 
    include('../widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['/static_proxy/themes/blue/carpool/homepage.css']   
    }); 
%>
<div id="bushomepage">
	<div class="container">
		<div class="headerContainer">
			<div class="bus_header">
				<div class="logo"></div>
				<div class="area">
					<a href="javascript:void(0);">嘉定</a>
				</div>
				<div class="separator_line" style="margin-left:26px;"></div>
				<div class="menu_current menu menu_index">
					<a href="">首页</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">我要预订</a>
				</div>
				<div class="separator_line"></div>
				<div class="menu menu_fav">
					<a href="">发起拼车</a>
				</div>
				<div class="user">
					liuciwen(刘慈文)
				</div>
				<div class="staffHead">
					<img src="/public/avatars/profile.jpg" alt="头像" style="width:38px;height:40px;border:0;"/>
				</div>
			</div>
		</div>
		<div class="mainContainer">
			<div class="search_area">
				<p class="shorttitle">搜索所有校园的拼车信息</p>
				<div class="search_body">
					<div class="shadule">&nbsp;&nbsp;&nbsp;出发地：<span class="txt_shadule txt" contenteditable></span></div>
					<div class="des">&nbsp;&nbsp;&nbsp;目的地：<span class="txt_des txt" contenteditable></span></div>
					<div class="time">出发时期：<span class="txt_time txt" id="picktime" contenteditable></span></div>
					<div class="button lbf-button lbf-button-primary">搜索</div>
				</div>
			</div>
			<div class="short_poster"></div>
		</div>
		<div class="home_footer">
        	<p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    	</div>
	</div>
</div>
<%
	include('../widget/bottom', {
		locals: local
	});
%>
<script type="text/javascript">
    LBF.use('qidian.sites.carpool.CarpoolController', function(CarpoolController) {
        new CarpoolController();
    });
</script>