@import "../../base/mixin.less";
@import "../../base/reset.less";
@import "../../base/common.less";

@light-gray: #777;
@background: #eeeeee;
@logo-border: rgba(255, 255, 255, .3);
@line-color: #dedfe0;
@blue-color: #0067ed;
@blue-color-disabled: #94bdf2;
@content-width: 320px;
@hint-color: #999;
@light-text-color: #a6a6a6;

.phone-bind-area, .vericode-area, .changePwd-area {
  padding-top: 15px;
  .desc {
    font-size: 14px;
    color: @light-gray;
  }
  .info-hint {
    padding: 0 18px;
    font-size: 12px;
    color: @hint-color;
  }
  .title-hint {
    padding: 25px 18px;
    margin-top: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: @hint-color;
  }

  .phone-num-edit-wrap {
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    //border-bottom: 1px solid @line-color;
    //height: 14px;
    text-align: left;
    .phone-num, .code-num, .pwd-num {
      //margin-right: 50px;
      background: #fff;
      //max-width: 200px;
      font-size: 18px;
      //text-align: center;
      width: 100%;
      height: 45px;
      border-top: 1px solid @line-color;
      border-bottom: 1px solid @line-color;
      padding-left: 18px;
      box-sizing: border-box;
      border-radius: 0;
    }
    .disabled {
      background-color: #fdfdfd;
      color: #999;
    }
    .bind-phone {
      padding-right: 40px;

    }

    .error {
      display: none;
      color: red;
      font-size: 12px;
      position: absolute;
      right: 28px;
      margin-top: 3px;
    }
    .clear-btn {
      position: relative;
      right: 5px;
      float: right;
      display: none;
      margin-top: -32px;
    }
    .clear-btn-code {
      right: 125px;
    }

    .send-vericode {
      position: relative;
      width: 120px;
      height: 45px;
      //right: 1px;
      font-size: 15px;
      float: right;
      margin-top: -45px;
      color: #222222;
      border: none;
      border-left: 1px solid @line-color;

    }

    .send-vericode-disabled {
      background: #fff;
      color: @light-gray;
      //border: none;
      //border-left: 1px solid ;
      border: 1px solid @line-color;

    }

  }
  .password-edit-wrap {
    padding-bottom: 0;
    overflow: hidden;
    .pwd-num {
      border-bottom: 0;
    }
    &::after {
      .retinaBorBot(@line-color, 1);
      //margin-left: 18px;
      //box-sizing: border-box;
      transform: translateX(18px);
      -webkit-transform: translateX(18px);
    }
  }
  .password-reedit-wrap {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    .pwd-num {
      border-top: 0;
    }
  }
  .action-wrap {
    padding: 18px;
    .next-btn {
      display: block;
      width: 100%;
      height: 45px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      background-color: @blue-color;
      color: #fff;
    }

  }
  .pt15 {
    padding-top: 15px;
  }

}

.dis {
  display: none;
}

.next-btn-disabled {
  background-color: @blue-color-disabled !important;

}

.ui-dialog {
  .ui-dialog-notit {
    border-bottom: 1px solid @line-color;
    //padding-top: 30px;
    //padding-bottom: 30px;
    padding: 30px 15px;
    text-align: center;
    font-size: 15px;
  }
  .dialog-btn0 {
    color: @blue-color;
  }

}

.error-overlay {
  top: 220px;
  p {
    line-height: 25px;
    min-width: 200px;
  }
}

.tc {
  text-align: center;
}
