/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.ui_tips[data-title] {
  position: relative;
  overflow: visible;
}
.ui_tips[data-title]::before,
.ui_tips[data-title]::after {
  position: absolute;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
}
.ui_tips[data-title]::before {
  content: attr(data-title);
  top: -42px;
  padding: 6px 10px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #1e2330;
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-family: 'microsoft yahei';
  white-space: nowrap;
}
.ui_tips[data-title]::after {
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top-color: #1e2330;
  top: -13px;
}
.ui_tips_multi[data-title]::before {
  top: -60px;
  width: 386px;
  white-space: normal;
}
.ui_tips[data-title]:hover::before,
.ui_tips[data-title]:hover::after {
  -webkit-transition: visibility .1s .1s;
  transition: visibility .1s .1s;
  visibility: visible;
}
/* 下面是 IE7 IE8 玩耍的代码 */
.ui_tips .ui_tips_before,
.ui_tips .ui_tips_after {
  display: none;
  position: absolute;
  left: 50%;
  white-space: nowrap;
}
.ui_tips_before {
  top: -42px;
  max-width: 250px;
  padding: 6px 10px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #1e2330;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: 'microsoft yahei';
}
.ui_tips_after {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top-color: #1e2330;
  top: -13px;
}
.ui_tips:hover .ui_tips_before,
.ui_tips:hover .ui_tips_after {
  display: block;
}
.icon-wpa,
.icon-add,
.icon-ckbox,
.icon-clear,
.icon-code,
.icon-del,
.icon-edit,
.icon-gp,
.icon-group-highlight,
.icon-group,
.icon-kfext-highlight,
.icon-kfext,
.icon-no-data,
.icon-phone,
.icon-pub-highlight,
.icon-pub,
.icon-qq-highlight,
.icon-qq,
.icon-refresh,
.icon-suc,
.icon-tel-corp,
.icon-tel-group,
.icon-tel-highlight,
.icon-tel-single,
.icon-tel,
.icon-upload-highlight,
.icon-upload {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  overflow: hidden;
  background: url("images/icons.png?201662") no-repeat;
  background-size: 100px auto;
}
.icon-add:hover,
a:hover .icon-add {
  background-position: 0px 0px;
}
.icon-add {
  width: 16px;
  height: 16px;
  background-position: 0px -26px;
}
.icon-ckbox {
  width: 18px;
  height: 18px;
  background-position: 0px -248px;
}
.icon-clear:hover,
a:hover .icon-clear {
  background-position: 0px -477px;
}
.icon-clear {
  width: 21px;
  height: 21px;
  background-position: 0px -446px;
}
.icon-code:hover,
a:hover .icon-code {
  background-position: 0px -108px;
}
.icon-code {
  width: 18px;
  height: 18px;
  background-position: 0px -136px;
}
.icon-del:hover,
a:hover .icon-del {
  background-position: 0px -164px;
}
.icon-del {
  width: 18px;
  height: 18px;
  background-position: 0px -192px;
}
.icon-edit:hover,
a:hover .icon-edit {
  background-position: 0px -220px;
}
.icon-edit {
  width: 18px;
  height: 18px;
  background-position: 0px -52px;
}
.icon-gp {
  width: 18px;
  height: 18px;
  background-position: 0px -276px;
}
.icon-group-highlight {
  width: 50px;
  height: 50px;
}
.highlight .icon-group,
a:hover .icon-group,
a:hover .icon-group-highlight,
.highlight:hover .icon-group,
.icon-group-highlight:hover,
.icon-group-highlight {
  background-position: 0px -1416px;
}
.icon-group:hover,
a:hover .icon-group {
  background-position: 0px -1296px;
}
.icon-group {
  width: 50px;
  height: 50px;
  background-position: 0px -1116px;
}
.icon-kfext-highlight {
  width: 50px;
  height: 50px;
}
.highlight .icon-kfext,
a:hover .icon-kfext,
a:hover .icon-kfext-highlight,
.highlight:hover .icon-kfext,
.icon-kfext-highlight:hover,
.icon-kfext-highlight {
  background-position: 0px -1056px;
}
.icon-kfext:hover,
a:hover .icon-kfext {
  background-position: 0px -936px;
}
.icon-kfext {
  width: 50px;
  height: 50px;
  background-position: 0px -876px;
}
.icon-no-data {
  width: 100px;
  height: 100px;
  background-position: 0px -1546px;
}
.icon-phone {
  width: 20px;
  height: 20px;
  background-position: 0px -416px;
}
.icon-pub-highlight {
  width: 50px;
  height: 50px;
}
.highlight .icon-pub,
a:hover .icon-pub,
a:hover .icon-pub-highlight,
.highlight:hover .icon-pub,
.icon-pub-highlight:hover,
.icon-pub-highlight {
  background-position: 0px -636px;
}
.icon-pub:hover,
a:hover .icon-pub {
  background-position: 0px -576px;
}
.icon-pub {
  width: 50px;
  height: 50px;
  background-position: 0px -996px;
}
.icon-qq-highlight {
  width: 50px;
  height: 50px;
}
.highlight .icon-qq,
a:hover .icon-qq,
a:hover .icon-qq-highlight,
.highlight:hover .icon-qq,
.icon-qq-highlight:hover,
.icon-qq-highlight {
  background-position: 0px -696px;
}
.icon-qq:hover,
a:hover .icon-qq {
  background-position: 0px -756px;
}
.icon-qq {
  width: 50px;
  height: 50px;
  background-position: 0px -816px;
}
.icon-refresh:hover,
a:hover .icon-refresh {
  background-position: 0px -80px;
}
.icon-refresh {
  width: 18px;
  height: 18px;
  background-position: 0px -388px;
}
.icon-suc {
  width: 60px;
  height: 60px;
  background-position: 0px -1476px;
}
.icon-tel-corp {
  width: 18px;
  height: 18px;
  background-position: 0px -360px;
}
.icon-tel-group {
  width: 18px;
  height: 18px;
  background-position: 0px -332px;
}
.icon-tel-highlight {
  width: 50px;
  height: 50px;
}
.highlight .icon-tel,
a:hover .icon-tel,
a:hover .icon-tel-highlight,
.highlight:hover .icon-tel,
.icon-tel-highlight:hover,
.icon-tel-highlight {
  background-position: 0px -1176px;
}
.icon-tel:hover,
a:hover .icon-tel {
  background-position: 0px -1236px;
}
.icon-tel-single {
  width: 18px;
  height: 18px;
  background-position: 0px -304px;
}
.icon-tel {
  width: 50px;
  height: 50px;
  background-position: 0px -1356px;
}
.icon-upload-highlight {
  width: 25px;
  height: 24px;
}
.highlight .icon-upload,
a:hover .icon-upload,
a:hover .icon-upload-highlight,
.highlight:hover .icon-upload,
.icon-upload-highlight:hover,
.icon-upload-highlight {
  background-position: 0px -508px;
}
.icon-upload {
  width: 25px;
  height: 24px;
  background-position: 0px -542px;
}
.lbf-button .icon-add {
  vertical-align: -2px;
  margin-right: 5px;
}
.lbf-combobox {
  width: 148px;
}
.table {
  table-layout: auto;
}
.table th {
  white-space: nowrap;
}
.table tr:hover td {
  background-color: #fff;
}
.table .tb-view {
  width: 330px;
}
.table .tb-view .view {
  width: 280px;
  height: 120px;
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
}
.table .tb-view .view .vline {
  width: 1px;
  height: 120px;
  display: inline-block;
  overflow: hidden;
  margin-right: -1px;
  vertical-align: middle;
}
.table .tb-view .view .mark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 120px;
  background-color: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity .36s;
}
.table .tb-view .view .mark a {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  display: inline-block;
  border-radius: 2px;
  line-height: 38px;
  padding: 0 25px;
}
.table .tb-view .view:hover .mark {
  opacity: .8;
  filter: alpha(opacity=80);
}
.table .tb-view img {
  max-width: 90%;
  max-height: 80%;
  vertical-align: middle;
}
.table .tb-name {
  width: 310px;
  line-height: 26px;
  word-break: break-all;
  word-wrap: break-word;
}
.table .tb-name span {
  color: #ff4222;
  margin-left: 4px;
}
.table .tb-name .lbf-popup {
  background-color: #fff;
  border: 1px solid #dadee7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.table .tb-name .lbf-popup .lbf-tip-content {
  color: #1e2330;
}
.table .tb-name .lbf-popup .lbf-tip-arrow-before {
  border-color: #dadee7 transparent;
}
.table .tb-name .lbf-popup .lbf-tip-arrow-after {
  border-color: #fff transparent;
}
.table .tb-scene {
  width: 150px;
}
.table .tb-time {
  line-height: 22px;
  word-break: break-all;
  word-wrap: break-word;
}
.table .tb-action {
  width: 150px;
  text-align: right;
  padding-right: 30px;
}
.table .tb-action a {
  margin-left: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.table p {
  color: #a8abb3;
}
.table-null h2 {
  font-size: 24px;
  margin-top: 18px;
}
body .wpa-preview-panel .previewer {
  height: 320px;
  background: #ebebeb;
  text-align: center;
}
body .wpa-preview-panel .previewer .vertical {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  line-height: 320px;
  width: 1px;
  height: 320px;
}
body .wpa-preview-panel .previewer #wpa-viewer {
  min-width: 360px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
body .wpa-preview-panel .intro {
  font-size: 14px;
  color: #a2a9b6;
  margin-top: 10px;
}
body .wpa-preview-panel .wpa-tip {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #fff;
  line-height: 36px;
  padding: 0 15px;
  border-radius: 3px;
  color: #555;
}
body .wpa-preview-panel .wpa-tip i {
  font-style: normal;
  margin: 0 3px;
}
body .wpa-preview-panel .lbf-panel-head {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  padding: 25px 0;
}
body .wpa-preview-panel .lbf-panel-body {
  padding: 0 25px 30px;
}
body .wpa-preview-panel .lbf-panel-foot {
  display: none;
}
.code-view-panel .lbf-panel-head {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  padding: 25px 0;
}
.code-view-panel .lbf-panel-body {
  padding: 0 25px 30px;
}
.code-view-panel .textarea {
  height: 160px;
}
.code-view-panel .textarea textarea {
  padding: 15px;
  width: 518px;
  height: 130px;
  border-color: #dadee7;
  color: #1e2331;
}
.code-view-panel h4 {
  color: #999;
}
.code-view-panel ul {
  color: #a8abb3;
}
.code-view-panel ul li {
  padding-bottom: 3px;
}
