/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.numbers-select-search {
  height: 60px;
}
.numbers-select-box {
  text-align: justify;
  overflow: hidden;
  margin-bottom: -20px;
}
.numbers-select-list {
  display: inline-block;
  width: 125px;
  line-height: 78px;
  border: 1px solid #dadee7;
  vertical-align: top;
  color: #1e2330;
  text-align: center;
  margin-bottom: 10px;
}
.numbers-select-list:hover {
  color: #1e2330;
  border-color: #a8abb3;
}
.numbers-select-list.disabled {
  background-color: #f4f6f9;
  color: #66686c;
  border: 1px solid #a8abb3;
  cursor: default;
  pointer-events: none;
}
i.numbers-select-list {
  height: 0px;
  overflow: hidden;
  border-width: 0 1px;
}
.numbers-select-page {
  overflow: hidden;
}
.numbers-select-check {
  position: absolute;
  margin-top: -22px;
}
.numbers-select-check label {
  vertical-align: -1px;
}
