.p-da-rival-message {
    .content-title {
        border-bottom: none;
    }

    .main-hd {
        margin-left: -10px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .main-hd-label {
        display: none;
    }

    .lbf-combobox,
    .lbf-text-input {
        vertical-align: middle;
    }

    .lbf-combobox-label {
        width: 96px;
    }

    .lbf-text-input {
        margin: 0 10px 0 40px;
        padding-right: 32px;
        input {
            width: 198px;
        }

        .icon-search {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -9px;
        }
        // 充值active的样式
        .icon-search:active {
            background-position: 0 0;
        }
    }

    .lbf-date-picker-wrap {
        .lbf-text-input {
            margin-right: 0;
        }
    }

    .da-select-container {
        float: right;
        margin: 20px 30px 0 0;
        height: 40px;
        line-height: 40px;
    }

    .main-table {
        .main-table-time {
            margin-left: 10px;
            font-size: 12px;
            color: #A2A9B6;
        }

        .main-table-rate-th {
            text-indent: 12px;
        }

        .icon-tips-info,
        .icon-sort-arrow-down {
            margin-left: 5px;
        }
        .icon-tips-info {
            vertical-align: -3px;
        }
        .icon-sort-arrow-down {
            vertical-align: -2px;
            cursor: default;
        }

        a {
            color: inherit;

            &:hover {
                color: #00a1f2;
            }
        }
    }

    .lbf-tip-content {
        width: 260px;
    }
}
