
@import "rival-panels.less";

.p-da-rival-my {
    .content-title {
        border-bottom: none;
    }
    .content-main {
    }
    .lbf-tabview-tabs {
        margin-bottom: 20px;
    }

    .main-pack {
        padding: 30px;
        margin-bottom: 0;
    }

    .main-rival {
        margin-top: 20px;
    }

    .main-no-rivals {
        width: 1140px;
        height: 470px;
        line-height: 470px;
        text-align: center;

        div {
            display: inline-block;
            line-height: 1.5;
            vertical-align: middle
        }
        h2 {
            margin-top: 30px;
            line-height: 30px;
            font-size: 28px;
            font-weight: normal;
        }
    }
}

