.p-da-rival-user {
    .content-title {
        border-bottom: none;
    }


    .da-select-container {
        float: right;
        span {
            color: #545a6c;
        }
    }

    h2 {
        margin: 35px 0 10px 0;
        font-size: 16px;

        .icon-tips-info {
            margin-left: 5px;
            vertical-align: -2px;
        }
    }

    .main-overlap {
        &-pic {
            float: left;
            margin-right: 18px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &-txt {
            overflow: hidden;

            h2 {
                margin-top: 5px;
                color: #545A6C;
                font-size: 16px;
            }

            p {
                margin-top: 5px;
                color: #A2A9B6;

                span {
                    margin-right: 6px;
                    vertical-align: -2px;
                }
            }
        }

        &-rate {
            span {
                display: inline-block;
                width: 30px;
                height: 10px;
                background-color: #E0E5ED;
                border-radius: 3px;
            }

            .main-overlap-rate-highlight {
                background-color: #21AAF8;;
            }
        }

        .tc {
            text-align: center;
        }
    }
}
