@import '../../base/mixin';
.table-base tbody td {
  line-height: 25px;
  padding: 24px 0;
}
.table-content{

  margin-top: 20px;
  font-size: 14px;
  .table{


    .txt-center{
      text-align: center;
    }

    .txt-no-record{
      font-size: 24px;
      color: #1e2330;
    }

    .ctx{
      width: 300px;
      span{
        float: left;
        margin-right: 15px;
        margin-top: 5px;
      }
    }
    .group{
      width: 360px;
    }
    em{
      font-style:normal;
      font-style: initial;
    }
    .text-top{
      color: #2d323e;
      .send-ctx{
        cursor: default;
      }
    }
    .text-bottom{
      color: #a8abb3;
    }

    .tag{
      background: #e4e8ea;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 30px;
      font-size: 14px;
      min-width: 20px;
      height: 25px;
      float: left;
      text-align: center;
    }
    .send-user{
      line-height: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .color-red{
      color: #ff4222;
    }

    .qidian-tips{

     }
  }
}

.qidian-status-tip {
  max-width: 320px;
  -ms-box-shadow: 0 1px 15px rgba(30, 35, 49, 0.15);
  -webkit-box-shadow: 0 1px 15px rgba(30, 35, 49, 0.15);
  -moz-box-shadow: 0 1px 15px rgba(30, 35, 49, 0.15);
  -o-box-shadow: 0 1px 15px rgba(30, 35, 49, 0.15);
  box-shadow: 0 1px 15px rgba(30, 35, 49, 0.15);
  border: 1px solid #dadee7;
}


.relation-chain-tip{
  max-width: 194px;
}

.table-base tr {
  cursor: auto !important;
}