

[class^='icon-nav-'] {
    display: inline-block; 
    width: 20px; height: 20px;
    color: transparent;
    background: url("../../../themes/blue/common/images/icons-nav.png?2016617") no-repeat;
}
[class^='icon-nav-']:after {
    content: '\3000';
}
.icon-nav-QQJoin {
    background-position: 0px -20px;
}

.icon-nav-account {
    background-position: 0px -1080px;
}

.icon-nav-ana {
    background-position: 0px -40px;
}

.icon-nav-auto {
    background-position: 0px -60px;
}

.icon-nav-bag {
    background-position: 0px -80px;
}

.icon-nav-belong {
    background-position: 0px -100px;
}

.active .icon-nav-QQJoin, a:hover .icon-nav-QQJoin {
    background-position: 0px -120px;
}

.active .icon-nav-account, a:hover .icon-nav-account {
    background-position: 0px -140px;
}

.active .icon-nav-ana, a:hover .icon-nav-ana {
    background-position: 0px -160px;
}

.active .icon-nav-auto, a:hover .icon-nav-auto {
    background-position: 0px -180px;
}

.active .icon-nav-bag, a:hover .icon-nav-bag {
    background-position: 0px -200px;
}

.active .icon-nav-belong, a:hover .icon-nav-belong {
    background-position: 0px -220px;
}

.active .icon-nav-build, a:hover .icon-nav-build {
    background-position: 0px -240px;
}

.active .icon-nav-circleHot, a:hover .icon-nav-circleHot {
    background-position: 0px -260px;
}

.active .icon-nav-codeDeploy, a:hover .icon-nav-codeDeploy {
    background-position: 0px -280px;
}

.active .icon-nav-comment, a:hover .icon-nav-comment {
    background-position: 0px -300px;
}

.active .icon-nav-constr, a:hover .icon-nav-constr {
    background-position: 0px -320px;
}

.active .icon-nav-content, a:hover .icon-nav-content {
    background-position: 0px -340px;
}

.active .icon-nav-crowd, a:hover .icon-nav-crowd {
    background-position: 0px -360px;
}

.active .icon-nav-customAnalyse, a:hover .icon-nav-customAnalyse {
    background-position: 0px -380px;
}

.active .icon-nav-customGroup, a:hover .icon-nav-customGroup {
    background-position: 0px -400px;
}

.active .icon-nav-customImport, a:hover .icon-nav-customImport {
    background-position: 0px -420px;
}

.active .icon-nav-customManage, a:hover .icon-nav-customManage {
    background-position: 0px -440px;
}

.active .icon-nav-da-page, a:hover .icon-nav-da-page {
    background-position: 0px -460px;
}

.active .icon-nav-da-site, a:hover .icon-nav-da-site {
    background-position: 0px -480px;
}

.active .icon-nav-da-src, a:hover .icon-nav-da-src {
    background-position: 0px -500px;
}

.active .icon-nav-da-visitor, a:hover .icon-nav-da-visitor {
    background-position: 0px -520px;
}

.active .icon-nav-data, a:hover .icon-nav-data {
    background-position: 0px -540px;
}

.active .icon-nav-earth, a:hover .icon-nav-earth {
    background-position: 0px -560px;
}

.active .icon-nav-file, a:hover .icon-nav-file {
    background-position: 0px -580px;
}

.active .icon-nav-financeManage, a:hover .icon-nav-financeManage {
    background-position: 0px -600px;
}

.active .icon-nav-first, a:hover .icon-nav-first {
    background-position: 0px -620px;
}

.active .icon-nav-group, a:hover .icon-nav-group {
    background-position: 0px -640px;
}

.active .icon-nav-groupAccept, a:hover .icon-nav-groupAccept {
    background-position: 0px -660px;
}

.active .icon-nav-groupSend, a:hover .icon-nav-groupSend {
    background-position: 0px -680px;
}

.active .icon-nav-gsAnalysis, a:hover .icon-nav-gsAnalysis {
    background-position: 0px -700px;
}

.active .icon-nav-hotword, a:hover .icon-nav-hotword {
    background-position: 0px -720px;
}

.active .icon-nav-keyword, a:hover .icon-nav-keyword {
    background-position: 0px -740px;
}

.active .icon-nav-landing, a:hover .icon-nav-landing {
    background-position: 0px -760px;
}

.active .icon-nav-log, a:hover .icon-nav-log {
    background-position: 0px -780px;
}

.active .icon-nav-menu, a:hover .icon-nav-menu {
    background-position: 0px -800px;
}

.active .icon-nav-mouse, a:hover .icon-nav-mouse {
    background-position: 0px -820px;
}

.active .icon-nav-msg, a:hover .icon-nav-msg {
    background-position: 0px -840px;
}

.active .icon-nav-msgMaterial, a:hover .icon-nav-msgMaterial {
    background-position: 0px -860px;
}

.active .icon-nav-myCrowd, a:hover .icon-nav-myCrowd {
    background-position: 0px -880px;
}

.active .icon-nav-paidAnalysis, a:hover .icon-nav-paidAnalysis {
    background-position: 0px -900px;
}

.active .icon-nav-pay, a:hover .icon-nav-pay {
    background-position: 0px -920px;
}

.active .icon-nav-phone, a:hover .icon-nav-phone {
    background-position: 0px -940px;
}

.active .icon-nav-pie, a:hover .icon-nav-pie {
    background-position: 0px -960px;
}

.active .icon-nav-rank, a:hover .icon-nav-rank {
    background-position: 0px -980px;
}

.active .icon-nav-recive, a:hover .icon-nav-recive {
    background-position: 0px -1000px;
}

.active .icon-nav-relation, a:hover .icon-nav-relation {
    background-position: 0px -1020px;
}

.active .icon-nav-send, a:hover .icon-nav-send {
    background-position: 0px -1040px;
}

.active .icon-nav-similar, a:hover .icon-nav-similar {
    background-position: 0px -1060px;
}

.active .icon-nav-similarGroup, a:hover .icon-nav-similarGroup {
    background-position: 0px 0px;
}

.active .icon-nav-store, a:hover .icon-nav-store {
    background-position: 0px -1100px;
}

.active .icon-nav-trend, a:hover .icon-nav-trend {
    background-position: 0px -1120px;
}

.active .icon-nav-verify, a:hover .icon-nav-verify {
    background-position: 0px -1140px;
}

.active .icon-nav-visitorPath, a:hover .icon-nav-visitorPath {
    background-position: 0px -1160px;
}

.active .icon-nav-windChimes, a:hover .icon-nav-windChimes {
    background-position: 0px -1180px;
}

.icon-nav-build {
    background-position: 0px -1200px;
}

.icon-nav-circleHot {
    background-position: 0px -1220px;
}

.icon-nav-codeDeploy {
    background-position: 0px -1240px;
}

.icon-nav-comment {
    background-position: 0px -1260px;
}

.icon-nav-constr {
    background-position: 0px -1280px;
}

.icon-nav-content {
    background-position: 0px -1300px;
}

.icon-nav-crowd {
    background-position: 0px -1320px;
}

.icon-nav-customAnalyse {
    background-position: 0px -1340px;
}

.icon-nav-customGroup {
    background-position: 0px -1360px;
}

.icon-nav-customImport {
    background-position: 0px -1380px;
}

.icon-nav-customManage {
    background-position: 0px -1400px;
}

.icon-nav-da-page {
    background-position: 0px -1420px;
}

.icon-nav-da-site {
    background-position: 0px -1440px;
}

.icon-nav-da-src {
    background-position: 0px -1460px;
}

.icon-nav-da-visitor {
    background-position: 0px -1480px;
}

.icon-nav-data {
    background-position: 0px -1500px;
}

.icon-nav-earth {
    background-position: 0px -1520px;
}

.icon-nav-file {
    background-position: 0px -1540px;
}

.icon-nav-financeManage {
    background-position: 0px -1560px;
}

.icon-nav-first {
    background-position: 0px -1580px;
}

.icon-nav-group {
    background-position: 0px -1600px;
}

.icon-nav-groupAccept {
    background-position: 0px -1620px;
}

.icon-nav-groupSend {
    background-position: 0px -1640px;
}

.icon-nav-gsAnalysis {
    background-position: 0px -1660px;
}

.icon-nav-hotword {
    background-position: 0px -1680px;
}

.icon-nav-keyword {
    background-position: 0px -1700px;
}

.icon-nav-landing {
    background-position: 0px -1720px;
}

.icon-nav-log {
    background-position: 0px -1740px;
}

.icon-nav-menu {
    background-position: 0px -1760px;
}

.icon-nav-mouse {
    background-position: 0px -1780px;
}

.icon-nav-msg {
    background-position: 0px -1800px;
}

.icon-nav-msgMaterial {
    background-position: 0px -1820px;
}

.icon-nav-myCrowd {
    background-position: 0px -1840px;
}

.icon-nav-paidAnalysis {
    background-position: 0px -1860px;
}

.icon-nav-pay {
    background-position: 0px -1880px;
}

.icon-nav-phone {
    background-position: 0px -1900px;
}

.icon-nav-pie {
    background-position: 0px -1920px;
}

.icon-nav-rank {
    background-position: 0px -1940px;
}

.icon-nav-recive {
    background-position: 0px -1960px;
}

.icon-nav-relation {
    background-position: 0px -1980px;
}

.icon-nav-send {
    background-position: 0px -2000px;
}

.icon-nav-similar {
    background-position: 0px -2020px;
}

.icon-nav-similarGroup {
    background-position: 0px -2040px;
}

.icon-nav-store {
    background-position: 0px -2060px;
}

.icon-nav-trend {
    background-position: 0px -2080px;
}

.icon-nav-verify {
    background-position: 0px -2100px;
}

.icon-nav-visitorPath {
    background-position: 0px -2120px;
}

.icon-nav-windChimes {
    background-position: 0px -2140px;
}
