body, ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans, serif;
}
ul {
    list-style: none;
}
html {
    background: #F2F3F4;
}
body {
    font-size: 16px;
}

body > header {
    padding: 10px;
    border-bottom: 1px solid #BFC8D2;
    background-color: #1e2330;
}
body > header a, body > header a:visited {
    display: block;
    width: 148px;
    height: 30px;
    text-decoration: none;
    font-size: 0;
    text-indent: -10000px;
    background: url(../images/logo_60px.png) no-repeat 0 50%;
    background-size: 120px;
}

body > footer {
    padding: 14px;
    background: #D5D5D5;
    border-top: 1px solid #babdc2;
    text-align: center;
}
body > footer p {
    font-size: 16px;
}
body > footer .copyright {
    font-size: 12px;
    line-height: 2;
}
section { 
 padding: 5px 10px; 
 font: 14px/25px 'Microsoft Yahei';
}


