@import '../../base/variable';
.reception-set {
  padding-bottom: 100px;
  line-height: 1;
  .back-list {
    padding-top: 20px;
  }
  .link-mng {
    color:@border-gray;
    font-size: 18px;
    .icon-srv-left-black {
      vertical-align: -4px;
      margin:10px 0 0;
    }
    &:hover {
      color:@dark;
    }
  }
  .content-title {
    font-size: 24px;
    height: auto;
    padding:40px 0 50px 0;
  }
  .name-set {
    width: 500px;
    margin-top: 15px;
  }
  .title {
    font-size: 16px;
  }
  .receptionist-set {
    padding-top: 50px;
    // padding-bottom: 45px;
    .title {
      padding-bottom: 20px;
    }
    .items-list {
      overflow: hidden;
    }
    .allowpriority-check {
      display: none;
    }
    // li {
    //   float:left;
    //   width:250px;
    //   margin:0 20px 0 0;
    //   padding-bottom: 20px;
    // }
    // .item {
    //   float:left;
    //   height:50px;
    //   .avatar {
    //     position: relative;
    //     float:left;
    //     width:50px;
    //     height:50px;
    //     margin-right:15px;
    //     img {
    //       border-radius: 50px;
    //     }
    //   }
    //   .overlay {
    //     display:none;
    //     position: absolute;
    //     top:0;
    //     left:0;
    //     width: 50px;
    //     height: 50px;
    //     line-height: 50px;
    //     text-align: center;
    //     border-radius: 50px;
    //     background:rgba(0,0,0,.6);
    //   }
    //   .btn-item-remove {
    //     position: absolute;
    //     top:18px;
    //     left:18px;
    //     display:none;
    //     width:14px;
    //     height:13px;
    //   }
    //   .info {
    //     float:left;
    //     height:50px;
    //     dt {
    //       padding:5px 0 10px 0;
    //       font-size: 16px;
    //     }
    //     dd {
    //       color:@border-gray;
    //     }
    //   }
    //   &:hover {
    //     .overlay, .btn-item-remove {
    //       display: block;
    //     }
    //   }
    // }

  }
  .set-action {
    clear:both;
    margin-top: 50px;
    padding-top:40px;
    border-top:1px #EBEDF2 solid;
    text-align: center;
    .lbf-button {
      width:118px;
      margin:0 10px;
      line-height: 43px;
      font-size: 16px;
    }
  }
}