
/**
* 此处放需要共用的CSS内容
*/


.icon-clear {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
  //background-image: url(../images/icon-clear.svg);
  background-image: url(../../images/icon-clear.svg);
  background-size: 15px 15px;
}

.error-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  //margin-left: -80px;
  //width: 100%;
  padding: 15px 10px;
  //padding-left: 10px;
  //padding-right: 10px;
  //height: 65px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background: #232323;
  border-radius: 10px;
  text-align: center;
  //line-height: 65px;
  vertical-align: middle;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  display: block;
  z-index: 1000;
}