/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.item-selector {
  width: 400px;
  background-color: #ffffff ff;
}
.item-selector .title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.item-selector .title div {
  font-size: 16px;
}
.item-selector .icon-srv-label-close {
  cursor: pointer;
}
.item-selector .selected {
  font-size: 14px;
  line-height: 25px;
  height: 32px;
}
.item-selector .selected span {
  color: #1171ee;
}
.item-selector .selected span b {
  font-weight: normal;
}
.item-selector .selected .items {
  float: right;
  margin-top: 0px;
}
.item-selector .selected .items .item {
  float: left;
  text-align: center;
  border: 0px solid;
  background: #e4e8ea;
  border-radius: 25px;
  margin-left: 10px;
  padding-left: 12px;
  padding-right: 20px;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 25px;
  position: relative;
  font-size: 14px;
}
.item-selector .selected .items .item i {
  position: absolute;
  right: 6px;
  top: 8px;
}
.item-selector .list {
  position: relative;
  clear: both;
}
.item-selector .list .lbf-autocomplete-panel {
  width: 398px;
  height: 277px;
  overflow-y: auto;
  margin-left: 1px;
}
.item-selector .list .border {
  border: 1px solid #0067ed;
  border-top: 0;
}
.item-selector .list .default-border {
  border: 1px solid #dadee7;
  border-top: 0;
}
.item-selector .list .item-selector-content {
  height: 277px;
}
.item-selector .list .item-selector-content .items-default {
  position: relative;
  font-size: 14px;
  height: 227px;
  width: 398px;
}
.item-selector .list .item-selector-content .items-default .default-left-section {
  position: absolute;
  left: 0;
  top: 0;
  height: 277px;
  width: 95px;
  background-color: #f5f5f5;
}
.item-selector .list .item-selector-content .items-default .default-left-section .default-left-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  height: 277px;
}
.item-selector .list .item-selector-content .items-default .default-right-section {
  position: absolute;
  left: 95px;
  top: 0;
  height: 277px;
  width: 303px;
  width: 303px \9;
  background: #fff;
}
.item-selector .list .item-selector-content .items-default .default-right-section .default-right-wrapper {
  width: 100%;
  overflow: hidden;
  z-index: 222;
  overflow-y: auto;
  overflow-x: hidden;
  height: 277px;
}
.item-selector .list .item-selector-content .items-default .default-right-section .default-right-wrapper .classification-content li {
  width: 100%;
  z-index: 9999999999999999999999999;
}
.item-selector .list .item-selector-content .items-default .classification {
  float: left;
  width: 100%;
  background: #f4f6f9;
}
.item-selector .list .item-selector-content .items-default .classification li {
  height: 35px;
  padding-left: 20px;
  line-height: 35px;
  cursor: pointer;
}
.item-selector .list .item-selector-content .items-default .classification li.selected {
  background: #ffffff;
}
.item-selector .list .item-selector-content .items-default .classification li:hover {
  background: #ffffff;
}
.item-selector .list .item-selector-content .items-default .classification-content {
  z-index: 3;
  overflow: hidden;
  position: relative;
}
.item-selector .list .item-selector-content .items-default .classification-content li {
  height: 35px;
  line-height: 35px;
  padding-left: 35px;
  cursor: pointer;
}
.item-selector .list .item-selector-content .items-default .classification-content li:hover {
  background: #f5fafe;
}
.item-selector .list .item-selector-content .items-search {
  clear: both;
  background: #FFF6D9;
  width: 100%;
  top: -38px;
  height: 277px;
  overflow: hidden;
  position: absolute;
}
