/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.members-select-search {
  height: 55px;
}
.members-select-box {
  overflow: auto;
  border: 1px solid #dadee7;
  background-color: #ffffff;
}
.lbf-dropdown .members-select-box {
  height: 280px;
}
#memberSelectComp .members-select-box {
  height: 448px;
  position: relative;
}
.members-select-box a.curSelectedNode {
  background: url(../../lbfUI/images/ICheckbox/checked.png) no-repeat 100%;
}
.members-select-text {
  height: 55px;
  line-height: 40px;
}
.members-select-title {
  height: 45px;
  line-height: 45px;
  padding-left: 13px;
  border-bottom: 1px solid #b4b7bf;
  font-size: 16px;
}
.members-select-container {
  position: absolute;
  background-color: #ffffff;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.members-select-list {
  height: 20px;
  line-height: 20px;
  padding: 7px;
  position: relative;
  cursor: default;
}
.members-select-list:hover {
  background-color: #f5fafe;
}
.members-select-list:hover .icon-clear {
  visibility: visible;
}
.members-select-list .icon-clear {
  background: url("images/icon-clear.png") no-repeat center;
  position: absolute;
  top: 7px;
  right: 7px;
  visibility: hidden;
}
.members-select-list span.icon {
  vertical-align: top;
  margin-right: 5px;
}
.members-select-list.disabled {
  opacity: 0.35;
  filter: alpha(opacity=35);
  *zoom: 1;
  background-color: #ffffff;
}
.members-select-list.disabled .icon-clear {
  visibility: hidden;
}
.depart-select-title {
  height: 40px;
}
.depart-select-title h5 {
  text-align: center;
  margin-top: -20px;
  color: #b4b7bf;
  font-size: 14px;
}
.depart-select-title h6 {
  float: left;
}
.depart-select-title .highlight {
  color: #00cc26;
  float: right;
}
.depart-select-box {
  height: 250px;
  border: 1px solid #dadee7;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.depart-select-box a.curSelectedNode {
  background: url(../../lbfUI/images/ICheckbox/checked.png) no-repeat 100%;
}
.range-select-title {
  height: 25px;
}
.range-select-title h6 {
  display: inline;
}
.range-select-title .highlight {
  font-size: 100%;
  color: #00cc26;
}
.range-select-box {
  height: 222px;
  border: 1px solid #dadee7;
  background-color: #ffffff;
}
.range-select-selected {
  padding-bottom: 15px;
}
.range-select-selected .selector {
  margin-right: 10px;
}
