

.icon-info-cards {
    display: inline-block; font: 0/0 a; color: transparent; overflow: hidden;
    background: url("../infoClient/images/info-cards-icons.png?201662") no-repeat;
	background-size:36px auto;
}


    
    
    
    
.icon-info-cards-auth-small:extend(.icon-info-cards) {
    width: 12px;
    height: 13px;
    background-position: 0px -174px;
}        
    

    
    
    
    
.icon-info-cards-auth:extend(.icon-info-cards) {
    width: 16px;
    height: 18px;
    background-position: 0px -245px;
}        
    

    
    
    
    
.icon-info-cards-call:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -42px;
}        
    

    
    
    
    
.icon-info-cards-call1:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -64px;
}        
    

    
    
    
    
.icon-info-cards-close:extend(.icon-info-cards) {
    width: 11px;
    height: 11px;
    background-position: 0px 0px;
}        
    

    
    
    
    
.icon-info-cards-email:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -86px;
}        
    

    
    
    
    
.icon-info-cards-email1:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -108px;
}        
    

    
    
    
    
.icon-info-cards-mark-wx:extend(.icon-info-cards) {
    width: 14px;
    height: 14px;
    background-position: 0px -221px;
}        
    

    
    
    
    
.icon-info-cards-min:extend(.icon-info-cards) {
    width: 11px;
    height: 11px;
    background-position: 0px -21px;
}        
    

    
    
    
    
.icon-info-cards-mp:extend(.icon-info-cards) {
    width: 14px;
    height: 14px;
    background-position: 0px -197px;
}        
    

    
    
    
    
.icon-info-cards-phone:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -152px;
}        
    

    
    
    
    
.icon-info-cards-phone1:extend(.icon-info-cards) {
    width: 12px;
    height: 12px;
    background-position: 0px -130px;
}        
    

    
    
    
    
.icon-info-cards-view-close:extend(.icon-info-cards) {
    width: 36px;
    height: 36px;
    background-position: 0px -301px;
}        
    

    
    
    
    
.icon-info-cards-view-info:extend(.icon-info-cards) {
    width: 18px;
    height: 18px;
    background-position: 0px -273px;
}        
    
