/**
 * 
 * @extend.less
 * @author xinxuzhang 
 * @create 14-11-07
 */

/* ======= for extend ======= */
/* 基于display:table-cell的自适应布局 */
.cell { .cell; }
/* 双栏自适应cell部分连续英文字符换行 */
.cell-bk { .cell-bk; }
/* 单行文字溢出虚点显 示*/
.ell { .ell; }
/* 隐藏 */
.clip { .clip; }
/* 块状元素水平居中 */
.auto { .auto; }
/* 大小不定元素垂直居中 */
.middle { .middle; }
/* transition过渡 */
.trans { .trans(250); }
/* 没有结果 */
.no-result { .p; .tc; .gray; }
/* disabled */
.disabled { 
  opacity: .4;
  filter: alpha(opacity=40);
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
}
