/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */

// colors
@blue: #0067ed;
@dark-blue: #0056c7;
@bright-blue: #197dff;
@gray: #66686c;
@light-gray: #b4b7bf;
@green: #00CC26;
@orange: #ff9232;
@light-green: #27b794;
@white: #fff;
@light: #ebedf2;
@dark: #1e2330;
@black: #1e2330;
@red: #ff4222;
@error-red: #ff4222;

// image path
@images: "images";

/**
 * Font Colors
 */
@font: @dark;
// hightlight
@font-hl: @bright-blue;
// secondary
@font-sc: @gray;
// disabled
@font-disabled: @light-gray;

/**
 * Background Colors
 */
@bg-normal: @white;
// hover
@bg-hover: #f5fafe;
// select
@bg-select: #d3e9ff;


// todo
// 这里还要整理下
// spec
@link: @blue;
@link-hover: @dark-blue;

@body-bg: #f4f6f9;
@nav-bg: @black;
@nav-active: @white;
@nav-hover: #151922;
@nav-border: @blue;
@nav-color: #7b8396;
@nav-title-color: #798498;
@header-nav-bg: #2c333c;

@border-color: #dadee7;
@border-hover: #a8abb3;
@border-gray: #a8abb3;
@border-normal: #dadee7;
@border-selected: @bright-blue;
 
@bg-gray: #f4f6f9;
@bg-green: #3eb593;

@header-hover: #6D97E3;
@list-hover: @bg-hover;
@list-hover-text: @font;
@list-selected: @bg-select;
@disabled: #aab0b2;

@split-line: #e5e5e5;
@split-line-in-td: #e6e6e6;
