/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.lbf-button {
  line-height: 38px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: #1e2330;
  border: 1px solid #dadee7;
  border-radius: 2px;
  padding: 0 15px;
  min-width: 50px;
  background: #ffffff no-repeat center;
  -webkit-transition: border-color 0.25s, background-color 0.25s;
  transition: border-color 0.25s, background-color 0.25s;
}
big > .lbf-button,
big.lbf-button,
.lbf-button-big {
  line-height: 43px;
  min-width: 118px;
  font-size: 16px;
}
div.lbf-button {
  *display: inline;
  *zoom: 1;
}
input.lbf-button,
button.lbf-button {
  overflow: visible;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  font-family: inherit;
}
.lbf-button:hover {
  color: #1e2330;
  border-color: #a8abb3;
  text-decoration: none;
}
.lbf-button:active {
  background-color: #ebedf2;
}
.lbf-button-disabled {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
}
.lbf-button-disabled * {
  cursor: default;
}
.lbf-button-disabled,
.lbf-button-disabled:hover,
.lbf-button-disabled:active,
.lbf-button-loading,
.lbf-button-loading:hover,
.lbf-button-loading:active {
  border-color: #dadee7;
  background-color: #ffffff;
}
.lbf-button-primary,
.lbf-button-primary.lbf-button-disabled,
.lbf-button-primary.lbf-button-disabled:hover,
.lbf-button-primary.lbf-button-disabled:active,
.lbf-button-primary.lbf-button-loading:hover,
.lbf-button-primary.lbf-button-loading:active {
  border: 1px solid #0067ed;
  background-color: #0067ed;
  color: #ffffff;
}
.lbf-button-primary:hover {
  background-color: #197dff;
  border-color: #197dff;
  color: #ffffff;
}
.lbf-button-primary:active {
  background-color: #0056c7;
  border-color: #0056c7;
}
.lbf-button-success,
.lbf-button-success.lbf-button-disabled,
.lbf-button-success.lbf-button-disabled:hover,
.lbf-button-success.lbf-button-disabled:active,
.lbf-button-success.lbf-button-loading:hover,
.lbf-button-success.lbf-button-loading:active {
  border: 1px solid #00cc26;
  background-color: #00cc26;
  color: #ffffff;
}
.lbf-button-success:hover {
  background-color: #00cc26;
  border-color: #00cc26;
}
.lbf-button-success:active {
  background-color: #00cc26;
  border-color: #00cc26;
}
.lbf-button-warning,
.lbf-button-warning.lbf-button-disabled,
.lbf-button-warning.lbf-button-disabled:hover,
.lbf-button-warning.lbf-button-disabled:active,
.lbf-button-warning.lbf-button-loading:hover,
.lbf-button-warning.lbf-button-loading:active {
  border: 1px solid #ff4222;
  background-color: #ff4222;
  color: #ffffff;
}
.lbf-button-warning:hover {
  background-color: #ff684f;
  border-color: #ff684f;
  color: #ffffff;
}
.lbf-button-warning:active {
  background-color: #e63c1e;
  border-color: #e63c1e;
}
.lbf-button-loading {
  color: transparent!important;
  cursor: default;
  pointer-events: none;
}
.lbf-button.lbf-button-loading {
  background-image: url(../images/Button/loading.gif);
}
.lbf-button-primary.lbf-button-loading {
  background-image: url(../images/Button/loading-primary.gif);
}
.lbf-button-warning.lbf-button-loading {
  background-image: url(../images/Button/loading-warning.gif);
}
