.lbf-iradio {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/ICheckbox/checkbox.png) no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}
.lbf-iradio {
  background-position: 0 -100px;
}
.lbf-iradio:hover {
  background-position: 0 -180px;
}
.lbf-iradio.lbf-iradio-checked {
  background-position: 0 -120px;
}
.lbf-iradio.lbf-iradio-disabled {
  background-position: 0 -140px;
  cursor: default;
  pointer-events: none;
}
.lbf-iradio-checked.lbf-iradio-disabled {
  background-position: 0 -160px;
}
.lbf-iradio input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.lbf-iradio + label {
  margin-left: 5px;
  vertical-align: -2px;
}
