/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.lbf-light-tip {
  position: fixed!important;
  top: 0!important;
  left: 50%!important;
  margin-left: -215px;
  width: 400px;
  height: 20px;
  line-height: 20px;
  padding: 15px;
  border-radius: 2px;
  background-color: #00cc26;
  text-align: center;
  color: #ffffff;
  z-index: 99;
  font-size: 14px;
}
.lbf-light-tip .icon {
  vertical-align: -2px;
  margin-right: 6px;
  background: url(../images/LightTip/tip.png) no-repeat 0 6px;
}
.lbf-light-tip-error .icon {
  background-position: 0 -35px;
}
.lbf-light-tip-error {
  background-color: #ff4222;
}
.lbf-light-tip-normal {
  border: 1px solid #dadee7;
  background-color: #ffffff;
  color: #1e2330;
}
