/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
:root .page {
  overflow: hidden;
}
.header {
  height: 70px;
  line-height: 70px;
  background-color: #1e2330;
  position: relative;
}
.header a {
  cursor: pointer;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.header-logo {
  float: left;
  padding: 0 30px;
  -webkit-transition: padding .25s;
  transition: padding .25s;
}
.header-logo-a {
  display: block;
  width: 138px;
  background: url(images/logo-s.png) no-repeat left center;
  text-indent: -9em;
  overflow: hidden;
}
.page-small .header-logo {
  padding: 0 14px 0 16px;
}
.page-small .header-logo-a {
  width: 39px;
}
@media screen and (max-width: 1340px) {
  .header-logo {
    padding: 0 14px 0 16px;
  }
  .header-logo-a {
    width: 39px;
  }
}
.header-nav-li {
  float: left;
  min-width: 39px;
  padding: 0 23px;
  font-size: 18px;
  text-align: center;
  color: #7b8396;
  position: relative;
}
.header-nav-li:hover {
  color: #7b8396;
  background-color: #151922;
}
.header-nav-active,
.header-nav-active:hover {
  color: #ffffff;
}
.header-nav-active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-bottom: 4px solid #0067ed;
}
/* slide */
.slide {
  width: 199px;
  padding: 10px 0;
  border-right: 1px solid #ebedf2;
  background-color: #ffffff;
  position: absolute;
  top: 70px;
  bottom: 0;
  -webkit-transition: width .25s;
  transition: width .25s;
  white-space: nowrap;
  z-index: 5;
}
.slide-adjust-90 {
  top: 90px;
}
[class^='icon-nav-'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: transparent;
  background: url("../../../themes/blue/common/images/icons-nav.png?2016617") no-repeat;
}
[class^='icon-nav-']:after {
  content: '\3000';
}
.icon-nav-QQJoin {
  background-position: 0px -20px;
}
.icon-nav-account {
  background-position: 0px -1080px;
}
.icon-nav-ana {
  background-position: 0px -40px;
}
.icon-nav-auto {
  background-position: 0px -60px;
}
.icon-nav-bag {
  background-position: 0px -80px;
}
.icon-nav-belong {
  background-position: 0px -100px;
}
.active .icon-nav-QQJoin,
a:hover .icon-nav-QQJoin {
  background-position: 0px -120px;
}
.active .icon-nav-account,
a:hover .icon-nav-account {
  background-position: 0px -140px;
}
.active .icon-nav-ana,
a:hover .icon-nav-ana {
  background-position: 0px -160px;
}
.active .icon-nav-auto,
a:hover .icon-nav-auto {
  background-position: 0px -180px;
}
.active .icon-nav-bag,
a:hover .icon-nav-bag {
  background-position: 0px -200px;
}
.active .icon-nav-belong,
a:hover .icon-nav-belong {
  background-position: 0px -220px;
}
.active .icon-nav-build,
a:hover .icon-nav-build {
  background-position: 0px -240px;
}
.active .icon-nav-circleHot,
a:hover .icon-nav-circleHot {
  background-position: 0px -260px;
}
.active .icon-nav-codeDeploy,
a:hover .icon-nav-codeDeploy {
  background-position: 0px -280px;
}
.active .icon-nav-comment,
a:hover .icon-nav-comment {
  background-position: 0px -300px;
}
.active .icon-nav-constr,
a:hover .icon-nav-constr {
  background-position: 0px -320px;
}
.active .icon-nav-content,
a:hover .icon-nav-content {
  background-position: 0px -340px;
}
.active .icon-nav-crowd,
a:hover .icon-nav-crowd {
  background-position: 0px -360px;
}
.active .icon-nav-customAnalyse,
a:hover .icon-nav-customAnalyse {
  background-position: 0px -380px;
}
.active .icon-nav-customGroup,
a:hover .icon-nav-customGroup {
  background-position: 0px -400px;
}
.active .icon-nav-customImport,
a:hover .icon-nav-customImport {
  background-position: 0px -420px;
}
.active .icon-nav-customManage,
a:hover .icon-nav-customManage {
  background-position: 0px -440px;
}
.active .icon-nav-da-page,
a:hover .icon-nav-da-page {
  background-position: 0px -460px;
}
.active .icon-nav-da-site,
a:hover .icon-nav-da-site {
  background-position: 0px -480px;
}
.active .icon-nav-da-src,
a:hover .icon-nav-da-src {
  background-position: 0px -500px;
}
.active .icon-nav-da-visitor,
a:hover .icon-nav-da-visitor {
  background-position: 0px -520px;
}
.active .icon-nav-data,
a:hover .icon-nav-data {
  background-position: 0px -540px;
}
.active .icon-nav-earth,
a:hover .icon-nav-earth {
  background-position: 0px -560px;
}
.active .icon-nav-file,
a:hover .icon-nav-file {
  background-position: 0px -580px;
}
.active .icon-nav-financeManage,
a:hover .icon-nav-financeManage {
  background-position: 0px -600px;
}
.active .icon-nav-first,
a:hover .icon-nav-first {
  background-position: 0px -620px;
}
.active .icon-nav-group,
a:hover .icon-nav-group {
  background-position: 0px -640px;
}
.active .icon-nav-groupAccept,
a:hover .icon-nav-groupAccept {
  background-position: 0px -660px;
}
.active .icon-nav-groupSend,
a:hover .icon-nav-groupSend {
  background-position: 0px -680px;
}
.active .icon-nav-gsAnalysis,
a:hover .icon-nav-gsAnalysis {
  background-position: 0px -700px;
}
.active .icon-nav-hotword,
a:hover .icon-nav-hotword {
  background-position: 0px -720px;
}
.active .icon-nav-keyword,
a:hover .icon-nav-keyword {
  background-position: 0px -740px;
}
.active .icon-nav-landing,
a:hover .icon-nav-landing {
  background-position: 0px -760px;
}
.active .icon-nav-log,
a:hover .icon-nav-log {
  background-position: 0px -780px;
}
.active .icon-nav-menu,
a:hover .icon-nav-menu {
  background-position: 0px -800px;
}
.active .icon-nav-mouse,
a:hover .icon-nav-mouse {
  background-position: 0px -820px;
}
.active .icon-nav-msg,
a:hover .icon-nav-msg {
  background-position: 0px -840px;
}
.active .icon-nav-msgMaterial,
a:hover .icon-nav-msgMaterial {
  background-position: 0px -860px;
}
.active .icon-nav-myCrowd,
a:hover .icon-nav-myCrowd {
  background-position: 0px -880px;
}
.active .icon-nav-paidAnalysis,
a:hover .icon-nav-paidAnalysis {
  background-position: 0px -900px;
}
.active .icon-nav-pay,
a:hover .icon-nav-pay {
  background-position: 0px -920px;
}
.active .icon-nav-phone,
a:hover .icon-nav-phone {
  background-position: 0px -940px;
}
.active .icon-nav-pie,
a:hover .icon-nav-pie {
  background-position: 0px -960px;
}
.active .icon-nav-rank,
a:hover .icon-nav-rank {
  background-position: 0px -980px;
}
.active .icon-nav-recive,
a:hover .icon-nav-recive {
  background-position: 0px -1000px;
}
.active .icon-nav-relation,
a:hover .icon-nav-relation {
  background-position: 0px -1020px;
}
.active .icon-nav-send,
a:hover .icon-nav-send {
  background-position: 0px -1040px;
}
.active .icon-nav-similar,
a:hover .icon-nav-similar {
  background-position: 0px -1060px;
}
.active .icon-nav-similarGroup,
a:hover .icon-nav-similarGroup {
  background-position: 0px 0px;
}
.active .icon-nav-store,
a:hover .icon-nav-store {
  background-position: 0px -1100px;
}
.active .icon-nav-trend,
a:hover .icon-nav-trend {
  background-position: 0px -1120px;
}
.active .icon-nav-verify,
a:hover .icon-nav-verify {
  background-position: 0px -1140px;
}
.active .icon-nav-visitorPath,
a:hover .icon-nav-visitorPath {
  background-position: 0px -1160px;
}
.active .icon-nav-windChimes,
a:hover .icon-nav-windChimes {
  background-position: 0px -1180px;
}
.icon-nav-build {
  background-position: 0px -1200px;
}
.icon-nav-circleHot {
  background-position: 0px -1220px;
}
.icon-nav-codeDeploy {
  background-position: 0px -1240px;
}
.icon-nav-comment {
  background-position: 0px -1260px;
}
.icon-nav-constr {
  background-position: 0px -1280px;
}
.icon-nav-content {
  background-position: 0px -1300px;
}
.icon-nav-crowd {
  background-position: 0px -1320px;
}
.icon-nav-customAnalyse {
  background-position: 0px -1340px;
}
.icon-nav-customGroup {
  background-position: 0px -1360px;
}
.icon-nav-customImport {
  background-position: 0px -1380px;
}
.icon-nav-customManage {
  background-position: 0px -1400px;
}
.icon-nav-da-page {
  background-position: 0px -1420px;
}
.icon-nav-da-site {
  background-position: 0px -1440px;
}
.icon-nav-da-src {
  background-position: 0px -1460px;
}
.icon-nav-da-visitor {
  background-position: 0px -1480px;
}
.icon-nav-data {
  background-position: 0px -1500px;
}
.icon-nav-earth {
  background-position: 0px -1520px;
}
.icon-nav-file {
  background-position: 0px -1540px;
}
.icon-nav-financeManage {
  background-position: 0px -1560px;
}
.icon-nav-first {
  background-position: 0px -1580px;
}
.icon-nav-group {
  background-position: 0px -1600px;
}
.icon-nav-groupAccept {
  background-position: 0px -1620px;
}
.icon-nav-groupSend {
  background-position: 0px -1640px;
}
.icon-nav-gsAnalysis {
  background-position: 0px -1660px;
}
.icon-nav-hotword {
  background-position: 0px -1680px;
}
.icon-nav-keyword {
  background-position: 0px -1700px;
}
.icon-nav-landing {
  background-position: 0px -1720px;
}
.icon-nav-log {
  background-position: 0px -1740px;
}
.icon-nav-menu {
  background-position: 0px -1760px;
}
.icon-nav-mouse {
  background-position: 0px -1780px;
}
.icon-nav-msg {
  background-position: 0px -1800px;
}
.icon-nav-msgMaterial {
  background-position: 0px -1820px;
}
.icon-nav-myCrowd {
  background-position: 0px -1840px;
}
.icon-nav-paidAnalysis {
  background-position: 0px -1860px;
}
.icon-nav-pay {
  background-position: 0px -1880px;
}
.icon-nav-phone {
  background-position: 0px -1900px;
}
.icon-nav-pie {
  background-position: 0px -1920px;
}
.icon-nav-rank {
  background-position: 0px -1940px;
}
.icon-nav-recive {
  background-position: 0px -1960px;
}
.icon-nav-relation {
  background-position: 0px -1980px;
}
.icon-nav-send {
  background-position: 0px -2000px;
}
.icon-nav-similar {
  background-position: 0px -2020px;
}
.icon-nav-similarGroup {
  background-position: 0px -2040px;
}
.icon-nav-store {
  background-position: 0px -2060px;
}
.icon-nav-trend {
  background-position: 0px -2080px;
}
.icon-nav-verify {
  background-position: 0px -2100px;
}
.icon-nav-visitorPath {
  background-position: 0px -2120px;
}
.icon-nav-windChimes {
  background-position: 0px -2140px;
}
.slide-dl {
  margin: 15px 0;
  line-height: 20px;
  overflow: hidden;
}
.slide-dl:hover {
  overflow: visible;
}
.slide-dt {
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  color: #66686c;
  -webkit-transition: height .15s;
  transition: height .15s;
}
.slide-dd-a {
  display: block;
  line-height: 20px;
  padding: 15px 30px;
  font-size: 15px;
  color: #1e2330;
  -webkit-transition: color .15s;
  transition: color .15s;
}
.slide-dd-a:hover,
.active .slide-dd-a {
  color: #0067ed;
}
.slide-dd-a > i {
  margin-right: 12px;
}
/* content */
.content {
  margin-left: 199px;
  border-left: 1px solid #ebedf2;
  margin-right: calc(100% - 100vw);
}
.slide[style*='height'] + .content {
  border-left-color: transparent;
}
.page-small .slide {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.page-small .content {
  margin-right: 0;
  margin-left: 69px;
}
.page-small .slide-unopen {
  width: 69px;
  padding-top: 15px;
  padding-bottom: 5px;
  box-shadow: none;
}
.page-small .slide-unopen .slide-dt {
  width: 50px;
  height: 0;
  padding: 0;
  margin: 0 auto;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}
.page-small .slide-unopen .slide-dl + .slide-dl > .slide-dt {
  border-bottom: 1px solid #ebedf2;
}
.page-small .slide-unopen .slide-dd-a {
  width: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: transparent;
  -webkit-transition: none;
  transition: none;
}
.page-small .slide-unopen .slide-dd-a:after {
  content: attr(data-title);
  display: none;
  line-height: 20px;
  position: absolute;
  left: 70px;
  padding: 5px 10px;
  margin: -7px 0 0 6px;
  border-radius: 2px;
  background-color: #1e2330;
  font-size: 12px;
  color: #fff;
}
.page-small .slide-unopen .slide-dd-a:before {
  content: '';
  display: none;
  position: absolute;
  left: 70px;
  width: 0;
  height: 0;
  margin: 2px 0 0 -6px;
  border: 6px solid transparent;
  border-right-color: #1e2330;
  overflow: hidden;
}
.page-small .slide-unopen .slide-dd-a:hover:after,
.page-small .slide-unopen .slide-dd-a:hover:before {
  display: inline;
}
.page-small .slide-unopen .slide-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 30px;
  text-align: center;
}
.page-small .slide-unopen .slide-toggle:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin: 10px 0 0 6px;
  border: 6px solid transparent;
  border-left-color: #dadee7;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
  overflow: hidden;
}
.page-small .slide-unopen .slide-toggle:hover:before {
  border-left-color: #a8abb3;
}
@media screen and (max-width: 1340px) {
  .slide {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }
  .content {
    margin-right: 0;
    margin-left: 69px;
  }
  .slide-unopen {
    width: 69px;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: none;
  }
  .slide-unopen .slide-dt {
    width: 50px;
    height: 0;
    padding: 0;
    margin: 0 auto;
    font-size: 0;
    color: transparent;
    overflow: hidden;
  }
  .slide-unopen .slide-dl + .slide-dl > .slide-dt {
    border-bottom: 1px solid #ebedf2;
  }
  .slide-unopen .slide-dd-a {
    width: 20px;
    padding-left: 24px;
    padding-right: 24px;
    color: transparent;
    -webkit-transition: none;
    transition: none;
  }
  .slide-unopen .slide-dd-a:after {
    content: attr(data-title);
    display: none;
    line-height: 20px;
    position: absolute;
    left: 70px;
    padding: 5px 10px;
    margin: -7px 0 0 6px;
    border-radius: 2px;
    background-color: #1e2330;
    font-size: 12px;
    color: #fff;
  }
  .slide-unopen .slide-dd-a:before {
    content: '';
    display: none;
    position: absolute;
    left: 70px;
    width: 0;
    height: 0;
    margin: 2px 0 0 -6px;
    border: 6px solid transparent;
    border-right-color: #1e2330;
    overflow: hidden;
  }
  .slide-unopen .slide-dd-a:hover:after,
  .slide-unopen .slide-dd-a:hover:before {
    display: inline;
  }
  .slide-unopen .slide-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    text-align: center;
  }
  .slide-unopen .slide-toggle:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin: 10px 0 0 6px;
    border: 6px solid transparent;
    border-left-color: #dadee7;
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
    overflow: hidden;
  }
  .slide-unopen .slide-toggle:hover:before {
    border-left-color: #a8abb3;
  }
}
