/**
 * 
 * @variable.less
 * @author xinxuzhang 
 * @create 14-11-07
 */
/**
 * Font Colors
 */
/**
 * Background Colors
 */
.members-select-box {
  width: 450px;
  height: 375px;
  text-align: left;
}
.members-select-box .table-loading {
  position: relative;
  top: 50%;
}
.members-select-box .table-loading s.loading {
  margin-top: -15px;
}
.members-select-box .table-loading.normal {
  position: static;
}
.members-select-box .table-loading.normal s.loading {
  margin-top: 0;
}
.members-select-box li {
  border-bottom: 1px #EBEDF2 solid;
  height: 74px;
  overflow: hidden;
  cursor: pointer;
}
.members-select-box li .member-info {
  width: 240px;
  height: 50px;
  margin-top: 12px;
  margin-left: 15px;
  float: left;
  overflow: hidden;
}
.members-select-box li .member-info-img {
  margin-right: 15px;
}
.members-select-box li .member-info b,
.members-select-box li .member-info span {
  width: 170px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.members-select-box li .member-info b {
  margin-top: 5px;
  color: #1e2330;
  font-size: 16px;
  font-weight: normal;
}
.members-select-box li .member-info span {
  color: #a8abb3;
}
.members-select-box li .member-info-img {
  float: left;
}
.members-select-box li .member-info-img > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.members-select-box li .lbf-itextbox {
  margin-top: 30px;
  margin-right: 15px;
  color: #a8abb3;
  float: right;
}
.members-select-box li .lbf-icheckbox {
  margin-top: 27px;
  margin-right: 15px;
  float: right;
}
.members-select-box li:hover {
  background-color: #F5FAFE;
}
.members-select-box li.single .lbf-icheckbox {
  display: none;
}
.members-select-box li.selected {
  background-color: #d3e9ff;
}
.members-select-box li.selected .lbf-icheckbox {
  background-position: 0 -20px;
}
.members-select-box .list-null {
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 26px;
  margin-left: -45px;
  margin-top: -13px;
  position: absolute;
  text-align: center;
  cursor: default;
}
