@gray: #EBEDF2;
@Darkgray: #A8ABB3;
@borderColor: #dce0e9;
@blue: #0067ED;
@red: #ff4222;
@green: #00cc26;
@tableGray: #F8FAFB;
@fontGray: #66686c;

.news_detail {
	.left_side {
		padding-right: 30px;
		width: 620px !important;
	}
	.current_pos {
		margin-top: 14px;
	}
	.news_content_title {
		h2 {
			font-size: 24px;
			font-weight: bold;
			line-height: 30px;
			height: 30px;
			text-align: center;
		}
		.news_info {
			font-weight: bold;
			text-align: center;
			margin: 15px 0;
			.click_num {
				margin-left: 50px;
			}
		}
		.news_content_detail {
			p {
				text-indent: 2em;
			}
		}
	}
}