<% 
    include('./widget/top',{
    	title: '滴滴校园平台',
        locals: local,
        css: ['static_proxy/themes/blue/homepage.css','static_proxy/themes/blue/homepage/homepage-sprite.css','static_proxy/themes/blue/base/jquery.slideBox.css']   
    }); 
%>
<div id="p_homepage">
	<div class="header">
		<div class="nav">
			<div class="logo">
				滴滴校园平台
			</div>
			<a class="header-logout" href="javascript:void(0);" title="退出登录">
				<i class="icon-logout">退出登录</i>
			</a>
			<div class="userinfo">
				<img src="/public/avatars/profile.jpg" class="avatar"/><span class="user-name">刘慈文</span>
			</div>
			<ul class="menu">
				<li>
					<a href="/index" class="active">首页</a>
				</li>
				<li>
					<a href="/express/">e速递</a>
				</li>
				<li>
					<a href="/ereader/">e图书</a>
				</li>
				<li>
					<a href="/express/">e资讯</a>
				</li>
				<li>
					<a href="/usercenter/">个人中心</a>
				</li>
			</ul>
			
			
		</div>		
	</div>
	<div class="module_tabs">
		<div class="notice">
			<div class="icon-clock"></div>
			<div class="notice_msg">适度休息，注意天气
			</div>
			<div class="date">
				<span class="day">
					2016年10月23日
				</span>
				<span class="weekday">
					星期三
				</span>
			</div>
		</div>

		<div class="part_links">
			<span class="btn_add">
				<i class="icon-add-btn"></i>
			</span>
			<ul class="added_links">
				<li>一键拼车</li>
			</ul>
		</div>
	</div>
	<div class="slide_area">
		<div class="slideBox">
		  <ul class="items">
		    <li><a href="http://www.jq22.com/" title="联合国住房和城市可持续发展大会上的“同济声音”"><img src="static_proxy/themes/blue/homepage/images/slide1.png"></a></li>
		    <li><a href="http://www.jq22.com/" title="学校党委制定校领导班子成员行为要求"><img src="static_proxy/themes/blue/homepage/images/slide2.jpg"></a></li>
		    <li><a href="http://www.jq22.com/" title="将最好的年华献给西部"><img src="static_proxy/themes/blue/homepage/images/slide3.jpg"></a></li>
		    <li><a href="http://www.jq22.com/" title="我校科技园孵化器联络员群像速写"><img src="static_proxy/themes/blue/homepage/images/slide4.jpg"></a></li>
		    <li><a href="http://www.jq22.com/" title="同济版歌剧《江姐》赴川巡演"><img src="static_proxy/themes/blue/homepage/images/slide5.jpg"></a></li>
		  </ul>
		</div>
		<div class="info">
			<h2><a href="" target="_blank">联合国第三次住房和城市可持续发展大会上的“同济声音”</a></h2>
			<div class="detail">
				　<a href="" target="_blank">
					举世瞩目的联合国第三次住房和城市可持续发展大会（简称“人居三”HabitatIII）于近日在厄瓜多尔首都基多（Quito，Ecuador）落幕。该大会每隔20年举办一次，是人居环境领域的全球盛事。本次大会上出现了同济人活跃的身影。同济师生在大会期间聆听并参与了多场高峰论坛与学术会议，向国际社会推介交流中国城镇化经验。	
				  </a>
			</div>
		</div>
		<div class="info">
			<h2><a href="" target="_blank">学校党委制定校领导班子成员行为要求</a></h2>
			<div class="detail">
				<a href="" target="_blank">
				　　10月16日，中共同济大学第十届委员会第七十一次常委会讨论通过了《同济大学领导班子成员行为要求》，这是学校党委贯彻落实中央全面从严治党要求，加强学校领导班子建设的一项新举措。
				</a>
			</div>
		</div>
		
		<div class="info">
			<h2><a href="" target="_blank">将最好的年华献给西部</a></h2>
			<div class="detail">
				<a href="" target="_blank">				　
				　　从2001年第一批同济学子肩负同济大学支教团的大旗奔赴西部开始支教活动，至今，已经过去了16年。一批又一批充满朝气的同济人，怀揣着青春的理想，用爱心包容，用足迹丈量，在最好的年华将自己扎根在了云南、四川、甘肃等省的土地上，践行自己青春的承诺。
				</a>
			</div>
		</div>
		<div class="info">
			<h2><a href="" target="_blank">联络员就是一根纽带——我校科技园孵化器联络员群像速写</a></h2>
			<div class="detail">	
				<a href="" target="_blank">			　
				　　一张张年轻的面庞，一阵阵爽朗的笑声，一句句朴实的话语，这是记者在半个月采访中对同济科技孵化器联络员们风采的基本印象。大学生创业创新现已经成为时代的滚滚大潮，但几个年轻的大学生从一个“工位”创业到成长为数百万、上千万、甚至是上亿元的企业，除了技术之外，期间他们面临的困难太多太多，于是联络员出现了......
				</a>
			</div>
		</div>
		<div class="info">
			<h2><a href="" target="_blank">同济版歌剧《江姐》赴川巡演</a></h2>
			<div class="detail">
				<a href="" target="_blank">
				　  “红岩上红梅开，千里冰霜脚下踩，三九严寒何所惧，一片丹心向阳开…….”10月14日下午，同济大学版歌剧《江姐》在四川省成都市西南剧院唱响，拉开了在四川巡演的帷幕。这是同济大学与四川省成都市共同开展“两学一做”学习教育的一项重要活动，也是校地合作的又一重要探索。
				</a>
			</div>
		</div>
		div
	</div>
	<div class="main_area">
		<div class="left_side">
			<div class="news_area">
				<h2>校园资讯</h2>
				<hr/>
				<ul class="news_list">
					<li class="news_item">
						<span class="newsitem_num">1</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">2</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								我校与上海国际问题研究院签署合作协议，双方将重点在智库研究领域开展合作
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">3</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								同济课题组成功获得漫反射率仅为0.19%的超级黑材料
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">4</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								为无人机再添一双“千里眼”，
								我校成功研发“无人机机载低空观测多光谱传感器”
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">5</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								联合国第三次住房和城市可持续发展大会上的同济声音
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">6</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								2017届沪高校首份就业协议书签约：同济学子加盟华为，今年华为招录同济毕业生破百。
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
					<li class="news_item">
						<span class="newsitem_num">7</span>
						<span class="newsitem_detail">
							<a href="" target="_blank">
								地质工程专业通过中国工程教育认证专家组现场考查
							</a>
						</span>
						<span class="newsitem_time">2016-10-25</span>
					</li>
				</ul>
			</div>
			<div class="selfapp">
				<div class="bg">
					<h2>自助服务</h2>
					<ul>
						<li>
							<a href="" target="_blank">
								<span class="i1"></span>
								<h3>流水查询</h3>
							</a>
						</li>
						<li>
							<a href="" target="_blank">
								<span class="i2"></span>
								<h3>校园卡转账</h3>
							</a>
						</li>
						<li>
							<a href="" target="_blank">
								<span class="i3"></span>
								<h3>校园卡挂失</h3>
							</a>
						</li>
						<li>
							<a href="" target="_blank">
								<span class="i4"></span>
								<h3>校园卡解挂</h3>
							</a>
						</li>
						<li>
							<a href="" target="_blank">
								<span class="i5"></span>
								<h3>失卡招领</h3>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right_side">
			<div class="losts">
				<div class="hd">
					<span><i></i>失物招领</span>
					<a href="" class="more" target="_blank">更多</a>
				</div>
				<div class="bd myscroll">
					<ul class="losts_list">
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">二食堂门口见到红色钱包一个，女式眼镜一副</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">图书馆门前捡到一张校园卡，卡号是1433889</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">学校大门有一本书，没有署名，笔迹系女生</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">一食堂餐桌上发现书包一个，黑色，内有图书5本</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">操场捡到钱包一个，黑色，男士钱包，内有身份证</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">软件学院304教室有同学忘掉的图书一本，软件工程</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">汽车学院，520教室有同学忘掉的耳机一副，红色耳机</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">新天地邮政局门口捡到钱包一个，黑色，女士钱包</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">操场捡到眼镜一副，镶边金丝眼镜，男士眼镜</a></li>
						<li class="losts_item"><a href="http://www.dowebok.com/68.html">图书馆捡到水杯一个，遗留在书桌台上，请找前台</a></li>
					</ul>
				</div>
			</div>
			<div class="schoolbus">
				<div class="hd">
					<span><i></i>校车查询</span>
					<a href="" class="more" target="_blank">详细</a>
				</div>
				<div class="bd">
					<label for="departure">始发校区</label>
					<select id="departure">
						<option value="1">四平校区</option>
						<option value="2">嘉定校区</option>
						<option value="3">沪西校区</option>
						<option value="4">沪北校区</option>
					</select>
					<label for="terminal ">到达校区</label>
					<select id="terminal">
						<option value="1">四平校区</option>
						<option value="2">嘉定校区</option>
						<option value="3">沪西校区</option>
						<option value="4">沪北校区</option>
					</select>
					<div class="lbf-button-warning">查询</div>

				</div>
			</div>
		</div>
	</div>
	<div class="home_footer">
        <p class="copyright">Copyright 2015-2016 frontendzhifei. All Rights Reserved. 前端大飞版权所有</p>
    </div>
</div>
<%
	include('./widget/bottom', {
		locals: local
	});
%>
<script type="text/javascript">
    LBF.use('qidian.sites.index.homePageController', function(homePageController) {
        new homePageController();
    });
</script>